@charset "utf-8";
/* CSS Document */
body {
	margin      : 0px;
	padding     : 0px;
	font-family : Arial, Helvetica, sans-serif;
	}

b {
	}

.container {
	width  : 996px;
	margin : 0 auto;
	height : auto;
	}

#top_cont {
	height : 110px;
	width  : 100%;
	}

#logo {
	float      : left;
	height     : auto;
	width      : auto;
	margin-top : 20px;
	}

#logo img {
	border : none;
	}

#search {
	float      : right;
	height     : auto;
	width      : auto;
	margin-top : 10px;
	font-size  : 14px;
	color      : #9a9a9a;
	text-align : right;
	}

#search img {
	vertical-align : middle;
	margin-right   : 5px;
	border         : none;
	}

.user_name {
	color : #333333;
	}

.logout {
	text-decoration : none;
	color           : #9a9a9a;
	}

.searchbox {
	background    : url(../images/search-icon.png) no-repeat center right;
	color         : #9a9a9a;
	width         : 200px;
	height        : 17px;
	margin-top    : 10px;
	border        : 0.1em solid #bababa;
	border-radius : 2px;
	}

#menu {
	list-style : none;
	position   : relative;
	padding    : 0px;
	height     : 42px;
	display    : block;
	width      : 100%;
	margin     : 0px;
	}

#menu li {
	clear    : both;
	display  : inline;
	position : absolute;
	}

.next {
	clear    : both;
	display  : inline;
	position : absolute;
	}

.list_button {
	text-decoration : none;
	}

.left {
	float      : left;
	width      : 40px;
	height     : 43px;
	background : url(../images/normal-left.png) left center no-repeat;
	}

.left_selected {
	background : url(../images/selected-left.png) left center no-repeat;
	}

.right {
	float      : left;
	width      : 40px;
	height     : 43px;
	background : url(../images/normal-right.png) left center no-repeat;
	}

.right_selected {
	background : url(../images/selected-right.png) left center no-repeat;
	}

.middle {
	float        : left;
	height       : 31px;
	background   : url(../images/normal-center.png) repeat-x;
	color        : #ffffff;
	padding      : 12px 0px 0px 0px;
	text-align   : center;
	font-size    : 16px;
	font-variant : normal;
	font-weight  : normal;
	}

.middle_selected {
	background : url(../images/selected-center.png) repeat-x;
	}

#menu_line {
	width      : 100%;
	border-top : 1px solid #6e6e6e;
	padding    : 0;
	margin     : 0;
	}

h1 {
	color        : #ce5c00;
	font-size    : 16px;
	font-weight  : bold;
	font-variant : normal;
	padding-top  : 10px;
	width        : auto;
	height       : auto;
	}

h2 {
	color        : #ce5c00;
	font-size    : 14px;
	font-weight  : bold;
	font-variant : normal;
	padding-top  : 10px;
	width        : auto;
	height       : auto;
	}

.gray {
	color : #555555;
	}

#dashboard {
	width    : 100%;
	height   : auto;
	display  : block;
	overflow : hidden;
	}

#dashboard:after {
	clear   : both;
	display : block;
	}

.col_one {
	float   : left;
	display : inline-block;
	width   : 390px;
	height  : auto
	}

.col_two {
	float       : left;
	display     : inline-block;
	width       : 390px;
	height      : auto;
	margin-left : 15px;
	}

.col_one ul {
	height     : auto;
	padding    : 0px 10px 0px 10px;
	margin     : 0;
	list-style : none;
	}

/* 22 */
.col_two ul {
	height     : auto;
	padding    : 0px 10px 0px 10px;
	margin     : 0;
	list-style : none;
	}

/* 22 */
.col_one ul li {
	sheight : auto;
	display : block;
	padding : 10px 0px 0px 0px;
	}

.col_two ul li {
	sheight : auto;
	display : block;
	padding : 10px 0px 0px 0px;
	}

.col_three {
	float       : left;
	display     : inline-block;
	width       : 186px;
	height      : auto;
	margin-left : 15px;
	}

.col_three ul {
	list-style : none;
	margin     : 0;
	padding    : 10px 10px 0px 10px;
	}

/* 22 */
.col_three ul li {
	padding     : 0;
	line-height : 1em;
	}

.col_three ul a {
	color     : #51aeff;
	font-size : 13px;
	}

.col_three ul li a {
	color           : #9b9b9b;
	font-size       : 13px;
	text-decoration : none;
	}

.li_links {
	padding : 0;
	}

.col_header {
	font-size   : 16px;
	font-weight : bold;
	color       : #626262;
	height      : auto;
	background  : url(../images/header-center.png) repeat-x;
	cursor      : pointer;
	padding     : 5px 5px 5px 10px;
	margin      : 0;
	}

/* 22 */
.col_header a {
	text-decoration : none;
	color           : #626262;
	}

.col_header img {
	vertical-align : middle;
	border         : none;
	}

.col_header_selected {
	font-size  : 16px;
	color      : #ffffff;
	height     : auto;
	background : url(../images/header-hover.png) repeat-x;
	cursor     : pointer;
	padding    : 5px 5px 5px 10px;
	margin     : 0;
	}

.col_header_selected img {
	vertical-align : middle;
	border         : none;
	}

.col_header:hover {
	color      : #ffffff;
	background : url(../images/header-hover.png) repeat-x;
	}

.col_row {
	height      : auto;
	color       : black;
	margin      : 0;
	padding     : 10px;
	line-height : 0.8em;
	overflow    : hidden;
	}

.title {
	font-size    : 13px;
	font-variant : normal;
	font-weight  : normal;
	margin       : 0;
	float        : left;
	}

/* 21*/
.title a {
	text-decoration : none;
	color           : #000000;
	}

.title a:hover {
	text-decoration : underline;
	}

.title img {
	vertical-align : sub;
	border         : none;
	}

.date_span {
	display    : block;
	float      : right;
	font-size  : 13px;
	text-align : left;
	width      : auto;
	}

/* 21*/
.date_span a {
	text-decoration : none;
	color           : #000000;
	}

.date_span a:hover {
	text-decoration : underline;
	}

.line {
	background : url(../images/sprater.png) no-repeat;
	margin     : 5px 0px 0px 0px;
	width      : 390px;
	height     : 1px;
	display    : block;
	}

.col_row_alter {
	height              : auto;
	color               : black;
	margin              : 0;
	padding             : 10px;
	line-height         : 0.8em;
	background          : url(../images/selectedbg.png) no-repeat;
	background-position : center;
	}

.empty {
	height : 40px;
	clear  : both;
	}

.todo_text {
	margin-left : 25px;
	}

.links {
	height : 32px;
	}

.footer {
	height     : auto;
	text-align : center;
	font-size  : 14px;
	color      : #9b9b9b;
	display    : block;
	padding    : 10px;
	}

.footer p {
	padding       : 0;
	margin        : 0;
	margin-bottom : 10px;
	display       : block;
	}

.footer a {
	color     : #9b9b9b;
	font-size : 13px;
	}

.separator {
	border     : none;
	width      : 996px;
	display    : block;
	background : url(../images/footersprater.png) center no-repeat;
	height     : 1px;
	padding    : 0;
	margin     : 10px 0px 0px 0px;
	}

.sub_container {
	width      : 100%;
	min-height : 350px;
	display    : block;
	overflow   : hidden;
	}

.col_table {
	float   : left;
	display : inline-block;
	width   : 800px;
	height  : auto
	}

.col_search {
	float       : left;
	margin-left : 5px;
	display     : inline-block;
	width       : 186px;
	height      : auto;
	color       : #464545;
	font-size   : 14px;
	}

.col_search img {
	vertical-align : text-bottom;
	border         : none;
	}

.search_header {
	font-size   : 14px;
	font-weight : bold;
	color       : #555555;
	height      : auto;
	background  : url(../images/header-center.png) repeat-x;
	cursor      : pointer;
	padding     : 5px 5px 5px 10px;
	margin      : 0;
	}

.search_header a {
	color           : #555555;
	text-decoration : none;
	}

.search_header2 {
	font-size   : 14px;
	font-weight : bold;
	color       : #555555;
	height      : auto;
	cursor      : pointer;
	padding     : 0px 5px 0px 10px;
	margin      : 0;
	}

.search_header2 a {
	color           : #555555;
	text-decoration : none;
	}

.search_header2 a:hover {
	text-decoration : underline;
	}

.small {
	margin-top : 10px;
	}

.arrow {
	float : right;
	}

#contact_table {
	border        : 0.1em solid #bababa;
	border-radius : 5px;
	}

#contact_table tr {
	color     : #464545;
	font-size : 12px;
	height    : 31px;
	}

#contact_table tr a {
	color           : #464545;
	font-size       : 12px;
	text-decoration : none;
	}

#contact_table tr a:hover {
	text-decoration : underline;
	}

#contact_table tr:nth-child(odd) {
	background-color : #eaeaea;
	}

#contact_table tr img {
	cursor : pointer;
	border : none;
	}

#contact_table tr.header {
	height      : 45px;
	border      : none;
	color       : #555555;
	font-size   : 14px;
	font-weight : bold;
	}

#contact_table th {
	border     : none;
	padding    : 0;
	margin     : 0;
	text-align : left;
	cursor     : pointer;
	}

#group_table {
	border        : 0.1em solid #bababa;
	border-radius : 5px;
	}

#group_table tr {
	color     : #464545;
	font-size : 12px;
	}

#group_table tr img {
	cursor : pointer;
	border : none;
	}

#group_table tr.header {
	height      : 45px;
	border      : none;
	color       : #555555;
	font-size   : 14px;
	font-weight : bold;
	}

#group_table th {
	border     : none;
	padding    : 0;
	margin     : 0;
	text-align : left;
	font-size  : 14px;
	}

.DragClass {
	background : #eaeaea;
	color      : #000000;
	}

.blue {
	background : #51a4ce;
	}

.red {
	background : #ff6464;
	}

.green {
	background : #64b461;
	}

.purple {
	background : #509f00;
	}

.orange {
	background : #ff9900;
	}

.yellow {
	background : #f8f06a;
	}

.grey {
	background : #ff3eff;
	}

.pink {
	background : #ff8c97;
	}

/*.blue{ background:#BBF;}
.red{ background:#FBB;}
.green{ background:#A8FFA8;}
.purple{ background:#DCAFEF;}
.orange{ background:#FFCFB9;}
.yellow{ background:#FFFFC4;}
.grey{ background:#D1D1D1}
.pink{ background:#FFC1E0;}*/
#colorspan {
	width   : 100px;
	height  : 23px;
	display : none;
	margin  : 0px 0px 10px 10px;
	}

.first_table {
	background : url(../images/table-bg-left.png) no-repeat;
	height     : 45px;
	width      : 6%;
	border     : none;
	}

.first1 {
	background : url(../images/table-bg-left.png) no-repeat;
	height     : 45px;
	width      : 5%;
	border     : none;
	}

.firstsmall {
	background : url(../images/table-bg-left.png) no-repeat;
	height     : 45px;
	width      : 2%;
	border     : none;
	}

.last_table {
	background : url(../images/table-bg-right.png) no-repeat;
	height     : 45px;
	width      : 49px;
	border     : none;
	}

.first {
	background : url(../images/table-bg-left.png) no-repeat;
	border     : none;
	}

.last {
	background  : url(../images/table-bg-right.png) no-repeat;
	width       : 6%;
	border      : none;
	margin-left : 31px;
	}

.center {
	background : url(../images/table-bg-center.png) repeat-x;
	height     : 45px;
	border     : none;
	width      : 18.4%;
	}

.big {
	width : 28.4%;
	}

.exbig {
	width : 43%;
	}

.smallcol {
	width : 10.4%;
	}

.medcol {
	width : 14.6%;
	}

/* 22 */
.medcol2 {
	width : 15.6%;
	}

/* 22 */
.medcol3 {
	width : 19.9%;
	}

/* 22 */
.add_link {
	color        : #464545;
	font-size    : 13px;
	padding-left : 5px;
	margin-top   : 10px;
	display      : block;
	}

#interest_list {
	color        : #464545;
	font-size    : 12px;
	padding-left : 10px;
	margin-top   : 10px;
	display      : block;
	}

/* 22 */
#interest_list ul {
	list-style : none;
	padding    : 0;
	margin     : 0;
	}

#interest_list ul li {
	padding : 3px 3px 3px 5px;
	margin  : 0;
	}

#groups_list {
	color        : #464545;
	font-size    : 12px;
	padding-left : 10px;
	margin-top   : 10px;
	display      : block;
	}

/* 22 */
#groups_list ul {
	list-style : none;
	padding    : 0;
	margin     : 0;
	}

#groups_list ul li {
	padding : 3px 3px 3px 5px;
	margin  : 0;
	}

.searchbox2 {
	background    : url(../images/search-icon.png) no-repeat center right;
	color         : #9a9a9a;
	width         : 185px;
	height        : 17px;
	margin        : 10px 0px 5px 0px;
	border        : 0.1em solid #bababa;
	border-radius : 2px;
	}

/*input[type="checkbox"] {display:none;}
input[type="checkbox"] + label {margin:0px 0px 0px 5px;clear: none;
padding: 5px 0 4px 24px;cursor: pointer;background: url(../images/uncheck.png) left center no-repeat;}
input[type="checkbox"]:checked + label {background-image: url(../images/check.png);}*/
.checkboxstyle {
	margin : 0 0 10px 10px;
	}

.top_content {
	width    : 800px;
	margin   : 15px 0px 10px 0px;
	height   : auto;
	overflow : hidden;
	}

.top_content h1 {
	display : inline;
	}

#new_contact {
	cursor     : pointer;
	background : url(../images/newcontact.png) no-repeat;
	width      : 128px;
	height     : 29px;
	border     : none;
	float      : left;
	display    : inline;
	padding    : 0;
	}

#new_contact:hover {
	background : url(../images/newcontact-hover.png) no-repeat
	}

#sorting {
	float   : right;
	width   : auto;
	height  : auto;
	display : inline;
	margin  : 0px 10px 0px 0px;
	padding : 0;
	}

#sorting img {
	border      : none;
	margin-left : 10px;
	cursor      : pointer;
	}

#manage {
	float   : right;
	width   : auto;
	height  : auto;
	display : inline;
	margin  : 0px 10px 0px 0px;
	padding : 0;
	}

#manage img {
	border      : none;
	margin-left : 10px;
	cursor      : pointer;
	}

#new_task {
	cursor     : pointer;
	background : url(../images/New%20Task.png) no-repeat;
	width      : 128px;
	height     : 29px;
	border     : none;
	float      : left;
	display    : inline;
	padding    : 0;
	}

#new_task:hover {
	background : url(../images/New%20Task-hover.png) no-repeat;
	}

.textfield {
	color         : #555555;
	width         : 225px;
	height        : 25px;
	margin        : 0px 30px 10px 10px;
	border        : 0.1em solid #bababa;
	border-radius : 2px;
	padding-left  : 5px;
	}

.textfieldbig {
	color         : #555555;
	width         : 645px;
	height        : 25px;
	margin        : 0px 30px 10px 10px;
	border        : 0.1em solid #bababa;
	border-radius : 2px;
	padding-left  : 5px;
	}

.textfieldSmall {
	color         : #555555;
	width         : 138px;
	height        : 25px;
	margin        : 0px 0px 0px 10px;
	border        : 0.1em solid #bababa;
	border-radius : 2px;
	padding-left  : 5px;
	}

.contact {
	margin : 10px 0px 0px 0px;
	}

.textfieldExSmall {
	color         : #555555;
	width         : 50px;
	height        : 25px;
	margin        : 0px 0px 0px 10px;
	border        : 0.1em solid #bababa;
	border-radius : 2px;
	padding-left  : 5px;
	}

.textarea {
	color         : #555555;
	width         : 225px;
	height        : 180px;
	margin        : 0px 0px 10px 10px;
	border        : 0.1em solid #bababa;
	border-radius : 2px;
	padding-left  : 5px;
	}

.label {
	color     : #555555;
	font-size : 12px;
	width     : 20%;
	padding   : 0px 10px 10px 10px;
	}

.label a {
	color           : #555555;
	text-decoration : none;
	}

.label a:hover {
	text-decoration : underline;
	}

.lable2 {
	display       : inline-block;
	height        : 12px;
	margin-bottom : 10px;
	margin-left   : 10px;
	}

.SelectField {
	color         : #555555;
	font-size     : 12px;
	width         : 225px;
	height        : 25px;
	margin        : 0px 0px 10px 10px;
	border        : 0.1em solid #bababa;
	border-radius : 2px;
	padding-top   : 2px;
	}

/* 23 */
.SelectFieldSmall {
	color         : #555555;
	width         : 100px;
	height        : 25px;
	margin        : 0px 0px 10px 10px;
	border        : 0.1em solid #bababa;
	border-radius : 2px;
	padding-top   : 2px;
	}

.ending {
	background   : #e5e5e5;
	padding      : 5px 0px 5px 0px;
	margin       : 0;
	margin-left  : 10px;
	width        : 223px;
	font-size    : 12px;
	padding-left : 5px;
	display      : none;
	}

.custom {
	background   : #e5e5e5;
	padding      : 5px 0px 5px 0px;
	margin       : 0;
	margin-left  : 10px;
	width        : 223px;
	font-size    : 12px;
	padding-left : 5px;
	display      : none;
	}

.reminder {
	background   : #e5e5e5;
	padding      : 5px 0px 5px 0px;
	margin       : 0;
	margin-left  : 10px;
	width        : 223px;
	font-size    : 12px;
	padding-left : 5px;
	display      : none;
	}

.custom_days {
	margin-left : 70px;
	}

.linked_plan {
	background   : #e5e5e5;
	padding      : 5px 0px 5px 0px;
	margin       : 0px 0px 10px 10px;
	width        : 223px;
	font-size    : 12px;
	padding-left : 5px;
	}

.task_col {
	color         : #555555;
	font-size     : 16px;
	font-weight   : bold;
	width         : 400px;
	border-bottom : 0.1em solid #bababa;
	margin-bottom : 10px;
	}

.save {
	cursor         : pointer;
	background     : url(../images/save.png) no-repeat;
	width          : 99px;
	height         : 29px;
	border         : none;
	margin-left    : 10px;
	vertical-align : top;
	}

.save:hover {
	background : url(../images/save-hover.png) no-repeat;
	}

.cancel {
	cursor      : pointer;
	background  : url(../images/cancel.png) no-repeat;
	width       : 99px;
	height      : 29px;
	border      : none;
	margin-left : 20px;
	}

.cancel:hover {
	background : url(../images/cancel-hover.png) no-repeat;
	}

#pager img {
	vertical-align : top;
	cursor         : pointer;
	border         : none;
	}

#pager {
	margin-top:30px;
	}

#new_group {
	background : url(../images/New%20Group.png) no-repeat;
	width      : 99px;
	height     : 29px;
	border     : none;
	float      : left;
	display    : inline;
	padding    : 0;
	cursor     : pointer;
	}

#new_group:hover {
	background : url(../images/New%20Group-hover.png) no-repeat;
	}

.manage_contacts {
	cursor      : pointer;
	background  : url(../images/Manage%20Contacts.png) no-repeat;
	width       : 128px;
	height      : 29px;
	border      : none;
	margin-left : 20px;
	}

.manage_contacts:hover {
	background : url(../images/Manage%20Contacts-hover.png) no-repeat;
	}

#select_contacts {
	float         : left;
	display       : inline;
	width         : 485px;
	height        : auto;
	border        : 0.1em solid #bababa;
	border-radius : 2px;
	padding       : 0px 0px 5px 0px;
	margin        : 0;
	}

#move_contacts {
	float         : left;
	display       : inline;
	width         : 485px;
	height        : auto;
	border        : 0.1em solid #bababa;
	border-radius : 2px;
	margin-left   : 20px;
	padding       : 0px 0px 5px 0px;
	}

ul#sortable1 {
	list-style : none;
	padding    : 0;
	margin     : 0;
	min-height : 30px;
	}

ul#sortable1 li {
	font-size : 14px;
	padding   : 3px 3px 3px 5px;
	margin    : 10px;
	border    : 0.1em solid #bababa;
	}

ul#sortable1 li:hover {
	background : #eaeaea;
	cursor     : move;
	}

ul#sortable2 {
	list-style : none;
	padding    : 0;
	margin     : 0;
	min-height : 30px;
	}

ul#sortable2 li {
	font-size : 14px;
	padding   : 3px 3px 3px 5px;
	margin    : 10px;
	border    : 0.1em solid #bababa;
	}

ul#sortable2 li:hover {
	background : #eaeaea;
	cursor     : move;
	}

.select_head {
	color       : #555555;
	font-size   : 15px;
	font-weight : bold;
	float       : left;
	display     : inline;
	padding     : 0;
	margin      : 0;
	width       : auto;
	}

.move_head {
	color       : #555555;
	font-size   : 15px;
	font-weight : bold;
	float       : left;
	margin      : 0;
	margin-left : 398px;
	display     : inline;
	padding     : 0;
	width       : auto;
	}

.headings {
	width    : 996px;
	margin   : 0px 0px 10px 0px;
	height   : auto;
	overflow : hidden;
	}

.save_cancel {
	float   : right;
	margin  : 10px 0px 10px 0px;
	padding : 0;
	width   : auto;
	height  : auto;
	}

#contact_heading {
	background  : #eaeaea;
	font-size   : 14px;
	font-weight : bold;
	color       : #555555;
	margin      : 0;
	padding     : 5px 3px;
	}

ul.pagercontacts {
	width      : 20%;
	color      : #555555;
	float      : right;
	list-style : none outside none;
	margin     : 0 10px 0 0;
	padding    : 0;
	font-size  : 12px;
	}

ul.pagercontacts li {
	border       : none;
	padding-left : 2px;
	float        : left;
	}

ul.pagercontacts li a {
	color           : #555555;
	text-decoration : underline;
	}

ul.pagercontacts li a img {
	vertical-align : middle;
	}

ul.pagercontacts li.active a {
	font-weight     : bold;
	text-decoration : none;
	}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header {
	margin-bottom : 8px;
	}

.ui-timepicker-div dl {
	text-align : left;
	}

.ui-timepicker-div dl dt {
	height        : 25px;
	margin-bottom : -25px;
	}

.ui-timepicker-div dl dd {
	margin : 0 10px 10px 65px;
	}

.ui-timepicker-div td {
	font-size : 90%;
	}

.ui-tpicker-grid-label {
	background : none;
	border     : none;
	margin     : 0;
	padding    : 0;
	}

.ui-timepicker-rtl {
	direction : rtl;
	}

.ui-timepicker-rtl dl {
	text-align : right;
	}

.ui-timepicker-rtl dl dd {
	margin : 0 65px 10px 10px;
	}

div.ui-datepicker {
	font-size : 11px;
	}

.wrapper-dropdown-5.active:after {
	border-color : #82d1ff transparent;
	}

.wrapper-dropdown-5.active .dropdown {
	border-bottom : 1px solid rgba(0, 0, 0, 0.2);
	max-height    : 400px;
	}

.wrapper-dropdown-5 .dropdown li {
	padding : 0px;
	}

.wrapper-dropdown-5 .dropdown li a {
	display         : block;
	text-decoration : none;
	color           : #333333;
	padding         : 10px 20px;
	transition      : all 0.3s ease-out;
	border-bottom   : 1px solid #e6e8ea;
	}

.wrapper-dropdown-5 .dropdown li:last-of-type a {
	border : none;
	}

.wrapper-dropdown-5 .dropdown li i {
	margin-right   : 5px;
	color          : inherit;
	vertical-align : middle;
	}

/* Hover state */

.wrapper-dropdown-5 .dropdown li:hover a {
	color      : #ffffff;
	background : #00cbe0;
	}

.wrapper-dropdown-5 .dropdown {
	/* Size & position */
	position      : absolute;
	top           : 100%;
	left          : 0;
	right         : 0;

	/* Styles */
	background    : #ffffff;
	border-radius : 0 0 5px 5px;
	border        : 1px solid rgba(0, 0, 0, 0.2);
	border-top    : none;
	border-bottom : none;
	list-style    : none;
	transition    : all 0.3s ease-out;

	/* Hiding */
	max-height    : 0;
	overflow      : hidden;
	}

.wrapper-dropdown-5 {
	/* Size & position */
	position      : relative;
	width         : 200px;
	margin        : 0 auto;
	padding       : 12px 15px;

	/* Styles */
	background    : #ffffff;
	border-radius : 5px;
	box-shadow    : 0 1px 0 rgba(0, 0, 0, 0.2);
	cursor        : pointer;
	outline       : none;
	transition    : all 0.3s ease-out;
	border        : solid 2px #999999;
	}

.wrapper-dropdown-5:after {
	/* Little arrow */
	content      : "";
	width        : 0;
	height       : 0;
	position     : absolute;
	top          : 50%;
	right        : 15px;
	margin-top   : -3px;
	border-width : 6px 6px 0 6px;
	border-style : solid;
	border-color : #4cbeff transparent;
	}

#save {
	cursor     : pointer;
	background : url(../images/save.png) no-repeat;
	width      : 99px;
	height     : 29px;
	border     : none;
	float      : left;
	display    : inline;
	padding    : 0;
	}

#save:hover {
	background : url(../images/save-hover.png) no-repeat
	}

#cancel {
	cursor     : pointer;
	background : url(../images/cancel.png) no-repeat;
	width      : 99px;
	height     : 29px;
	border     : none;
	float      : left;
	display    : inline;
	padding    : 0;
	}

#cancel:hover {
	background : url(../images/cancel-hover.png) no-repeat
	}

#change_button {
	cursor     : pointer;
	background : url(../images/change.png) no-repeat;
	width      : 99px;
	height     : 29px;
	border     : none;
	float      : left;
	display    : inline;
	padding    : 0;
	}

#change_button:hover {
	background : url(../images/change-hover.png) no-repeat
	}

#single_option {
	cursor     : pointer;
	background : url(../images/Convert_Single_Opt.png) no-repeat;
	width      : 170px;
	height     : 29px;
	border     : none;
	float      : left;
	display    : inline;
	padding    : 0;
	}

#single_option:hover {
	background : url(../images/Convert_Single_Opt-hover.png) no-repeat
	}

#double_option {
	cursor     : pointer;
	background : url(../images/Convert-to-DoubleOpt-In.png) no-repeat;
	width      : 170px;
	height     : 29px;
	border     : none;
	float      : left;
	display    : inline;
	padding    : 0;
	}

#double_option:hover {
	background : url(../images/Convert-to-DoubleOpt-In-hover.png) no-repeat
	}

#back_plan_list_button {
	cursor     : pointer;
	background : url(../images/Back-To-Plan-List.png) no-repeat;
	width      : 175px;
	height     : 29px;
	border     : none;
	float      : left;
	display    : inline;
	padding    : 0;
	}

#back_plan_list_button:hover {
	background : url(../images/Back-To-Plan-List-hover.png) no-repeat
	}

.left_label {
	float : left;
	}

.right_label {
	float : right;
	}

/*new code*/
#upload {
	cursor     : pointer;
	background : url(../images/Upload.png) no-repeat;
	width      : 99px;
	height     : 29px;
	border     : none;
	/*float:left; */
	display    : inline;
	padding    : 0;
	}

#upload:hover {
	background : url(../images/Upload-hover.png) no-repeat
	}

/*Junaid CSS Code*/
/*---------------------mine css-------------------*/
#new_Campaign {
	cursor     : pointer;
	background : url(../images/Add%20Campaign.png) no-repeat;
	width      : 145px;
	height     : 29px;
	border     : none;
	float      : left;
	display    : inline;
	padding    : 0;
	}

#new_Campaign:hover {
	background : url(../images/Add%20Campaign-hover.png) no-repeat;
	}

/*---------------------contact tab starts-------------------*/
.navcontainer ul {
	float       : left;
	font-family : arial, helvetica, sans-serif;
	font-size   : 12px;
	margin      : 0pt;
	padding     : 0pt;
	width       : 120px;
	}

.navcontainer ul li {
	display    : table;
	text-align : center;
	margin-top : 2px;
	}

.navcontainer ul li a:hover {
	background-color : #cccccc;
	color            : #ffffff;
	}

.navcontainer ul li a {
	border-right     : 1px solid #dfdfdf;
	background-color : #bbbbbb;
	font-weight      : bold;
	color            : #ffffff;
	float            : left;
	padding          : 10px;
	text-decoration  : none;
	width            : 100px;
	height           : 75px;
	}

.navcontainer ul li a.current {
	border-right     : 1px solid #00c5dc;
	background-color : #00c5dc;
	font-weight      : bold;
	color            : #ffffff;
	float            : left;
	padding          : 10px;
	text-decoration  : none;
	width            : 100px;
	height           : 75px;
	}

#content {
	min-height                 : 772px;
	border-bottom              : 1px solid #dfdfdf;
	border-right               : 1px solid #dfdfdf;
	border-top                 : 1px solid #dfdfdf;
	border-top-right-radius    : 10px;
	border-bottom-right-radius : 10px;
	margin                     : 2px 0 10px 0;
	float                      : left;
	width                      : 864px;
	padding                    : 0 0 10px 10px;
	}

#preloader {
	position         : absolute;
	top              : 330px;
	left             : 550px;
	z-index          : 100;
	padding          : 5px;
	text-align       : center;
	background-color : #ffffff;
	}

/*---------------------contact tab endss-------------------*/
.contact_table {
	width : 100%;
	}

.firstcontent {
	float          : left;
	width          : 380px;
	min-height     : 306px;
	border         : 1px solid #cccccc;
	border-radius  : 10px;
	margin-top     : 10px;
	padding-bottom : 10px;
	}

.first_content {
	border-radius  : 10px 10px 10px 10px;
	float          : left;
	margin-top     : 10px;
	min-height     : 145px;
	padding-bottom : 10px;
	width          : 380px;
	}

.second_content {
	float         : left;
	width         : 470px;
	min-height    : 315px;
	border        : 1px solid #cccccc;
	border-radius : 10px;
	margin-top    : 10px;
	margin-left   : 3px;
	}

.fourth_content {
	float         : left;
	width         : 271px;
	min-height    : 90px;
	border        : 1px solid #cccccc;
	border-radius : 10px;
	margin-top    : 10px;
	/*padding-bottom:10px;*/
	margin-left   : 3px;
	padding-left  : 10px;
	/*padding-top:10px;*/
	}

.fifth_cont {
	float          : left;
	width          : 559px;
	min-height     : 233px;
	border         : 1px solid #cccccc;
	border-radius  : 10px;
	margin-top     : 10px;
	padding-bottom : 10px;
	padding-left   : 10px;
	padding-top    : 10px;
	}

.sixth_content {
	float          : left;
	width          : 281px;
	min-height     : 254px;
	border         : 1px solid #cccccc;
	border-radius  : 10px;
	margin-top     : 10px;
	padding-bottom : 10px;
	padding-left   : 10px;
	padding-top    : 10px;
	}

.seventh_content {
	float         : left;
	width         : 548px;
	height        : auto;
	border        : 1px solid #cccccc;
	border-radius : 10px;
	margin-left   : 3px;
	/*margin-top:10px;*/
	/*padding-bottom:10px;*/
	padding-left  : 10px;
	/*padding-top:10px;*/
	}

.contact_textfield {
	color         : #555555;
	width         : 125px;
	height        : 25px;
	margin        : 0px 0px 10px 10px;
	border        : 0.1em solid #bababa;
	border-radius : 2px;
	}

.textfield1 {
	color         : #555555;
	width         : 338px;
	height        : 25px;
	margin        : 0px 0px 10px 10px;
	border        : 0.1em solid #bababa;
	border-radius : 2px;
	}

.textfield2 {
	color         : #555555;
	width         : 266px;
	height        : 25px;
	margin        : 0px 0px 10px 10px;
	border        : 0.1em solid #bababa;
	border-radius : 2px;
	}

.contact_label {
	color      : #555555;
	font-size  : 13px;
	width      : 68px;
	text-align : left;
	padding    : 0 5px 10px;
	}

.contactlabel {
	color      : #555555;
	font-size  : 13px;
	width      : 92px;
	text-align : left;
	padding    : 0 5px 10px;
	}

.contact_label1 {
	color       : #555555;
	font-size   : 14px;
	width       : 30px;
	text-align  : right;
	margin-left : 10px;
	}

/*.textarea{color:#555; width:816px; height:100px; margin:5px 0px 10px 10px; border:0.1em solid #BABABA;border-radius:2px;}*/
.t_heading {
	font-size    : 14px;
	font-weight  : bold;
	font-variant : normal;
	padding      : 5px 0 5px 15px;
	width        : auto;
	height       : auto;
	}

.tab_ques {
	padding    : 10px;
	text-align : justify;
	}

/*---------------------contact tab endss-------------------*/
.new-content {
	float : right;
	}

.formcolright {
	float  : left;
	width  : 730px;
	height : auto;
	}

.formcolleft {
	float       : left;
	width       : 258px;
	color       : #0033ff;
	font-family : Verdana, Geneva, sans-serif;
	font-size   : 16px;
	font-weight : bold;
	height      : auto;
	}

.formcolleftend {
	float       : left;
	width       : 155px;
	color       : #0033ff;
	font-family : Verdana, Geneva, sans-serif;
	font-size   : 16px;
	font-weight : bold;
	height      : auto;
	}

.formcolrightrow {
	font-family : Verdana, Geneva, sans-serif;
	font-size   : 12px;
	padding     : 2px 2px 5px 10px;
	width       : 400px;
	}

.formcolright-row {
	font-family   : Verdana, Geneva, sans-serif;
	font-size     : 12px;
	width         : 75px;
	float         : left;
	text-align    : right;
	padding-top   : 5px;
	padding-right : 5px;
	}

.body {
	width      : 100%;
	margin-top : 10px;
	float      : left;
	}

.footer {
	width  : 800px;
	float  : none;
	margin : 0 auto;
	}

.formcolrightrow label {
	text-align : center;
	}

.styling {
	clear         : both;
	width         : 900px;
	color         : #0033ff;
	font-weight   : bold;
	font-family   : Verdana, Geneva, sans-serif;
	font-size     : 12px;
	height        : auto;
	margin        : 0 auto;
	border-bottom : 1px solid #000000;
	}

.stylingleft {
	clear         : both;
	width         : 820px;
	color         : #0033ff;
	font-weight   : bold;
	font-family   : Verdana, Geneva, sans-serif;
	font-size     : 12px;
	height        : auto;
	margin        : 0 auto;
	border-bottom : 1px solid #000000;
	}

.stylingright {
	float         : left;
	clear         : both;
	width         : 330px;
	color         : #0033ff;
	font-weight   : bold;
	font-family   : Verdana, Geneva, sans-serif;
	font-size     : 12px;
	height        : auto;
	margin        : 0 auto;
	border-bottom : 1px solid #000000;
	}

.survey_box {
	width          : 900px;
	height         : auto;
	overflow       : hidden;
	display        : block;
	border-bottom  : 0.1em solid #bababa;
	margin-bottom  : 10px;
	padding-bottom : 23px;
	}

/* 22 */
.survey_img {
	float   : left;
	display : inline;
	width   : 120px;
	height  : 160px;
	border  : 0.1em solid #bababa;
	}

.survey_desc {
	float       : left;
	display     : inline;
	width       : 660px;
	height      : auto;
	margin-left : 23px;
	}

/* 22 */
.survey_desc h3 {
	font-size : 14px;
	color     : #555555;
	width     : auto;
	margin    : 0;
	padding   : 0;
	display   : inline-block;
	}

.survey_desc h4 {
	font-size : 13px;
	color     : #555555;
	width     : auto;
	margin    : 0;
	padding   : 0;
	display   : inline-block;
	}

.survey_desc a {
	font-size     : 13px;
	width         : auto;
	margin-bottom : 10px;
	padding       : 0;
	display       : inline-block;
	}

/* 22 */
.survey_desc table tr td {
	font-size : 13px;
	}

.survey_desc table tr td a {
	font-size : 12px;
	color     : #555555;
	}

#import_button {
	cursor     : pointer;
	background : url(../images/import_button.png) no-repeat;
	width      : 130px;
	height     : 29px;
	border     : none;
	/*float:left; */
	display    : inline;
	padding    : 0;
	}

#import_button:hover {
	background : url(../images/import-hover.png) no-repeat
	}

/*---------------------mine css-------------------*/
#new_Campaign {
	cursor     : pointer;
	background : url(../images/Add%20Campaign.png) no-repeat;
	width      : 145px;
	height     : 29px;
	border     : none;
	float      : left;
	display    : inline;
	padding    : 0;
	}

#new_Campaign:hover {
	background : url(../images/Add%20Campaign-hover.png) no-repeat;
	}

#new_appointment {
	cursor     : pointer;
	background : url(../images/New%20Appointment.png) no-repeat;
	width      : 128px;
	height     : 29px;
	border     : none;
	float      : left;
	display    : inline;
	padding    : 0;
	}

#new_appointment:hover {
	background : url(../images/New%20Appointment-hover.png) no-repeat;
	}

.stickynotes {
	background-image  : url(../images/note-center.png);
	background-repeat : repeat-y;
	border            : medium none;
	color             : #000000;
	font-weight       : bold;
	height            : 240px;
	margin-top        : 0;
	padding           : 0 0 0 28px;
	width             : 209px;
	}

/*---------------------contact tab starts-------------------*/
.navcontainer ul {
	float       : left;
	font-family : arial, helvetica, sans-serif;
	font-size   : 12px;
	margin      : 0pt;
	padding     : 0pt;
	width       : 120px;
	}

.navcontainer ul li {
	display    : table;
	text-align : center;
	}

.navcontainer ul li a:hover {
	background : url(../images/side-strip.png) repeat-x;
	color      : #ffffff;
	}

.navcontainer ul li a {
	border-right     : 1px solid #dfdfdf;
	background-color : #e5e5e5;
	font-weight      : bold;
	color            : #535353;
	float            : left;
	padding          : 15px 9px 10px 11px;
	text-decoration  : none;
	width            : 100px;
	height           : 25px;
	}

.navcontainer ul li a.current {
	border-right    : 1px solid #00c5dc;
	background      : url(../images/side-strip.png) repeat-x;
	font-weight     : bold;
	color           : #ffffff;
	float           : left;
	padding         : 15px 9px 10px 11px;
	text-decoration : none;
	width           : 100px;
	height          : 25px;
	}

#content {
	min-height                 : 772px;
	border-bottom              : 1px solid #dfdfdf;
	border-right               : 1px solid #dfdfdf;
	border-top                 : 1px solid #dfdfdf;
	border-top-right-radius    : 10px;
	border-bottom-right-radius : 10px;
	margin                     : 2px 0 10px 0;
	float                      : left;
	width                      : 864px;
	padding                    : 0 0 10px 10px;
	}

#preloader {
	position         : absolute;
	top              : 330px;
	left             : 550px;
	z-index          : 100;
	padding          : 5px;
	text-align       : center;
	background-color : #ffffff;
	}

/*---------------------contact tab endss-------------------*/
.contact_table {
	width : 100%;
	}

.sticky_notes {
	display  : block;
	float    : right;
	height   : 630px;
	left     : 71.2%;
	position : fixed;
	width    : 238px;
	}

.firstcontent {
	float          : left;
	width          : 380px;
	min-height     : 306px;
	border         : 1px solid #cccccc;
	border-radius  : 10px;
	margin-top     : 10px;
	padding-bottom : 10px;
	}

.second_content {
	float         : left;
	width         : 470px;
	min-height    : 315px;
	border        : 1px solid #cccccc;
	border-radius : 10px;
	margin-top    : 10px;
	margin-left   : 3px;
	}

.third_content {
	float         : left;
	width         : 844px;
	height        : auto;
	border-radius : 10px;
	margin-top    : 10px;
	padding-left  : 10px;
	/*border:1px solid #CCC;
    padding-top:10px;
    padding-bottom:10px;*/
	}

.fifth_content {
	float          : left;
	width          : 559px;
	min-height     : 233px;
	border         : 1px solid #cccccc;
	border-radius  : 10px;
	margin-top     : 10px;
	padding-bottom : 10px;
	padding-left   : 10px;
	padding-top    : 10px;
	}

.sixth_content {
	float          : left;
	width          : 281px;
	min-height     : 293px;
	border         : 1px solid #cccccc;
	border-radius  : 10px;
	margin-top     : 10px;
	padding-bottom : 10px;
	padding-left   : 10px;
	padding-top    : 10px;
	}

.contact_textfield {
	color         : #555555;
	width         : 125px;
	height        : 25px;
	margin        : 0px 0px 10px 10px;
	border        : 0.1em solid #bababa;
	border-radius : 2px;
	}

.textfield1 {
	color         : #555555;
	width         : 338px;
	height        : 25px;
	margin        : 0px 0px 10px 10px;
	border        : 0.1em solid #bababa;
	border-radius : 2px;
	}

.textfield2 {
	color         : #555555;
	width         : 266px;
	height        : 25px;
	margin        : 0px 0px 10px 10px;
	border        : 0.1em solid #bababa;
	border-radius : 2px;
	}

.contact_label {
	color      : #555555;
	font-size  : 13px;
	width      : 68px;
	text-align : left;
	padding    : 0 5px 10px;
	}

.contactlabel {
	color      : #555555;
	font-size  : 13px;
	width      : 92px;
	text-align : left;
	padding    : 0 5px 10px;
	}

.question_label {
	color       : #037d3f;
	font-size   : 13px;
	width       : 30px;
	font-weight : bold;
	padding     : 0px 5px 5px 10px;
	text-align  : justify;
	}

.contact_label1 {
	color       : #555555;
	font-size   : 14px;
	width       : 30px;
	text-align  : right;
	margin-left : 10px;
	}

/*.textarea1{color:#555; width:816px; height:100px; margin:5px 0px 10px 10px; border:0.1em solid #BABABA;border-radius:2px;}*/
.table_heading {
	color         : #555555;
	font-size     : 14px;
	font-weight   : bold;
	font-variant  : normal;
	padding       : 5px 0 5px 15px;
	width         : auto;
	height        : auto;
	margin-bottom : 5px;
	}

.tab_ques {
	padding    : 10px;
	text-align : justify;
	}

.plan_label1 {
	color     : #555555;
	font-size : 14px;
	padding   : 5px 0 0 0;
	width     : 6%;
	}

.plan_label2 {
	color     : #555555;
	font-size : 12px;
	padding   : 5px 0 0 0;
	width     : 59%;
	}

.plan_label3 {
	color     : #555555;
	font-size : 12px;
	padding   : 5px 0 0 0;
	width     : 35%;
	}

.plan_label {
	color       : #555555;
	font-size   : 14px;
	width       : 85%;
	padding-top : 5px;
	}

/*---------------------contact tab endss-------------------*/
.new {
	float : right;
	}

.formcolright {
	float  : left;
	width  : 730px;
	height : auto;
	}

.formcolleft {
	float       : left;
	width       : 258px;
	color       : #0033ff;
	font-family : Verdana, Geneva, sans-serif;
	font-size   : 16px;
	font-weight : bold;
	height      : auto;
	}

.formcolleftend {
	float       : left;
	width       : 155px;
	color       : #0033ff;
	font-family : Verdana, Geneva, sans-serif;
	font-size   : 16px;
	font-weight : bold;
	height      : auto;
	}

.formcolrightrow {
	font-family : Verdana, Geneva, sans-serif;
	font-size   : 12px;
	padding     : 2px 2px 5px 10px;
	width       : 400px;
	}

.formcolright-row {
	font-family   : Verdana, Geneva, sans-serif;
	font-size     : 12px;
	width         : 75px;
	float         : left;
	text-align    : right;
	padding-top   : 5px;
	padding-right : 5px;
	}

.body {
	width      : 100%;
	margin-top : 10px;
	float      : left;
	}

.footer {
	width  : 996px;
	float  : none;
	margin : 0 auto;
	}

.formcolrightrow label {
	text-align : center;
	}

.styling {
	clear         : both;
	width         : 900px;
	color         : #0033ff;
	font-weight   : bold;
	font-family   : Verdana, Geneva, sans-serif;
	font-size     : 12px;
	height        : auto;
	margin        : 0 auto;
	border-bottom : 1px solid #000000;
	}

.stylingleft {
	clear         : both;
	width         : 820px;
	color         : #0033ff;
	font-weight   : bold;
	font-family   : Verdana, Geneva, sans-serif;
	font-size     : 12px;
	height        : auto;
	margin        : 0 auto;
	border-bottom : 1px solid #000000;
	}

.stylingright {
	float         : left;
	clear         : both;
	width         : 330px;
	color         : #0033ff;
	font-weight   : bold;
	font-family   : Verdana, Geneva, sans-serif;
	font-size     : 12px;
	height        : auto;
	margin        : 0 auto;
	border-bottom : 1px solid #000000;
	}

.smalltextfield {
	color         : #555555;
	width         : 95px;
	height        : 25px;
	margin        : 0px 0px 10px 10px;
	border        : 0.1em solid #bababa;
	border-radius : 2px;
	}

.col_comments {
	color       : #999999;
	font-size   : 11px;
	font-weight : bold;
	margin-left : 4px;
	}

/* Updates of 1/9/2013*/
.top_content2 {
	width    : 900px;
	margin   : 15px 0px 10px 0px;
	height   : auto;
	overflow : hidden;
	}

.top_content2 h1 {
	display : inline;
	}

#survey_buttons {
	float   : right;
	width   : auto;
	height  : auto;
	display : inline;
	margin  : 0px 10px 0px 0px;
	padding : 0;
	clear   : both;
	}

.new_survey {
	cursor     : pointer;
	background : url(../images/New%20Profile.png) no-repeat;
	width      : 128px;
	height     : 29px;
	border     : none;
	margin-top : 5px;
	}

/* 22 */
.new_survey:hover {
	background : url(../images/New%20Profile-hover.png) no-repeat;
	}

/* 22 */
#popupSurvey {
	display       : none;
	z-index       : 100;
	background    : #ffffff;
	border        : 0.1em solid #bababa;
	border-radius : 7px;
	height        : 227px;
	width         : 254px;
	position      : fixed;
	top           : 30%;
	left          : 40%;
	}
#popupVideoSurvey {
    display       : none;
    z-index       : 100;
    background    : #ffffff;
    border        : 0.1em solid #bababa;
    border-radius : 7px;
    height        : 227px;
    width         : 254px;
    position      : fixed;
    top           : 30%;
    left          : 40%;
}
#popupVideoSurvey h1 {
    color       : #555555;
    margin-left : 10px;
}

#popupHeaderImage {
	display       : none;
	z-index       : 100;
	/*background    : #ffffff;*/
	/*border        : 0.1em solid #BABABA;*/
	border-radius : 7px;
	height        : 271px;
	width         : 670px;
	position      : fixed;
	top           : 22%;
	left          : 25%;
	}

#popupProfilColumnOptions {
	display       : none;
	z-index       : 100;
	background    : #ffffff;
	border        : 0.1em solid #bababa;
	border-radius : 7px;
	height        : 271px;
	width         : 670px;
	position      : fixed;
	/*top           : 22%;*/
	/*left          : 25%;*/
	}

#backgroundPopup {
	display    : none;
	position   : fixed;
	_position  : absolute; /* hack for internet explorer 6*/
	height     : 100%;
	width      : 100%;
	top        : 0;
	left       : 0;
	background : #000000;
	border     : 1px solid #cecece;
	z-index    : 99;
	}

#backgroundPopupProfile {
	display    : none;
	position   : fixed;
	_position  : absolute; /* hack for internet explorer 6*/
	height     : 100%;
	width      : 100%;
	top        : 0;
	left       : 0;
	background : #000000;
	border     : 1px solid #cecece;
	z-index    : 99;
	opacity    : 0.6;
	}
#backgroundPopupVideoEdit {
    display    : none;
    position   : fixed;
    _position  : absolute; /* hack for internet explorer 6*/
    height     : 100%;
    width      : 100%;
    top        : 0;
    left       : 0;
    background : #000000;
    border     : 1px solid #cecece;
    z-index    : 99;
    opacity    : 0.6;
}

#popupSurvey h1 {
	color       : #555555;
	margin-left : 10px;
	}

.survey_label {
	color       : #555555;
	font-size   : 14px;
	margin-left : 10px;
	}

.next_Survey {
	margin-left : 10px;
	cursor      : pointer;
	background  : url(../images/next.png) no-repeat;
	border      : none;
	width       : 99px;
	height      : 29px;
	}

.next_Survey:hover {
	background : url(../images/Next-hover.png) no-repeat;
	}

.back_survey {
	cursor      : pointer;
	background  : url(../images/Back.png) no-repeat;
	width       : 99px;
	height      : 29px;
	border      : none;
	margin-left : 10px;
	}

/* 22 */
.back_survey:hover {
	background : url(../images/Back-hover.png) no-repeat;
	}

ul#template, ul#template li {
	margin  : 0;
	padding : 0;
	}

ul#template li {
	list-style    : none;
	float         : left;
	display       : inline;
	margin-right  : 15px;
	margin-bottom : 20px;
	}

ul#template li a {
	text-decoration : none;
	color           : #ff3300;
	}

pre {
	display    : block;
	padding    : 10px;
	border     : 1px solid #bae2f0;
	background : #e3f4f9;
	margin     : .5em 0;
	overflow   : auto;
	width      : 800px;
	}

ul#template li img {
	border : 5px solid white;
	width  : 120px;
	height : 150px;
	}

#preview {
	position   : absolute;
	border     : 1px solid #cccccc;
	background : #333333;
	padding    : 5px;
	display    : none;
	color      : #ffffff;
	}

ul#forms, ul#forms li {
	margin  : 0;
	padding : 0;
	}

ul#forms li {
	list-style    : none;
	float         : left;
	display       : inline;
	margin-right  : 15px;
	margin-bottom : 20px;
	}

ul#forms li a {
	text-decoration : none;
	color           : #ff3300;
	}

ul#forms li img {
	border : 5px solid white;
	width  : 250px;
	height : 200px;
	}

.note {
	display   : block;
	clear     : both;
	font-size : 12px;
	}

.labelSurvey {
	color     : #555555;
	font-size : 15px;
	padding   : 0px 10px 10px 10px;
	width     : 15%;
	}

.labelSurvey2 {
	color     : #555555;
	font-size : 15px;
	padding   : 0px 10px 10px 10px;
	}

.survey_publish {
	margin-left : 10px;
	cursor      : pointer;
	background  : url(../images/Publish.png) no-repeat;
	border      : none;
	width       : 99px;
	height      : 29px;
	}

.survey_publish:hover {
	background : url(../images/Publish-hover.png) no-repeat;
	}

/* End Updates of 1/9/2013*/

#delete_plan {
	cursor     : pointer;
	background : url(../images/deletefollowup.png) no-repeat;
	width      : 170px;
	height     : 29px;
	border     : none;
	float      : left;
	display    : inline;
	padding    : 0;
	}

#delete_plan:hover {
	background : url(../images/deletefollowup-hover.png) no-repeat;
	}

#back_plan_list_button {
	cursor     : pointer;
	background : url(../images/Back-To-Compaign-List.png) no-repeat;
	width      : 200px;
	height     : 29px;
	border     : none;
	float      : left;
	display    : inline;
	padding    : 0;
	}

#back_plan_list_button:hover {
	background : url(../images/Back-To-Compaign-List-hover.png) no-repeat
	}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header {
	margin-bottom : 8px;
	}

.ui-timepicker-div dl {
	text-align : left;
	}

.ui-timepicker-div dl dt {
	height        : 25px;
	margin-bottom : -25px;
	}

.ui-timepicker-div dl dd {
	margin : 0 10px 10px 65px;
	}

.ui-timepicker-div td {
	font-size : 90%;
	}

.ui-tpicker-grid-label {
	background : none;
	border     : none;
	margin     : 0;
	padding    : 0;
	}

.ui-timepicker-rtl {
	direction : rtl;
	}

.ui-timepicker-rtl dl {
	text-align : right;
	}

.ui-timepicker-rtl dl dd {
	margin : 0 65px 10px 10px;
	}

div.ui-datepicker {
	font-size : 11px;
	}

.ad_appointment {
	cursor      : pointer;
	background  : url(../images/New%20Appointment.png) no-repeat;
	width       : 128px;
	height      : 29px;
	border      : none;
	margin-left : 20px;
	}

.ad_appointment:hover {
	background : url(../images/New%20Appointment-hover.png) no-repeat;
	}

/*---------------------popup-------------------*/

#Popup {
	display    : none;
	position   : fixed;
	_position  : absolute; /* hack for internet explorer 6*/
	height     : 100%;
	width      : 100%;
	top        : 0;
	left       : 0;
	background : #000000;
	/*background:#FFFFFF; */
	border     : 1px solid #cecece;
	z-index    : 40;
	}

#popupQuickquote {
	top                : 0;
	margin-top         : 0px;
	display            : none;
	height             : 335px;
	width              : 750px;
	z-index            : 100;
	position           : fixed;
	padding            : 0px 12px 12px 12px;
	text-align         : justify;
	margin-right       : 5px;
	background-color   : #ffffff;
	-moz-border-radius : 10px;
	/*-webkit-border-radius: 10px;
    border-radius: 10px;
    */
	border             : 1px solid;
	border-color       : #cacaca;
	color              : #555555;
	overflow-y:scroll;
	}

#popupReoccur {
	top                : 0;
	margin-top         : 0px;
	display            : none;
	height             : 132px;
	width              : 580px;
	z-index            : 100;
	position           : fixed;
	padding            : 0px 12px 12px 12px;
	text-align         : justify;
	margin-right       : 5px;
	background-color   : #ffffff;
	-moz-border-radius : 10px;
	/*-webkit-border-radius: 10px;
    border-radius: 10px;
    */
	border             : 1px solid;
	border-color       : #cacaca;
	color              : #555555;
	/*overflow-y:scroll;*/
	}

#popupDeleteReoccur {
	top                : 0;
	margin-top         : 0px;
	display            : none;
	height             : 132px;
	width              : 580px;
	z-index            : 100;
	position           : fixed;
	padding            : 0px 12px 12px 12px;
	text-align         : justify;
	margin-right       : 5px;
	background-color   : #ffffff;
	-moz-border-radius : 10px;
	/*-webkit-border-radius: 10px;
    border-radius: 10px;
    */
	border             : 1px solid;
	border-color       : #cacaca;
	color              : #555555;
	/*overflow-y:scroll;*/
	}

#popuppermission {
	top                : 0;
	margin-top         : 0px;
	display            : none;
	height             : 600px;
	width              : 800px;
	z-index            : 100;
	position           : fixed;
	padding            : 0px 12px 12px 12px;
	text-align         : justify;
	margin-right       : 5px;
	background-color   : #ffffff;
	-moz-border-radius : 10px;
	/*-webkit-border-radius: 10px;
    border-radius: 10px;
    */
	border             : 1px solid;
	border-color       : #cacaca;
	color              : #555555;
	/*overflow-y:scroll;*/
	}

#popupQuickquote1 {
	top                : 0;
	margin-top         : 0px;
	display            : none;
	height             : 400px;
	width              : 900px;
	z-index            : 100;
	position           : fixed;
	padding            : 0px 12px 12px 12px;
	text-align         : justify;
	margin-right       : 5px;
	background-color   : #ffffff;
	-moz-border-radius : 10px;
	/*-webkit-border-radius: 10px;
    border-radius: 10px;
    */
	border             : 1px solid;
	border-color       : #cacaca;
	color              : #555555;
	overflow-y:scroll;
	}

.reghead {
	color        : #555555;
	font-size    : 16px;
	padding-top  : 0px;
	font-weight  : bold;
	font-variant : normal;
	width        : auto;
	height       : auto;
	margin-left  : 10px;
	}

.create_account {
	cursor      : pointer;
	background  : url(../images/Create%20Account.png) no-repeat;
	margin-left : 10px;
	width       : 128px;
	height      : 29px;
	border      : none;
	}

.create_account:hover {
	background : url(../images/Create%20Account-hover.png) no-repeat;
	}

.submit_button {
	cursor      : pointer;
	background  : url(../images/submit.png) no-repeat;
	margin-left : 10px;
	width       : 128px;
	height      : 29px;
	border      : none;
	}

.submit_button:hover {
	background : url(../images/submit-hover.png) no-repeat;
	}

.reset_password {
	cursor      : pointer;
	background  : url(../images/Reset%20Password.png) no-repeat;
	margin-left : 10px;
	width       : 128px;
	height      : 29px;
	border      : none;
	}

.reset_password:hover {
	background : url(../images/Reset%20Password-hover.png) no-repeat;
	}

.login {
	cursor      : pointer;
	background  : url(../images/login.png) no-repeat;
	margin-left : 10px;
	width       : 128px;
	height      : 29px;
	border      : none;
	}

.login:hover {
	background : url(../images/login-hover.png) no-repeat;
	}

.continue {
	cursor      : pointer;
	background  : url(../images/continue.png) no-repeat;
	margin-left : 10px;
	width       : 128px;
	height      : 29px;
	border      : none;
	}

.continue:hover {
	background : url(../images/continue-hover.png) no-repeat;
	}

/*---------------------sir-imran-------------------*/
#index_logo {
	height     : auto;
	width      : auto;
	margin-top : 250px;
	}

.signIn {
	cursor      : pointer;
	background  : url(../images/Signin.png) no-repeat;
	margin-left : 10px;
	width       : 128px;
	height      : 29px;
	border      : none;
	}

.signIn:hover {
	background : url(../images/Signin-hover.png) no-repeat;
	}

.getRegister {
	cursor      : pointer;
	background  : url(../images/Get-Register.png) no-repeat;
	margin-left : 10px;
	width       : 200px;
	height      : 29px;
	border      : none;
	}

.getRegister:hover {
	background : url(../images/Get-Register-hover.png) no-repeat;
	}

/*---------------------permission-manager-------------------*/
.pmcontainer {
	float  : left;
	width  : 400px;
	border : 1px solid #000000;
	}

.pmnavcontainer ul {
	float       : left;
	font-family : arial, helvetica, sans-serif;
	font-size   : 12px;
	margin      : 0pt;
	margin-top  : 10px;
	padding     : 0pt;
	width       : 100%;
	}

.pmnavcontainer ul li {
	display    : inline;
	text-align : center;
	}

.pmnavcontainer ul li a:hover {
	background : url(../images/side-strip.png) repeat-x;
	color      : #ffffff;
	}

.pmnavcontainer ul li a {
	border-right     : 1px solid #dfdfdf;
	background-color : #e5e5e5;
	font-weight      : bold;
	color            : #535353;
	float            : left;
	padding          : 15px 11px 10px 10px;
	text-decoration  : none;
	width            : 138px;
	height           : 25px;
	}

.pmnavcontainer ul li a.current {
	border-right    : 1px solid #00c5dc;
	background      : url(../images/side-strip.png) repeat-x;
	font-weight     : bold;
	color           : #ffffff;
	float           : left;
	padding         : 15px 9px 10px 12px;
	text-decoration : none;
	width           : 138px;
	height          : 25px;
	}

#pmtabcontent {
	min-height : 190px;
	margin     : 0;
	float      : left;
	width      : 800px;
	}

#pmpreloader {
	position         : absolute;
	top              : 280px;
	left             : 400px;
	z-index          : 100;
	padding          : 5px;
	text-align       : center;
	background-color : #ffffff;
	}

#pm_head {
	color       : #555555;
	padding     : 5px 0 10px 0;
	font-size   : 14px;
	font-weight : bold;
	}

#pm_detail {
	}

#pm_steps {
	}

#pm_body {
	padding     : 77px 0 10px 160px;
	font-weight : bold;
	color       : #555555;
	}

#pm_manager {
	background : url(../images/Permission%20Confirmation.png) no-repeat scroll 0 0 transparent;
	border     : medium none;
	cursor     : pointer;
	display    : inline;
	float      : left;
	height     : 29px;
	margin     : 10px 0 0px;
	padding    : 0;
	width      : 170px;
	}

#pm_manager:hover {
	background : url(../images/Permission%20Confirmation-hover.png) no-repeat;
	}

#login_container {
	margin  : 0 auto;
	padding : 0;
	width   : 600px;
	}

#forgotpass_container {
	margin  : 0 auto;
	padding : 0;
	width   : 600px;
	}

.next_Compaign {
	margin-left : 10px;
	cursor      : pointer;
	background  : url(../images/next.png) no-repeat;
	border      : none;
	width       : 99px;
	height      : 29px;
	float       : left;
	}

.next_Compaign:hover {
	background : url(../images/Next-hover.png) no-repeat;
	}

.back_Compaign {
	cursor      : pointer;
	background  : url(../images/Back.png) no-repeat;
	width       : 99px;
	height      : 29px;
	border      : none;
	margin-left : 20px;
	}

.back_Compaign:hover {
	background : url(../images/Back-hover.png) no-repeat;
	}

.signin {
	cursor      : pointer;
	background  : url(../images/signin.png) no-repeat;
	margin-left : 10px;
	float       : left;
	width       : 100px;
	height      : 29px;
	border      : none;
	}

.signin:hover {
	background : url(../images/signin-hover.png) no-repeat;
	}

.signup {
	cursor      : pointer;
	background  : url(../images/signup.png) no-repeat;
	float       : left;
	margin-left : 28px;
	width       : 100px;
	height      : 29px;
	border      : none;
	}

.signup:hover {
	background : url(../images/signup-hover.png) no-repeat;
	}

.signupLeader {
	cursor      : pointer;
	background  : url(../images/leader-signup.png) no-repeat;
	float       : left;
	margin-left : 28px;
	width       : 118px;
	height      : 28px;
	border      : none;
	}

.signupLeader:hover {
	background : url(../images/leader-signup-hover.png) no-repeat;
	}

.signupUser {
	cursor      : pointer;
	background  : url(../images/user-signup.png) no-repeat;
	float       : left;
	width       : 118px;
	height      : 28px;
	border      : none;
	}

.signupUser:hover {
	background : url(../images/user-signup-hover.png) no-repeat;
	}

.forgot_pass {
	float           : right;
	margin-bottom   : 10px;
	font-size       : 14px;
	color           : #9b9b9b;
	font-weight     : bold;
	text-decoration : none;
	}

.submit {
	cursor      : pointer;
	background  : url(../images/submit.png) no-repeat;
	float       : left;
	margin-left : 10px;
	width       : 108px;
	height      : 29px;
	border      : none;
	}

.submit:hover {
	background : url(../images/submit-hover.png) no-repeat;
	}

.cancel_2 {
	cursor     : pointer;
	background : url(../images/cancel.png) no-repeat;
	width      : 99px;
	height     : 29px;
	border     : none;
	}

.cancel_2:hover {
	background : url(../images/cancel-hover.png) no-repeat;
	}

/* 22 */
.selectMedium {
	border        : 0.1em solid #bababa;
	border-radius : 2px 2px 2px 2px;
	color         : #9a9a9a;
	height        : 25px;
	margin        : 0;
	padding-top   : 2px;
	width         : 187px;
	}

.profile_buttons {
	clear       : both;
	display     : inline-block;
	height      : auto;
	margin-top  : 10px;
	width       : 660px;
	margin-left : 13px;
	}

.edit_profile {
	background  : url(../images/Edit%20Profile.png) no-repeat;
	width       : 107px;
	height      : 27px;
	margin-left : 10px;
	border      : 0;
	padding     : 0;
	cursor      : pointer;
	}

.edit_profile:hover {
	background : url(../images/Edit%20Profile-hover.png) no-repeat;
	}

.edit_link {
	background  : url(../images/Edit%20Link.png) no-repeat;
	width       : 107px;
	height      : 27px;
	margin-left : 10px;
	border      : 0;
	padding     : 0;
	cursor      : pointer;
	}

.edit_link:hover {
	background : url(../images/Edit%20Link-hover.png) no-repeat;
	}

.copy_link {
	background  : url(../images/Copy%20Link.png) no-repeat;
	width       : 107px;
	height      : 27px;
	margin-left : 10px;
	border      : 0;
	padding     : 5px;
	cursor      : pointer;
display: inline-block;
vertical-align:middle;
	}

.copy_link:hover {
	background : url(../images/Copy%20Link-hover.png) no-repeat;
	}

.delete_profile {
	background  : url(../images/Delete-btn.png) no-repeat;
	width       : 107px;
	height      : 27px;
	margin-left : 10px;
	border      : 0;
	padding     : 0;
	cursor      : pointer;
	}

.delete_profile:hover {
	background : url(../images/Delete-hover.png) no-repeat;
	}

#popupEditLink {
	background    : none repeat scroll 0 0 #ffffff;
	border        : 0.1em solid #bababa;
	border-radius : 7px;
	display       : none;
	height        : 227px !important;
	left          : 40%;
	position      : fixed;
	top           : 30%;
	width         : 254px !important;
	z-index       : 100;
	/*  display       : none;
    z-index       : 100;
    background    : #ffffff;
    border        : 0.1em solid #BABABA;
    border-radius : 7px;
    height        : 150px;
    width         : 500px;*/
	}

#popupEditLink h1 {
	color       : #555555;
	margin-left : 10px;
	}

section a {
	text-decoration : none;
	}

.update {
	cursor      : pointer;
	background  : url(../images/updates.png) no-repeat;
	width       : 99px;
	height      : 29px;
	border      : none;
	float       : left;
	display     : inline;
	margin-left : 10px;
	}

.update:hover {
	background : url(../images/updates-hover.png) no-repeat
	}

/*------------1-22-1013-----------*/
.textfieldmedium {
	color         : #555555;
	width         : 192px;
	height        : 25px;
	margin        : 0px 0px 10px 10px;
	border        : 0.1em solid #bababa;
	border-radius : 2px;
	font-size     : 12px;
	}

#groupslist {
	color        : #464545;
	font-size    : 12px;
	padding-left : 0px;
	margin-top   : 10px;
	}

#groupslist ul {
	list-style : none;
	padding    : 0 0 0 18px;
	margin     : 0;
	}

#groupslist ul li {
	padding : 3px 3px 3px 0px;
	margin  : 0;
	}

.SelectFieldmedium {
	color         : #555555;
	width         : 150px;
	height        : 25px;
	margin        : 0px 0px 10px 45px;
	border        : 0.1em solid #bababa;
	border-radius : 2px;
	padding-top   : 2px;
	}

.answer_label {
	color      : #555555;
	font-size  : 12px;
	width      : 30px;
	padding    : 0 5px 5px 10px;
	text-align : justify;
	}

.table_col {
	float   : left;
	display : inline-block;
	width   : 600px;
	height  : auto
	}

.firstContent {
	float          : left;
	width          : 330px;
	min-height     : 225px;
	/*border:1px solid #CCC;*/
	border-radius  : 10px;
	margin-top     : 10px;
	padding-bottom : 10px;
	}

.secondContent {
	float         : left;
	width         : 280px;
	min-height    : 90px;
	/*border:1px solid #CCC;*/
	border-radius : 10px;
	/*margin-top:10px;*/
	margin-left   : 10px;
	}

/*1-22*/
.thirdContent {
	float         : left;
	width         : 610px;
	height        : auto;
	/*border:1px solid #CCC; */
	border-radius : 10px;
	margin-top    : 10px;
	padding-left  : 10px;
	/*padding-top:10px;
    padding-bottom:10px;*/
	}

.firstcontent {
	float          : left;
	width          : 380px;
	min-height     : 306px;
	border         : 1px solid #cccccc;
	border-radius  : 10px;
	margin-top     : 10px;
	padding-bottom : 10px;
	}

#popupTransfer {
	display       : none;
	z-index       : 100;
	background    : #ffffff;
	border        : 0.1em solid #bababa;
	border-radius : 7px;
	height        : 150px;
	width         : 275px;
	}

#popupTransfer h1 {
	color       : #555555;
	margin-left : 10px;
	}

.transfer_btn {
	cursor      : pointer;
	background  : url(../images/Transfer.png) no-repeat;
	width       : 99px;
	height      : 29px;
	border      : none;
	float       : left;
	display     : inline;
	padding     : 0;
	margin-left : 10px;
	}

.transfer_btn:hover {
	background : url(../images/Transfer-hover.png) no-repeat;
	}

#edit1_button {
	cursor     : pointer;
	background : url(../images/edit1.png) no-repeat;
	width      : 99px;
	height     : 29px;
	border     : none;
	float      : left;
	display    : inline;
	padding    : 0;
	}

#edit1_button:hover {
	background : url(../images/edit1-hover.png) no-repeat
	}

#activate {
	cursor     : pointer;
	background : url(../images/activate.png) no-repeat;
	width      : 99px;
	height     : 29px;
	border     : none;
	float      : left;
	display    : inline;
	padding    : 0;
	}

#activate:hover {
	background : url(../images/activate-hover.png) no-repeat
	}

#disable {
	cursor     : pointer;
	background : url(../images/disable.png) no-repeat;
	width      : 99px;
	height     : 29px;
	border     : none;
	float      : left;
	display    : inline;
	padding    : 0;
	}

#disable:hover {
	background : url(../images/disable-hover.png) no-repeat
	}

#new_follow_up {
	cursor     : pointer;
	background : url(../images/New%20Follow-up.png) no-repeat;
	width      : 145px;
	height     : 29px;
	border     : none;
	float      : left;
	display    : inline;
	padding    : 0;
	}

#new_follow_up:hover {
	background : url(../images/New%20Follow-up-hover.png) no-repeat;
	}

#back_plan_list_button {
	cursor     : pointer;
	background : url(../images/Back.png) no-repeat;
	width      : 130px;
	height     : 29px;
	border     : none;
	float      : left;
	display    : inline;
	padding    : 0;
	}

#back_plan_list_button:hover {
	background : url(../images/Back-hover.png) no-repeat
	}

#archive {
	margin-left : 10px;
	cursor      : pointer;
	background  : url(../images/archive.png) no-repeat;
	border      : none;
	width       : 99px;
	height      : 29px;
	}

#archive:hover {
	background : url(../images/archive-hover.png) no-repeat;
	}

#newemail {
	margin-left : 10px;
	cursor      : pointer;
	background  : url(../images/newemail.png) no-repeat;
	border      : none;
	width       : 99px;
	height      : 29px;
	}

#newemail:hover {
	background : url(../images/newemail-hover.png) no-repeat;
	}

input[type="checkbox"] {
	vertical-align : middle;
	}

.editContact {
	float           : right;
	text-decoration : none;
	font-size       : 14px;
	padding-right   : 1px;
	}

.textarea1 {
	width  : 600px;
	height : 75px;
	}

.textarea2 {
	width  : 830px;
	height : 75px;
	}

#cancel1 {
	cursor      : pointer;
	background  : url(../images/cancel.png) no-repeat;
	width       : 99px;
	height      : 29px;
	border      : none;
	float       : left;
	display     : inline;
	padding     : 0;
	margin-left : 20px;
	}

#cancel1:hover {
	background : url(../images/cancel-hover.png) no-repeat
	}

#PopupGroups {
	display       : none;
	z-index       : 100;
	background    : #ffffff;
	border        : 0.1em solid #bababa;
	border-radius : 7px;
	height        : 150px;
	width         : 275px;
	}

#PopupGroups h1 {
	color       : #555555;
	margin-left : 10px;
	}

#PopupInterests {
	display       : none;
	z-index       : 100;
	background    : #ffffff;
	border        : 0.1em solid #bababa;
	border-radius : 7px;
	height        : 169px;
	width         : 275px;
	}

#PopupInterests h1 {
	color       : #555555;
	margin-left : 10px;
	}

.taskDiff {
	background-color : #eaeaea;
	padding          : 4px 0 4px 15px;
	font-weight      : bold;
	color            : #555555;
	}

.edit_content {
	width         : 120px;
	float         : right;
	padding-right : 10px;
	padding-top   : 10px;
	}

.bold {
	font-weight : bold;
	}

/*   2-6-2013 */

label.error {
	/* remove the next line when you have trouble in IE6 with labels in list */
	color      : red;
	font-style : normal;
	font-size  : 12px;
	}

.message {
	font-style : normal;
	color      : #ff0000;
	font-size  : 12px;
	}

/*imran aslam chattha */

#popupTransferContact {
	display       : none;
	z-index       : 100;
	background    : #ffffff;
	border        : 0.1em solid #bababa;
	border-radius : 7px;
	height        : 450px;
	width         : 375px;
	}

#backgroundPopup1 {
	display    : none;
	position   : fixed;
	_position  : absolute; /* hack for internet explorer 6*/
	height     : 100%;
	width      : 100%;
	top        : 0;
	left       : 0;
	background : #000000;
	border     : 1px solid #cecece;
	z-index    : 99;
	}

.bigCenter {
	background : url(../images/table-bg-center.png) repeat-x;
	height     : 45px;
	border     : none;
	width      : 25%;
	}

#accept {
	cursor     : pointer;
	background : url(../images/Accept.png) no-repeat;
	width      : 99px;
	height     : 29px;
	border     : none;
	float      : left;
	display    : inline;
	padding    : 0;
	}

#accept:hover {
	background : url(../images/Accept-hover.png) no-repeat
	}

#reject {
	cursor       : pointer;
	background   : url(../images/Reject.png) no-repeat;
	width        : 99px;
	height       : 29px;
	border       : none;
	/*float:left;*/
	display      : inline;
	padding-left : 25px;
	}

#reject:hover {
	background : url(../images/Reject-hover.png) no-repeat
	}

ul {
	margin : 0;
	}

#contentWrap {
	width    : 700px;
	margin   : 0 auto;
	height   : auto;
	overflow : hidden;
	}

#contentTop {
	width       : 600px;
	padding     : 10px;
	margin-left : 30px;
	}

.contentLeft {
	float : left;
	width : 800px;
	}

.contentLeft li {
	list-style : none;
	margin     : 0 0 0 -45px;
	padding    : 5px 10px 5px 10px;
	color      : #ffffff;
	font-size  : 12px;
	height     : 15px;
	}

#contentRight {
	float            : right;
	width            : 260px;
	padding          : 10px;
	background-color : #336600;
	color            : #ffffff;
	}

label.error {
	/* remove the next line when you have trouble in IE6 with labels in list */
	color      : red;
	font-style : normal;
	font-size  : 12px;
	margin-left:10px;
	}

.message {
	color     : #ff0000;
	font-size : 12px;
	}

.messageofsuccess {
	color     : #009933;
	font-size : 12px;
	}

.buttonstyle {
	background-color : #0099cc;
	border           : 1px solid #0099cc;
	color            : #ffffff;
	width            : 42px;
	}

.monthButtonstyle {
	background-color : #0099cc;
	border           : 1px solid #0099cc;
	color            : #ffffff;
	width            : 42px;
	}

.customfields {
	background : none repeat scroll 0 0 #e5e5e5;
	font-size  : 12px;
	margin     : 10px 0 0 10px;
	padding    : 5px 0 5px 5px;
	width      : 400px;
	}

.linkButton {
	cursor : pointer;
	}

.displayNone {
	display : none;
	}

.errorrequired {
	color       : red;
	font-size   : 12px;
	margin-left : 10px;
	}

.gfirst {
	float           : left;
	width           : 151px;
	text-decoration : none;
	color           : #555555;
	}

.gsecond {
	float           : left;
	width           : 425px;
	text-decoration : none;
	color           : #555555;
	}

.gthird {
	float : left;
	width : 75px;
	}

.gfourth {
	float : left;
	width : 133px;
	}

.reser_password {
	cursor      : pointer;
	background  : url(../images/Reset%20Password.png) no-repeat;
	float       : left;
	margin-left : 11px;
	width       : 142px;
	height      : 29px;
	border      : none;
	}

.reser_password:hover {
	background : url(../images/Reset%20Password-hover.png) no-repeat;
	}

.page_link {
	margin-left     : 2px;
	margin-right    : 2px;
	font-size       : 12px;
	color           : #555555;
	font-weight     : bold;
	text-decoration : none;
	vertical-align  : top;
	line-height     : 25px;
	}

.first_link {
	}

.previous_link {
	margin-left : 2px;
	}

.last_link {
	margin-left  : 2px;
	margin-right : 4px;
	}

.erroralert {
	color       : red;
	font-size   : 12px;
	margin-left : 10px;
	visibility  : hidden;
	}

.more {
	font-size : 14px;
	}

img.last {
	width  : 24px;
	height : 24px;
	}

img.first {
	width  : 24px;
	height : 24px;
	}

.detail {
	cursor         : pointer;
	background     : url(../images/EditDetails.png) no-repeat;
	width          : 99px;
	height         : 29px;
	border         : none;
	margin-left    : 10px;
	vertical-align : top;
	}

.detail:hover {
	background : url(../images/EditDetails-hover.png) no-repeat;
	}

.msg {
	/* remove the next line when you have trouble in IE6 with labels in list */
	color      : red;
	font-style : normal;
	font-size  : 12px;
	}

.popupEditTask {
	font-size : 12px;
	color     : #555555;
	}

.onlyThisTask {
	cursor         : pointer;
	background     : url(../images/onlythistask.png) no-repeat;
	width          : 129px;
	height         : 29px;
	border         : none;
	vertical-align : top;
	}

.onlyThisTask:hover {
	background : url(../images/onlythistask-hover.png) no-repeat;
	}

.allFutureTask {
	cursor         : pointer;
	background     : url(../images/allfutretasks.png) no-repeat;
	width          : 128px;
	height         : 29px;
	border         : none;
	margin-left    : 10px;
	vertical-align : top;
	}

.allFutureTask:hover {
	background : url(../images/allfutretasks-hover.png) no-repeat;
	}

.cross {
	text-decoration : line-through !important;
	}

.upgradeLater {
	cursor         : pointer;
	background     : url(../images/UpgradeLater.png) no-repeat;
	width          : 128px;
	height         : 29px;
	border         : none;
	margin-left    : 10px;
	vertical-align : top;
	}

.upgradeLater:hover {
	background : url(../images/UpgradeLater-hover.png) no-repeat;
	}

.upgradeNow {
	cursor         : pointer;
	background     : url(../images/UpgradeNow.png) no-repeat;
	width          : 128px;
	height         : 29px;
	border         : none;
	vertical-align : top;
	}

.upgradeNow:hover {
	background : url(../images/UpgradeNow-hover.png) no-repeat;
	}

.basic {
	cursor         : pointer;
	background     : url(../images/basic.png) no-repeat;
	width          : 246px;
	height         : 228px;
	border         : none;
	vertical-align : top;
	}

.basic:hover {
	background : url(../images/basic-t.png) no-repeat;
	}

.classic {
	cursor         : pointer;
	background     : url(../images/classic.png) no-repeat;
	width          : 246px;
	height         : 228px;
	border         : none;
	vertical-align : top;
	}

.classic:hover {
	background : url(../images/classic-t.png) no-repeat;
	}

.trialPeriod {
	margin-top : 20px;
	font-size  : 12px;
	color      : #555555;
	}

.planPeriod {
	margin    : 0 auto;
	font-size : 12px;
	color     : #555555;
	}

.planPeriod tr td {
	padding : 0 100px 0 0;
	}

.creditcard {
	float       : right;
	font-weight : bold;
	margin-top  : 10px;
	}

.editappiontment {
	cursor         : pointer;
	background     : url(../images/EditAppiontment.png) no-repeat;
	width          : 169px;
	height         : 30px;
	border         : none;
	vertical-align : top;
	}

.editappiontment:hover {
	background : url(../images/EditAppiontment-hover.png) no-repeat;
	}

.deleteappiontment {
	cursor         : pointer;
	background     : url(../images/DeleteAppiontment.png) no-repeat;
	width          : 169px;
	height         : 30px;
	border         : none;
	vertical-align : top;
	}

.deleteappiontment:hover {
	background : url(../images/DeleteAppiontment-hover.png) no-repeat;
	}

.onlyThisAppiontment {
	cursor         : pointer;
	background     : url(../images/OnlyThisAppiontment.png) no-repeat;
	width          : 169px;
	height         : 29px;
	border         : none;
	vertical-align : top;
	}

.onlyThisAppiontment:hover {
	background : url(../images/OnlyThisAppiontment-hover.png) no-repeat;
	}

.allFutureAppiontment {
	cursor         : pointer;
	background     : url(../images/AllFutureAppiontments.png) no-repeat;
	width          : 170px;
	height         : 29px;
	border         : none;
	margin-left    : 10px;
	vertical-align : top;
	}

.allFutureAppiontment:hover {
	background : url(../images/AllFutureAppiontments-hover.png) no-repeat;
	}

.agree {
	cursor      : pointer;
	background  : url(../images/Agree.png) no-repeat;
	width       : 99px;
	height      : 29px;
	border      : none;
	margin-left : 20px;
	}

.agree:hover {
	background : url(../images/Agree-hover.png) no-repeat;
	}

.sendpermissionconfirmation {
	cursor         : pointer;
	background     : url(../images/send.png) no-repeat;
	width          : 100px;
	height         : 29px;
	border         : none;
	margin-left    : 10px;
	vertical-align : top;
	}

.sendpermissionconfirmation:hover {
	background : url(../images/send-hover.png) no-repeat;
	}

#permission_manager {
	cursor         : pointer;
	background     : url(../images/PermissionManagerbtn.png) no-repeat;
	width          : 170px;
	float          : left;
	height         : 29px;
	border         : none;
	margin-left    : 10px;
	vertical-align : top;
	}

#permission_manager:hover {
	background : url(../images/PermissionManagerbtn-hover.png) no-repeat;
	}

.firstname {
	cursor         : pointer;
	background     : url(../images/firstname.png) no-repeat;
	width          : 210px;
	height         : 29px;
	border         : none;
	margin-left    : 10px;
	vertical-align : top;
	}

.firstname:hover {
	background : url(../images/firstname-hover.png) no-repeat;
	}

.lastname {
	cursor         : pointer;
	background     : url(../images/lastname.png) no-repeat;
	width          : 210px;
	height         : 29px;
	border         : none;
	margin-left    : 10px;
	vertical-align : top;
	margin-top     : 10px;
	}

.lastname:hover {
	background : url(../images/lastname-hover.png) no-repeat;
	}

.phonenumber {
	cursor         : pointer;
	background     : url(../images/phonenumber.png) no-repeat;
	width          : 210px;
	height         : 29px;
	border         : none;
	margin-left    : 10px;
	vertical-align : top;
	margin-top     : 10px;
	}

.phonenumber:hover {
	background : url(../images/phonenumber-hover.png) no-repeat;
	}

.companyname {
	cursor         : pointer;
	background     : url(../images/companyname.png) no-repeat;
	width          : 210px;
	height         : 29px;
	border         : none;
	margin-left    : 10px;
	vertical-align : top;
	margin-top     : 10px;
	}

.companyname:hover {
	background : url(../images/companyname-hover.png) no-repeat;
	}

#note {
	display : none;
	}

#dom {
	display : none;
	}

#popupGroups {
	display       : none;
	z-index       : 100;
	background    : #ffffff;
	border        : 0.1em solid #bababa;
	border-radius : 7px;
	height        : auto;
	width         : 25%;
	padding       : 10px 10px 10px 0px;
	}

#popupGroups h1 {
	color       : #555555;
	margin-left : 10px;
	}

#PopupInterests {
	display       : none;
	z-index       : 100;
	background    : #ffffff;
	border        : 0.1em solid #bababa;
	border-radius : 7px;
	height        : auto;
	width         : 25%;
	padding       : 10px 10px 10px 0px;
	}

#PopupInterests h1 {
	color       : #555555;
	margin-left : 10px;
	}

.okGroup {
	margin-left : 10px;
	cursor      : pointer;
	background  : url(../images/ok.png) no-repeat;
	border      : none;
	width       : 99px;
	height      : 29px;
	float       : left;
	}

.okGroup:hover {
	background : url(../images/ok-hover.png) no-repeat;
	}

.okInterest {
	margin-left : 10px;
	cursor      : pointer;
	background  : url(../images/ok.png) no-repeat;
	border      : none;
	width       : 99px;
	height      : 29px;
	float       : left;
	}

.okInterest:hover {
	background : url(../images/ok-hover.png) no-repeat;
	}

.addPeople {
	background    : url(../images/AddGroupofPeople.png) no-repeat;
	border        : none;
	width         : 170px;
	height        : 29px;
	margin-left   : 10px;
	cursor        : pointer;
	margin-bottom : 10px;
	}

.addPeople:hover {
	background : url(../images/AddGroupofPeople-hover.png) no-repeat;
	}

.delit {
	float  : right;
	border : none;
	cursor : pointer;
	}

.permissionManager {
	cursor         : pointer;
	background     : url(../images/GotoPermissionManager.png) no-repeat;
	width          : 170px;
	height         : 29px;
	border         : none;
	vertical-align : top;
	cursor         : pointer;
	}

.permissionManager:hover {
	background : url(../images/GotoPermissionManager-hover.png) no-repeat;
	}

.listMailer {
	cursor     : pointer;
	background : url(../images/ListMailer.png) no-repeat;
	width      : 99px;
	height     : 29px;
	border     : none;
	cursor     : pointer;
	}

.listMailer:hover {
	background : url(../images/ListMailer-hover.png) no-repeat;
	}

.lislmailer_des {
	border        : 1px solid #555555;
	border-radius : 5px;
	padding       : 10px;
	}

.lislmailer_des h1 {
	color  : #555555;
	margin : 0px;
	}

#permission_manager2 {
	background     : url(../images/PermissionManagerbtn.png) no-repeat;
	width          : 170px;
	height         : 29px;
	border         : none;
	vertical-align : top;
	cursor         : pointer;
	margin-left    : 10px;
	}

#permission_manager2:hover {
	background : url(../images/PermissionManagerbtn-hover.png) no-repeat;
	}

.listMailer_disable {
	cursor     : pointer;
	background : url(../images/ListMailer-disable.png) no-repeat;
	width      : 99px;
	height     : 29px;
	border     : none;
	cursor     : pointer;
	}

.loginLink {
	text-decoration : none;
	font-weight     : bold;
	color           : #0000cc;
	font-size       : 14px;
	float           : right;
	padding         : 30px 40px 0 0;
	}

.loginLink:hover {
	text-decoration : underline;
	color           : #0000cc;
	font-size       : 14px;
	float           : right;
	padding         : 30px 40px 0 0;
	}

.traficLight {
	width  : 16px;
	height : 16px;
	}

#backgroundEditContact {
	display    : none;
	position   : fixed;
	_position  : absolute; /* hack for internet explorer 6*/
	height     : 100%;
	width      : 100%;
	top        : 0;
	left       : 0;
	background : #000000;
	border     : 1px solid #cecece;
	z-index    : 99;
	opacity    : 0.5;
	}

img {
	border : none;
	}

.restoreContacts {
	background     : url(../images/Restore.png) no-repeat;
	width          : 99px;
	height         : 29px;
	border         : none;
	vertical-align : top;
	cursor         : pointer;
	}

.restoreContacts:hover {
	background : url(../images/Restore-hover.png) no-repeat;
	}

.deleteContacts {
	background  : url(../images/delete1.png) no-repeat;
	width       : 99px;
	height      : 29px;
	margin-left : 10px;
	border      : 0;
	cursor      : pointer;
	}

.deleteContacts:hover {
	background : url(../images/delete1-hover.png) no-repeat;
	}

.savenoteP {
	background : url(../images/note--top.png) no-repeat;
	width      : 239px;
	height     : 37px;
	padding    : 0;
	margin     : 0;
	}

.savefile {
	cursor         : pointer;
	background     : url(../images/savenote.png) no-repeat;
	width          : 99px;
	height         : 29px;
	border         : none;
	margin-left    : 10px;
	vertical-align : top;
	}

.total {
	color     : #464545;
	font-size : 13px;
	}

.paidtext {
	font-family : Arial, Helvetica, sans-serif;
	font-size   : 14px;
	color       : #555555;
	width       : 30%;
	}

.copy_code {
	background  : url(../images/CopySourceCode.png) no-repeat;
	width       : 136px;
	height      : 27px;
	margin-left : 10px;
	border      : 0;
	padding     : 0;
	cursor      : pointer;
	}

.copy_code:hover {
	background : url(../images/CopySourceCode-hover.png) no-repeat;
	}

/*.edit_profile {*/
	/*background  : url(../images/Edit_Profile.png) no-repeat;*/
	/*width       : 107px;*/
	/*height      : 25px;*/
	/*margin-left : 10px;*/
	/*border      : 0;*/
	/*padding     : 0;*/
	/*cursor      : pointer;*/
	/*}*/

/*.edit_profile:hover {*/
	/*background : url(../images/Edit_Profile-hover.png) no-repeat;*/
	/*}*/

.archives {
	background  : url(../images/archives.png) no-repeat;
	width       : 107px;
	height      : 27px;
	margin-left : 10px;
	border      : 0;
	padding     : 0;
	cursor      : pointer;
	}

.archives:hover {
	background : url(../images/archives-hover.png) no-repeat;
	}


.editDefaultVideo{

    background  : url(../images/editVideo.png) no-repeat;
    width       : 107px;
    height      : 27px;
    margin-left : 10px;
    border      : 0;
    padding     : 0;
    cursor      : pointer;


}
.borderred{ border: 1px solid;
border-color: red;}
.editDefaultVideo:hover{

    background : url(../images/editVideo-hover.png) no-repeat;
}

.publish_profile {
	background  : url(../images/Publish-Profile.png) no-repeat;
	width       : 107px;
	height      : 27px;
	margin-left : 10px;
	border      : 0;
	padding     : 0;
	cursor      : pointer;
	}

.publish_profile:hover {
	background : url(../images/Publish_Profile-hover.png) no-repeat;
	}

.zeroContent {
	float          : left;
	width          : 380px;
	min-height     : 90px;
	margin-top     : 10px;
	padding-bottom : 10px;
	}

.labelSmall {
	color     : #555555;
	font-size : 12px;
	width     : 10%;
	padding   : 0px 10px 10px 10px;
	}

.clear {
	clear : both;
	}

.none {
	display : none;
	}

.floatRight {
	float : right;
	}

.floatLeft {
	float : left;
	}

.leftOptions {
	width  : 215px;
	height : 100%;
	float  : left;
	}

.rightMiddleContent {
	width      : 700px;
	height     : 100%;
	min-height : 400px;
	float      : left;
	}

#tblsettingsLeader { width : 179px; }

#tblsettingsLeader a {
	color           : black;
	text-decoration : none;
	font-size       : 12px;
	}

#tblsettingsLeader tr td {
	padding-left   : 10px;
	padding-right  : 10px;
	padding-top    : 5px;
	padding-bottom : 5px;
	}

.containerSettings {
	margin-top : 20px;
	}

.settingsSelected {
	background-color : #cccccc;
	}

#saveUrl {
	display : none;
	}

#tblSettingsField {
	border-collapse : collapse
	}

#tblSettingsField a {
	color           : blue;
	text-decoration : underline;
	cursor          : pointer;
	}

#tblSettingsField > tbody > tr > td {
	font-size    : 12px;
	padding-left : 20px;
	}

#tblSettingsField > tbody > tr {
	height : 50px;
	}

#tblSettingsField > tbody > tr:not(:first-child) {
	/*background-color:#f7f6f6; */
	border : 0px solid black;
	}

#tblSettingsField > tbody > tr {
	/*background-color:#f7f6f6; */
	border : 0px solid black;
	}

#tblSettingsField > tbody > tr.spacer {
	margin-bottom    : 10px;
	background-color : white;
	border           : 0px solid black;
	height           : 22px
	}

#tblSettingsField > tbody > tr:nth-child(1) > td:nth-child(1) {
	padding-left : 35px
	}

.hideBorders {
	border           : 0px;
	width            : 200px;
	background-color : #f7f6f6;
	}

.hidden {
	display : none;
	}

#newField {
	width            : 666px;
	border           : 1px solid grey;
	background-color : #f7f6f6;
	display          : none;
	margin-top       : 20px;
	padding          : 0 20px 20px 20px;
	}

#clickNewField {
	float        : right;
	margin-right : 0px;
	}

.fieldbtn {
	background-color : #e6e6e6;
	border           : 1px solid black;
	width            : 79px;
	height           : 20px;
	font-size        : 12px;
	border-radius    : 4px;
	padding-top      : 5px;
	text-align       : center;
	cursor           : pointer;
	}

.frmbtn {
	height      : 26px;
	padding-top : 2px;
	min-width : 79px;
	max-width: auto;
	width:auto;
	}

.frmbtnNewProfile {
	margin-left : 42px;
	}

#tblSettingsNewField {
	font-size : 12px;
	}

#tblSettingsNewField > tbody > tr.spacer {
	height : 20px;
	}

#tblSettingsNewField .checkboxCount {
	}

#tblSettingsNewField .checkbox {
	}

#frmSignupUser {
	font-size : 12px;
	}

.customField {
	color         : #555555;
	border        : 0.1em solid #bababa;
	border-radius : 2px;
	margin-left   : 10px;
	margin        : 0px 30px 10px 10px
	}

#tblUpcomingtask > tbody > tr > td {
	font-size : 12px;
	}

#tblUpcomingtask > tbody > tr {
	height : 20px;
	}

#btnCancel {
	margin-left : 20px;
	}

.btnSecond {
	margin-left : 20px;
	}

#tblQuickLinks {
	border          : 1px solid black;
	border-collapse : collapse;
	}

#tblQuickLinks th {
	cursor         : pointer;
	text-align     : left;
	padding-left   : 20px;
	padding-top    : 13px;
	padding-bottom : 13px;
	border-bottom  : 1px solid black;
	}

#tblQuickLinks > thead > tr > th:nth-child(5) {
	padding-left : 0px;
	}

#tblQuickLinks td {
	text-align : left
	}

#tblQuickLinks > tbody > tr > td {
	font-size    : 12px;
	padding-left : 20px;
	}

#tblQuickLinks > tbody > tr {
	height : 50px;
	}

/*#tblQuickLinks > tbody tr:nth-child(odd){background-color:#ffffff;}
#tblQuickLinks > tbody tr:nth-child(even){background-color:#EAEAEA;}*/

#tblsortableFields {
	border-collapse : collapse
	}

#tblsortableFields > tbody > tr {
	background-color : #f7f6f6;
	border           : 1px solid black;
	}

#tblsortableFields > tbody > tr > td {
	height        : 40px;
	padding-left  : 15px;
	margin-bottom : 40px;
	}

#tblsortableQuestions {
	border-collapse : collapse
	}

#tblsortableQuestions > tbody > tr {
	background-color : #f7f6f6;
	border           : 1px solid black;
	}

#tblsortableQuestions > tbody > tr > td {
	height        : 40px;
	padding-left  : 15px;
	margin-bottom : 40px;
	}

#tblQuickLinks a {
	color           : blue;
	text-decoration : underline;
	font-size       : 12px;
	cursor          : pointer;
	}

#msg {
	font-size : 12px;
	}

#msgProfile {
	font-size : 12px;
	height    : 30px;
	display   : block;
	position  : absolute;
	}

#msgDiv {
	height : 30px;
	margin : 0 10px 5px;
	}

#loadingImg {
	margin : 0 auto;
	}

.margin0auto {
	margin  : 0 auto;
	display : block;
	}

#editField {
	display : none;
	}

#editFieldAfter {
	width            : 666px;
	border           : 1px solid grey;
	background-color : #f7f6f6;
	margin-top       : 20px;
	padding          : 0 20px 20px 20px;
	}

#editFieldBefore {
	display : none;
	}

.displayBlock {
	display       : block;
	margin-bottom : 10px;
	}

.noCss {
	background-color : transparent !important;
	border           : 0px;
	height           : 20px;
	}

#tblProfileMenu {
	width     : 90%;
	font-size : 12px;
	}

#tblProfileMenu a {
	color           : black;
	text-decoration : none;
	font-size       : 12px;
	cursor          : pointer;
	}

#tblProfileMenu tr td {
	padding-left   : 10px;
	padding-right  : 10px;
	padding-top    : 5px;
	padding-bottom : 5px;
	}

.profileThumb {
	margin-top : 25px;
	}

.profileThumb img {
	margin-right : 59px;
	cursor       : pointer;
	}

.profileThumb img.noMargin {
	margin-right : 0px;
	}

#tblCreateProfile {
	font-size : 12px;
	}

#tblCreateProfile > tbody > tr.spacer {
	height : 20px;
	}

.txtCreateProfile {
	width : 300px;
	}

#frmCreateProfile textarea {
	resize : none;
	}

#tblQuestions {
	border          : 1px solid black;
	border-collapse : collapse;
	}

#tblQuestions a {
	color           : blue;
	text-decoration : underline;
	cursor          : pointer;
	}

#tblQuestions th {
	cursor         : pointer;
	text-align     : left;
	padding-left   : 20px;
	padding-top    : 13px;
	padding-bottom : 13px;
	border-bottom  : 1px solid black;
	}

#tblQuestions > thead > tr > th:nth-child(5) {
	padding-left : 0px;
	}

#tblQuestions > tbody > tr > td {
	text-align    : left;
	font-size     : 12px;
	padding-left  : 20px;
	border-bottom : 1px solid black;
	}

#tblQuestions > tbody > tr {
	height : 50px;
	}

.pager {
	float      : right;
	margin-top : 5px;
	}

.sortableSpacer td {
	height       : 20px;
	border-right : 1px solid white;
	border-left  : 1px solid white;
	}

#pageGroups {
	width : 30%;
	float : left;
	}

#pageCampaign {
	width : 60%;
	float : right;
	}

#tblAssignGroups {
	padding        : 0px;
	margin         : 0px;
	font-size      : 14px;
	width          : 100%;
	border-spacing : 1px;
	}

#tblAssignPlans {
	padding          : 0px;
	margin           : 0px;
	font-size        : 14px;
	width            : 100%;
	border-spacing   : 0px;
	background-color : #daebf7;
	border           : 1px solid #daebf7;
	}

#tblAssignPlans tr:nth-child(odd) {
	background-color : #ebf2fa;
	}

#tblAssignPlans tr:nth-child(even) {
	background-color : #ffffff;
	}

#tblAssignPlans td {
	border : none;
	}

.spacer {
	height : 20px;
	}

#tblPageCustomQuestionRules {
	border          : 1px solid black;
	border-collapse : collapse;
	padding         : 0px;
	margin          : 0px;
	width           : 100%;
	font-size       : 13px;
	}

#tblPageCustomQuestionRules a {
	color           : blue;
	text-decoration : underline;
	cursor          : pointer;
	}

#tblPageCustomQuestionRules th {
	cursor         : pointer;
	text-align     : center;
	padding-top    : 13px;
	padding-bottom : 13px;
	border-bottom  : 1px solid black;
	border-right   : 1px solid black;
	}

#tblPageCustomQuestionRules td {
	text-align    : center;
	height        : 40px;
	border-bottom : 1px solid black;
	border-right  : 1px solid black;
	}

#tblPageCustomQuestions {
	border-collapse : collapse;
	padding         : 0px;
	width           : 100%;
	font-size       : 12px;
	}

#tblPageCustomQuestions tbody tr td:nth-child(1) {
	width : 40%;
	}

.largeQuestion {
	width         : auto;
	padding-left  : 4px;
	padding-right : 4px;
	}

.grid_100 {
	width  : 100%;
	height : auto;
	}

.grid_50 {
	width  : 50%;
	height : auto;
	}

.grid_33 {
	width  : 33%;
	height : auto;
	}

.marginLeft_150 {
	margin-left : 200px;
	}

.largeButton {
	text-align : center;
	height     : 80px;
	width      : auto;
	}

.link {
	text-decoration : underline;
	cursor          : pointer;
	color           : blue;
	}

.centreText {
	text-align : center;
	display    : block;
	}

.loadingProfile {
	position     : absolute;
	padding-left : 13px;
	}

.verticalAlignBottom {
	vertical-align : bottom;
	}

.colorRed {
	color : red;
	}

td.actions {
	text-align : center;
	}

#tblarchive {
	border          : 1px solid black;
	border-collapse : collapse;
	}

#tblarchive th {
	cursor         : pointer;
	text-align     : left;
	padding-left   : 20px;
	padding-top    : 13px;
	padding-bottom : 13px;
	border-bottom  : 1px solid black;
	}

#tblarchive > thead > tr > th:nth-child(5) {
	padding-left : 0px;
	}

#tblarchive td {
	text-align : left
	}

#tblarchive > tbody > tr > td {
	font-size    : 12px;
	padding-left : 20px;
	}

#tblarchive > tbody > tr {
	height : 50px;
	}

#tblarchive a {
	color           : blue;
	text-decoration : underline;
	font-size       : 12px;
	cursor          : pointer;
	}

.appointment_action a {
	text-decoration : underline;
	/*color:black;*/
	font-size       : 13px;
	}

.appointment_action a:hover {
	/*text-decoration: underline;*/
	}

.warning { color : red; display : none; margin-left : 20px; }
.warningProfile { color : red; display : none; margin-left : 00px; }
.warningProfileDiv{ display : none;}
.notificationStatus{float: right; color:blue; font-size:13px;}
.notificationStatus a{ text-decoration : underline;}

#tblNotification {
	border          : 1px solid black;
	border-collapse : collapse;
	font-size:13px !important;	}

#tblNotification th {
	cursor         : pointer;
	text-align     : left;
	padding-left   : 20px;
	padding-top    : 13px;
	padding-bottom : 13px;
	border-bottom  : 1px solid black;
	}

#tblNotification > thead > tr > th:nth-child(5) {
	padding-left : 0px;
	}

#tblNotification td {
	text-align : left
	}

#tblNotification > tbody > tr > td {
	font-size    : 12px;
	padding-left : 20px;
	}

#tblNotification > tbody > tr {
	height : 50px;
	}

#tblNotification a {
	color           : blue;
	text-decoration : underline;
	font-size       : 12px;
	cursor          : pointer;
	}
.guestLink:hover{ text-decoration : underline; }
.complete_profile {
    background  : url(../images/completeprofile.png) no-repeat;
    width       : 121px;
    height      : 27px;
    margin-left : 10px;
    border      : 0;
    padding     : 0;
    cursor      : pointer;
}

.complete_profile:hover {
    background : url(../images/completeprofile-hover.png) no-repeat;
}
.discard {
    background  : url(../images/DiscardProfile.png) no-repeat;
    width       : 107px;
    height      : 27px;
    margin-left : 10px;
    border      : 0;
    padding     : 0;
    cursor      : pointer;
}

.discard:hover {
    background : url(../images/DiscardProfile-hover.png) no-repeat;
}
#attachment-error
{
    color:red;
}
.attachmentP {
    margin-left: 9px;
    background-color: #DDDDDD;
    max-width: 300px;
    height: 27px;
    padding: 0px;
    vertical-align: middle;
    padding-top: 5px;
    color: #6B6565;
    border-radius: 4px;
    font-size: 13px;
}
/* **** contact edit page *****/

.executionDatecheckBox{
    font-size: 11px !important;
    color: #008000;
    padding-top: 0px;
    width: 80px !important;
    white-space: nowrap;
}
.loadDatePicker{
    color: #555555;
    font-size: 12px;
    width: 190px;
    height: 16px;
    margin: 5px 0px 10px 10px;
    border: 0.1em solid #bababa;
    border-radius: 2px;
    padding-top: 2px;
}