<ul><li style="background-color:{{groups.color}};"><input type="checkbox"  id="groupcheckbox[]" name="groupcheckbox[]" value="{{groups.groupId}}" ><label class="plan_label">{{groups.name}}</label><label style="float:right;">
{{#if groups.groupflag }}
<img src="../../images/link.gif" style="cursor:pointer;" width="17" height="17" title="{{groups.title}}"/>
{{/if}}</label></li>
{{groups.array.one}}
{{groups.array.two}}
{{groups.array.three}}
</ul>





{{#if_eq this.typeId compare=5}}
<tr> <td class="answer_label" colspan="2"><table width="100%" cellspacing="0" cellpadding="0" id="contact_table" style="width:800px;"><tbody><tr class="header"><th width="30%" class="center_col_plan"></th>
{{#each this.choicelabel}}
<th class="center_col_plans">{{this}}
{{/each}}</tr><input type="hidden" name="typeId[]" value="{{typeId}}" />
							 <input type="hidden" name="replyId[]" value="{{replyId}}" />
							 <input type="hidden" name="questionId[]" value="{{questionId}}" />
{{#each this.answer}}
<tr><td class="tab_ques">{{choiceText}}</td>
{{/each}}    
{{/if_eq}}


 
{{#if replyId}}

<div class="thirdContent">
<table border="0" cellpadding="0" width="100%" cellspacing="0">
{{#each questionAnswers}}

<tr><td  class="question_label bullet">{{question}}</td></tr>
{{{#if_eq typeId compare=1}}
<tr><td  class="answer_label">
{{#if answer}}
{{answer}}
{{else}}
{{answerText}}
{{/if}}
</td></tr>
{{/if_eq}}
{{#if_eq typeId compare=2}}
<tr><td  class="answer_label">
{{#if answer}}
{{answer}}
{{else}}
{{answerText}}
{{/if}}
</td></tr>
{{/if_eq}}
{{#if_eq typeId compare=3}}
{{#each questionAnswers.answer}}
<tr><td  class="answer_label">
{{#if answer}}
{{#if value}}
{{choiceText}}
{{#if value}}
{{value}}
{{/if}}
{{else}}
{{answerText}}
{{/if}}
{{/if}}
</td></tr>
{{/each}}
{{/if_eq}}
{{#if_eq typeId compare=4}}
{{#each answer}}
<tr><td  class="answer_label">
{{#if answer}}
{{#if value}}
{{answerText}}
{{else}}
{{choiceText}}
{{#if value}}
{{value}}
{{/if}}
{{/if}}
</td></tr>
{{/each}}
{{/if_eq}}
{{#if_eq typeId compare=5}}
{{#each answer}}
<tr><td  class="answer_label">
{{#if answer}}
{{#if value}}
{{answerText}}
{{else}}
{{choiceText}}
{{#if value}}
{{value}}
{{/if}}
{{/if}}
</td></tr>
{{/each}}
{{/if_eq}}
{{/each}}
{{/each}}
</table>       

</div>
{{/if}}

