#header-container {
	padding: 15px;
}

#top-container {
	background-color: #F2F2F2;
	padding: 15px 0px;
}
.container-fluid {
	padding: 0px;
}
h1.top-container-title {
	color: #EF509C;
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
}
p.top-container-description {
	color: rgb(127, 127, 127);
	font-size: 18px;
}

#form-container {
	background-color: #f9f9f9;
}

#order-form {
	margin: 50px auto;
	background-color: transparent !important;
}
.form-title {
	margin-bottom: 25px;
}

.moonray-form-label {
	font-size: 13px !important;
	color: #555555 !important;
	padding: 5px 0px;
	font-weight: bold !important;
}
.ussr-grid-wrapper {
	padding: 0px !important;
	max-width: 680px !important;
}

table {
	background-color: #fff;
	
}
table .label {
	color: #000;
	
}
table td.label {
	padding-left: 15px !important;
}

#email-message p,
#uname-message p {
	margin-bottom: 0px;
}

footer {
	height: 50px;
	line-height: 50px;
	background: #404040;
}

footer p {
	color: #d0d0d0;
	letter-spacing: 1px;
	margin: 0px;
}

.clear-fix {
	clear: both;
}
input.error,
select.error
{
	border: 1px solid red !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483 !important;
}
.error {
    padding-top: 5px;
	color: red;
	font-size: 1.1em;
}
.card-info .error {
    font-size: 0.9em;
}
.moonray-form-error-message {
	display: none !important;
}

.moonray-form-input-type-submit
.moonray-form-input {
    color: #fff !important;
    background-color: #337ab7 !important;
    border-color: #2e6da4 !important;
    display: inline-block !important;
    padding: 6px 12px !important;
    margin-bottom: 0 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 1.42857143 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: middle !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    cursor: pointer !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    background-image: none !important;
    border: 1px solid transparent !important;
    border-radius: 4px !important;
}
.paymentInclud{
    font-size: 10px;
}