@font-face {
    font-family: Futura-Std-Bold;
    src: url('Futura-Std-Bold_19042.ttf');
}

@font-face {
    font-family: Futura-Std-Book;
    src: url('Futura-Std-Bold_19042.ttf');
}

@font-face {
    font-family: Futura-Std-Light;
    src: url('FuturaStd-Light.otf');
}

body {
    font-family: Futura-Std-Light;
    font-size: 13px;
}


.container-fluid {
    padding: 0px !important;
}

header {
    height: 100px;
    line-height: 100px;
}
.custom-container {
    margin: 0px 100px;
}

/*===================================================
        BANNER
=====================================================*/
#banner {
    width: 100%;
    height: 300px;
    background: url("../images/banner.jpg") no-repeat;
    background-size: cover;
    display: inline-table;
    vertical-align: middle;
}
#text-wrapper {
    display: table-cell;
    vertical-align: middle;
}
.banner-title {
    font-family: Futura-Std-Bold;
    font-size: 30px;
    color: #ffffff;
    letter-spacing: 3px;
    text-shadow: 1px 1px #808080;
    text-transform: uppercase;
}
#banner p {
    font-family: Futura-Std-Light;
    font-size: 24px;
    color: #ffffff;
    letter-spacing: 3px;
    text-shadow: 1px 1px #707070;
    padding: 30px 0px 0px;
    word-spacing: -2px;
}

/*=============================================================
                Middle Container
=============================================================*/

#middle-container {
    min-height: 460px;
}

#middle-container-left {
    background-color: #dcdddd;
    min-height: inherit;
    padding: 10px 60px 0px;
}

#middle-container-right {
    background-color: #f2f2f2;
    min-height: inherit;
    padding: 10px 60px 0px;
}

.list-title {
    font-family: Futura-Std-Book;
    font-size: 28px;
    color: #5A5A5A;
    padding: 0px 10px 20px;
}

ul.lists {
    padding-left: 10px;
}

ul.lists li {
    font-family: Futura-Std-Light;
    font-size: 22px;
    list-style-type: none;
    background: url("../images/check.png") 0px 3px no-repeat;
    padding-left: 30px;
    padding-bottom: 5px;
    color: #5A5A5A;
}

/*=============================================================
                Quotes Container
=============================================================*/

.quotes-container {
    padding: 75px 50px 50px;
}

.left-quote,
.right-quote {
    margin-bottom: 15px;
}

div.quote-bg {
    font-family: Futura-Std-Light;
    height: auto;
    font-size: 1.4em;
    color: #5A5A5A;
    margin-bottom: 0px;
    position: relative;
    padding: 2% 2% 2% 5%;
}

.left-quote div.quote-bg {
    background: url("../images/qoute-bg-1.png") no-repeat;
    background-size: 100% 100%;
}

.right-quote div.quote-bg {
    background: url("../images/qoute-bg-2.png") no-repeat;
    background-size: 100% 100%;
    padding: 2% 5% 2% 2%;
}

div.quote-bg div.paragraph {
    padding-bottom: 10px;
}

div.right-quote div.paragraph {
    padding-bottom: 20px;
}

div.client-name {
    font-family: Futura-Std-Light;
    font-size: 16px;
    color: #65AAB1;
    font-weight: bold;
    text-align: right;
}

.quote {
    margin-top: 0px;
}

/*=============================================================
                        Join Us
=============================================================*/
#leaderTemplateDropDwon{
    background: #f2f2f2;
    margin-top: 0px;
    padding: 30px;
    margin-bottom: 20px;
}
#join-us {
    background-color: #42464b;
    height: 100px;
    margin-bottom: 50px;
}

#join-us > div {
    height: 100px;
    width: 100%;
    display: inline-table;
    vertical-align: middle;
}

span.join-us-title {
    font-family: Futura-Std-Bold;
    font-size: 26px;
    color: #ffffff;
    text-shadow: 1px 1px #2D2C2C;
    height: auto;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}
/*=============================================================
                    Offers
=============================================================*/
#products {

}
#best-value {
    width: 100%;
    padding-top: 10px;
}

#best-value img {
    position: absolute;
    right: -18px;
}

#zen-product {
    margin-top: 130px;
    margin-right: 30px;
}
#zen-product img {
    width: 100%;
}
#zap-product img {
    width: 90%;
}

/*=============================================================
                        Footer
=============================================================*/
footer {
    height: 50px;
    line-height: 50px;
    background: #404040;
}

footer p {
    color: #d0d0d0;
    letter-spacing: 1px;
    margin: 0px;
}

.clear-fix {
    clear: both;
}

@media (min-width: 1367px) and (max-width: 1440px) {
    .banner-title {
        font-size: 2.2em;
    }
    #banner p {
        font-size: 1.6em;
    }

    .list-title {
        font-size: 2.2em;
    }
    ul.lists li {
        font-size: 1.8em;
    }
}

@media (min-width: 1281px) and (max-width: 1366px) {
    #banner p {
        font-size: 1.6em;
    }

    .list-title {
        font-size: 2.2em;
    }
    ul.lists li {
        font-size: 1.8em;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .custom-container {
        margin: 0px 60px;
    }
    .banner-title {
        font-size: 2.1em;
    }
    #banner p {
        font-size: 1.4em;
    }

    .list-title {
        font-size: 2em;
    }
    ul.lists li {
        font-size: 1.6em;
    }
}

@media (min-width: 901px) and (max-width: 1024px) {
    .custom-container {
        margin: 0px 50px;
    }
    /*=====================Banner===========================*/
    .banner-title {
        font-size: 28px;
    }
    #banner p {
        font-size: 20px;
        padding: 10px 0px 0px;
    }
    /*=====================Middle Container===========================*/

    .list-title {
        font-size: 24px;
    }
    ul.lists li {
        font-size: 18px;
    }
    /*=====================Quotes Container===========================*/
    div.quote-bg {
        font-size: 1.3em;
    }

    /*=====================Join Us===========================*/

    span.join-us-title {
        font-size: 1.8em;
    }
}

@media (min-width: 768px) and (max-width: 900px) {
    .custom-container {
        margin: 0px 50px;
    }
    /*=====================Banner===========================*/
    .banner-title {
        font-size: 28px;
    }
    #banner p {
        font-size: 1.5em;
        padding: 10px 0px 0px;
    }
    /*=====================Middle Container===========================*/

    .list-title {
        font-size: 2em;
    }
    ul.lists li {
        font-size: 1.7em;
    }
    /*=====================Middle Container===========================*/
    #middle-container-right {
        margin-bottom: 50px;
    }
    /*=====================Quotes Container===========================*/
    div.quote-bg {
        font-size: 1.2em;
    }
    /*=====================Offers Container===========================*/
    #zen-product {
        margin-right: 0px;
    }
    #zen-product img {
        width: 90%;
        float: right;
    }

    /*=====================Join Us===========================*/

    span.join-us-title {
        font-size: 1.7em;
    }
}

@media (min-width: 600px) and (max-width: 767px) {
    .custom-container {
        margin: 0px 50px;
    }
    /*=====================Banner===========================*/
    .banner-title {
        font-size: 1.5em;
        width: 94%;
        margin: 0px auto;
    }
    #banner p {
        font-size: 1.1em;
        padding: 10px 0px 0px;
    }
    /*=====================Middle Container===========================*/
    #middle-container-left {
        padding: 10px 50px 0px;
    }
    #middle-container-right {
        padding: 10px 50px 0px;
        margin-bottom: 50px;
    }
    .list-title {
        font-size: 1.8em;
    }
    ul.lists li {
        font-size: 1.6em;
    }

    /*=====================Quotes Container===========================*/
    .quote {
        padding: 0px;
    }
    div.quote-bg {
        font-size: 1em;
    }
    /*=====================Offers Container===========================*/
    #zen-product {
        margin-right: 0px;
    }
    #zen-product img {
        width: 90%;
        float: right;
    }
    #zap-product img {
        width: 94%;
    }

    /*=====================Join Us===========================*/

    span.join-us-title {
        font-size: 1.4em;
    }



    @media (min-width: 667px) {
        #banner p {
            font-size: 1.4em;
        }
    }

    @media (min-width: 736px) {
        div.quote-bg {
            font-size: 1.1em;
        }
    }


}

@media (min-width: 480px) and (max-width: 599px) {
    .custom-container {
        margin: 0px 20px;
    }
    .banner-title {
        font-size: 1.5em;
    }
    #banner p {
        font-size: 1.1em;
        padding-top: 10px;
    }
    #middle-container {
        height: 400px !important;
    }
    #middle-container-left {
        height: inherit !important;
        padding: 10px 10px 0px;
    }
    #middle-container-right {
        height: inherit !important;
        padding: 10px 10px 0px;
        margin-bottom: 10px;
    }
    .list-title {
        font-size: 1.5em;
        padding: 0px 10px 20px;
    }
    ul.lists li {
        font-size: 1.4em;
        padding-bottom: 15px;
    }

    .quotes-container {
        padding: 10px 10px 49px;
    }
    .quote {
        margin-top: 0px;
        padding: 0px;
    }

    .left-quote p.quote-bg {
        padding-left: 15px;
    }

    div.quote-bg {
        font-size: 0.97em;
    }

    #zen-product {
        margin-top: 100px;
        margin-right: 0px;
    }
    #best-value {
        width: 100%;
    }
    #join-us,
    #join-us > div {
        height: 80px;
    }

    span.join-us-title {
        font-size: 1.2em;
    }

}

@media (min-width: 320px) and (max-width: 479px) {
    .custom-container {
        margin: 0px 20px;
    }
    .banner-title {
        font-size: 1.2em;
    }
    #banner p {
        font-size: 1.1em;
        padding-top: 0px;
    }
    #middle-container {
        height: 420px;
    }
    #middle-container-left {
        height: inherit;
        padding: 10px 10px 0px;
    }
    #middle-container-right {
        height: inherit;
        padding: 10px 10px 0px;
        margin-bottom: 50px;
    }
    .list-title {
        font-size: 1.5em;
        padding: 0px 10px 20px;
    }
    ul.lists li {
        font-size: 1.2em;
        padding-bottom: 15px;
    }

    @media (min-width:414px) {
        ul.lists li {
            font-size: 1.4em;
            padding-bottom: 10px;
        }
    }

    .quotes-container {
        padding: 10px 10px 49px;
    }
    .left-quote,
    .right-quote
    {
        padding: 0px;
    }

    .quote {
        margin-top: 0px;
        padding: 0px;
    }

    div.quote-bg {
        font-size: 0.9em;
    }

    div.client-name {
        font-size: 1.09em;
    }

    #zen-product {
        margin-top: 60px;
        margin-right: 0px;
    }

    #join-us,
    #join-us > div {
        height: 80px;
    }

    span.join-us-title {
        font-size: .9em;
    }
    #best-value {
        width: 100%;
    }
    footer p {
        text-align: center;
        font-size: 12px;
    }
    
    iframe {
        height: 300px;
    }

}