@font-face {
    font-family: FuturaStd-Light;
    src: url(http://techgeese.com/modules/ontraport/fontface/FuturaStd-Light.otf);
    font-weight: normal;
}
@font-face {
    font-family: Futura-Std-Book;
    src: url(http://techgeese.com/modules/ontraport/fontface/Futura-Std-Book_19044.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Futura-Std-Bold;
    src: url(http://techgeese.com/modules/ontraport/fontface/Futura-Std-Bold_19042.ttf);
    font-weight: bold;
}
body{display: block;
    margin: 0px;}
h2{
    font-family: Futura-Std-Bold;
    font-size: 30px;
    color: #00b0f0;
    padding-left: 5%;
}
h3{
    font-family: Futura-Std-Bold;
    font-size: 22px;
    color: #ef509c;
    padding-left: 5%;
}
h4{
    font-family: Futura-Std-Bold;
    font-size: 22px;
    color: #000000;

}
h5{
    font-family: Futura-Std-Bold;
    font-size: 20px;
    color: #000000;

}
.wraper{

    height: 100%;
    width: 100%;
}
.header{
    width: 100%;
    height: 200px;
    background-color: red;
}
.logo{
    padding: 20px;
    margin-left: 7%;
}
.promotion{
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 200px;
}
.promotion p {

    text-align: center;
    font-size: 17px;
    font-family:FuturaStd-Light;
    color: #fff;
    text-shadow: 1px 1px #000;
}
.promotion_heading{
    width: 100%;
    min-width: 960px;
    font-family:Futura-Std-Bold;
    text-transform: capitalize;
    font-size: 40px;
    margin: 0px auto;
    color: #ffffff;
    text-align: center;
    padding-top: 20px;
    text-shadow: 1px 1px #000;
}
.content_video{

width: 100%;
    background-color: #f2f2f2;
}
.contentonly{
    width: 40%;
    float: left;

    background-color: #dcdddd;
    font-size: 17px;
    font-family: Futura-Std-Book;
    color: #5a5a5a;
    padding: 30px;



}
.contentonly ul{
    padding-left: 25px;
    min-height: 75px;
}
.contentonly ul li{
    line-height: 2;
    list-style-image: url('../images/check.png');


}
.videoOnly {

    width: 41%;
    padding: 30px;

    float: left;
    background-color: #f2f2f2;

}
.qoute_1 {


    height:120px;
    width: 80%;
    margin: 0px auto;
    text-align: left !important;
    min-height:100px;
    background-color: #ffffff;

}
.qoute_1 p {

    padding-top: 20px;
    text-align: left !important;
    height: auto !important;
    width:80%;
    color: #737373;
    font-size: 14px;
    font-family: FuturaStd-Light;
}

.qoute_image1{

    float: left;
    padding: 5px 15px 5px 5px;

}
.getstarted_outer{
    width: 100%;
}
.getStarted{
    width: 100%;
}
.zap{
 width: 60%;
    background-color: #e9daeb;
    min-height: 300px;
    float: left;
    margin-left: 5%;

}
.zap ul{
    float: left;
}
.zap ul li {
    line-height: 2;
    font-size: 18px;
}
.zapcontent{
    width: 30%;
    float: left;
    padding-left: 20%;
}
.zenbasic{width: 60%;
background-color: #f2f2f2;
min-height: 200px;
float: left;
    margin-top: 5px;
margin-left: 5%;
}
.zenbasic ul{
    float: left;
}
.zenbasic ul li {
    line-height: 2;
    font-size: 18px;
}
.sideBar{
    width: 30%;
    float: right;
    text-align: center;
    padding: 2%;

}
.sideBar_image{

}
.sideBar_text{
    margin-top: 20%;
    font-size: 24px;
    background-color: #dae5f1;
    padding-top: 20%;
    padding-bottom: 20%;
}
.buyNow{

    height: 40px;
    width: 150px;
    border: 2px solid #5E667D;
    border-radius: 19px;
    background-color:#ef509c;
    color: #ffffff;
    margin-left: 40%;
    margin-top: -2%;
    cursor: pointer;
}
.frame{ padding-left: 80px;}