body{
	width:100%;
	background: #EAEAEA;
	font: 16px/1.5;
	color: #333333;
	font-variant:normal; font-weight:normal;
	font-family: Arial, Helvetica, sans-serif;
}

table{
	margin:5px 0 5px 0;
	
}

form{
	font-size: 14px;
}

.signature{
	font-family: Arial, Helvetica, sans-serif;
}
form input[type="radio"]{
	margin-right: 5px;
}

/* IDs */
#box{
	border: 1px solid #CCCCCC;
	background:#FFF;
}

#topbar{
	width:960;
}

.center{
	text-align: center;
}

.spacer {
	height:10px;
}

.spacer_20{
	height:20px;
}

.spacer_30{
	height:30px;
}

.spacer_40{
	height:40px;
}

.spacer_60{
	height:60px;
}

.spacer_100{
	height:100px;
}


.left{
	float:left;
}

.right{
	float:right;
}

.greenbg{
	background: #037D3F;
}

.questionbox{
	border: 1px solid #CCCCCC;
	margin-left: 9px;
	margin-right: 9px;
}

.boxtitle{
	background: #037D3F;
	color: #FFF;
	padding: 0 5px 0 5px;
}

.questionbox input[type="text"]{
	width:100%;
	padding: 0px;
	border: 1px solid #CCCCCC;
	color: #000;
}

input[type="text"].error, textarea.error{
	border: 1px solid red;
}

.requiredstar{
	color: #037D3F;
}

.errorBox{
	border: 1px solid red;
}

.errorMessage .error {
        border: 0px !important;
        color: red;
        width:100%;
}

.texttitle h1{
	font-family: 'Dancing Script', cursive;
	font-size: 35px;
	margin-bottom: 10px;
	margin-top:10px;
	line-height: 1;
	color: #037D3F;
}

.qchart{
	border: 1px solid #CCCCCC;
	width: 100%;	
}

.qchart td, .qchart th{
	border: 1px solid #CCCCCC;
	padding: 2px;
}

textarea {
	width:100%;
}

.qchart .alt{
	background: #CEF6D8;
}

.qchart .theader{
	background: #037D3F;
	color: #FFF;
}

.qchart td{
	text-align:center;
}

.questionbox td{
	padding: 0 5px 5px 5px;
}

.questiontext{
	text-align:left;
	font-weight:bold;
	margin-bottom:10px;
	color:#037D3F;
}

.bold{
	font-weight: 900;
}
.button {
    border: 1px solid #037D3F;
    background: #CEF6D8;
    width: 100%;
    height: 100px;
    font-size: 25px;
    cursor: pointer;
}

.clear{
	clear:both;
}