* html #tmp_id {
	$width:6.2em;
}
textarea {
	resize:none;
}
/* event common style*/
div.a {
	margin:0 2px;
	height:1px;
	overflow:hidden;
}
div.a_left {
	margin:0 2px 0 0;
}
div.a_right {
	margin:0 0 0 2px;
}
div.a_both {
	margin:0;
}
div.b {
	margin:0 1px;
	height:1px;
	overflow:hidden;
}
div.b_left {
	margin:0 1px 0 0;
	height:1px;
}
div.b_right {
	margin:0 0 0 1px;
	height:1px;
}
div.b_both {
	margin:0;
}
div.d {
	cursor:n-resize;
}
div.time {
	overflow:hidden;
	width:95%;
	height:auto;
	position:relative;
	top:-1px;
	white-space:nowrap;
	text-indent:3px;
}
.text {
	overflow:hidden;
	height:auto;
	position:relative;
	top:-3px;
	left:0;
	margin-left:3px;
}
#ef_fulldate {
	text-indent:0px;
	text-align:center;
}
.dad .text {
	white-space:nowrap;
}
#area_1_day .text, #area_1_week .text, #work_area_month .text, #manager_list .text {
	white-space:nowrap;
}
#area_1_day .time, #area_1_week .time {
	margin-top:3px;
}
.time_left, .time_right, .time_both {
	display:none !important;
}
.event_select_box{
	background-color:#FFFFFF;
	position:absolute;
	border:1px solid #bbb;
	margin:0;
	padding:1px;
	overflow:hidden;
/*	z-index:35000;*/
	z-index:19;
}
.event_element_select_box{
	overflow:hidden;
	font-family:Tahoma,Arial,Helvetica,sans-serif;
	font-size:11px;
	cursor:pointer;
	padding-left:2px;
	padding-top:2px;
	white-space:nowrap;
}
.text a {
	text-decoration:none;
	height:2.5ex;
	display:block;
	overflow:hidden;
}
.text a:hover {
	text-decoration:underline;
}
.event_text_left div.text {
	left:12px;
}
.event_text_left div.text, .event_text_right div.text {
	top:1px !important;
	float:left;
}
.event_text_both div.text {
	top:1px !important;
	margin-left:12px;
	padding-right:12px;
    width:auto;
}
.event_text_both div.text span, .event_text_left div.text span, .event_text_right div.text span, div.text span {
	display:block;
	overflow:hidden;
	float:left;
	position:relative;
	top:0;
	left:0;
	visibility:hidden;
	padding:0 2px;
}
* html div.text {
	$width:90%;
	$padding:0;
}
.event_text, .event_text_left, .event_text_right, .event_text_both {
	background-repeat:repeat-x;
	margin:0;
	height:100%;
	position:relative;
	font:normal 11px Tahoma, Arial, Helvetica, sans-serif;
	overflow:hidden;
}
.event_middle textarea {
	margin:0;
	padding:0;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	font:normal 11px Tahoma, Arial, Helvetica, sans-serif;
	overflow:hidden;
	border:none;
	cursor:text;
	visibility:visible;
	vertical-align:top;
	word-break:break-strict;
}
.hide {
    display:none;
}
.hide .event_middle textarea {
    visibility:hidden;
}
#area_1_day textarea, #area_1_week textarea, #work_area_month textarea, #manager_list textarea {
	white-space:nowrap;
}
.event_text_left, .event_text_both {
	background-repeat:no-repeat;
	background-position:0 3px;
}
.event_text_right, .event_text_both div.text {
	background-repeat:no-repeat;
	background-position:100% 3px;
}
.event .event_text, .event_edit .event_text,  .event div.event_text_left, .event div.event_text_right, .event .event_text_both {
	border-left:1px solid;
	border-right:1px solid;
}
div.event_middle {
	font-size:12px;
	border-left-style:solid;
	border-left-width:1px;
	border-right-style:solid;
	border-right-width:1px;
}
.event_selected div.event_middle {
	border-left-style:solid;
	border-left-width:2px;
	border-right-style:solid;
	border-right-width:2px;
}
div.event, div.event_selected {
	position:absolute;
	z-index:13;
	width:14.2857%;
	cursor:pointer;
}
div.event div, div.event_selected div {
	overflow:hidden;
}
.eventcontainer_1,
.eventcontainer_2,
.eventcontainer_3,
.eventcontainer_4,
.eventcontainer_5,
.eventcontainer_6,
.eventcontainer_7,
.eventcontainer_8,
.eventcontainer_9,
.eventcontainer_10,
.eventcontainer_11,
.eventcontainer_12,
.eventcontainer_13,
.eventcontainer_14,
.eventcontainer_15
{
	position:absolute;
	width:100%;
	z-index:10;
}
.calendar_manager .eventcontainer_1,
.calendar_manager .eventcontainer_2,
.calendar_manager .eventcontainer_3,
.calendar_manager .eventcontainer_4,
.calendar_manager .eventcontainer_5,
.calendar_manager .eventcontainer_6,
.calendar_manager .eventcontainer_7,
.calendar_manager .eventcontainer_8,
.calendar_manager .eventcontainer_9,
.calendar_manager .eventcontainer_10,
.calendar_manager .eventcontainer_11,
.calendar_manager .eventcontainer_12,
.calendar_manager .eventcontainer_13,
.calendar_manager .eventcontainer_14,
.calendar_manager .eventcontainer_15
{
	margin:10px 0 0 10px;
	position:relative;
	height:25px;
}
span.text {
	display:block;
}
.calendar_manager .event {
	width:145px;
	margin:0 0 0 25px;
	$margin:0;
	padding:0;
}
.calendar_manager form {
	float:left;
	width:25px;
	padding:4px 0 0 0; 
	margin:0;
}
.close_item_toolbar {
	text-align:right;
	cursor:default !important;
}
.close_item_toolbar img {
	cursor:pointer;
	margin:3px 0 0 0;
}

/* Event styles for calendar colors*/
/*1 event style */
.eventcontainer_1 div.a {
	background-color:#cb7130;
}
.eventcontainer_1 div.b {
	background-color:#ffb178;
	border-left:1px solid #cb7130;
	border-right:1px solid #cb7130;
}

.eventcontainer_1.stand_event_shadow div.a,
.eventcontainer_1.stand_event_shadow div.b,
.eventcontainer_1.stand_event_shadow div.event_text {
    background:#EFDAC2 none;
}
.eventcontainer_1.stand_event_shadow div.b,
.eventcontainer_1.stand_event_shadow div.event_middle,
.eventcontainer_1.stand_event_shadow div.event_text{
    border-left:1px solid #EFDAC2;
	border-right:1px solid #EFDAC2;
}

.eventcontainer_1 .event_selected div.a,
.eventcontainer_1 .event_selected div.b,
.eventcontainer_1 .event_selected div.event_middle {
	background-color:#843801;
	border-left:2px solid #843801;
	border-right:2px solid #843801;
}
.eventcontainer_1 div.event_middle {
	border-left-color:#cb7130;
	border-right-color:#cb7130;
	color:#fff;
}
.eventcontainer_1 div.event_text {
	background-image:url(../calendar/event_middle_1.gif);
	background-color:#d3691d;
	border-left-color:#ffb178;
	border-right-color:#ffb178;
	color:#fff;
}
.eventcontainer_1 textarea{
	background:none;
	color:#fff;
}
.eventcontainer_1 div.event_text_left, .eventcontainer_1 div.event_text_both {
	background-image:url(../calendar/event_1_arrow_left.gif);
	background-color:#ef9554;
	border-left-color:#ffb178;
	border-right-color:#ffb178;
}
.eventcontainer_1 div.event_text_right {
	background-image:url(../calendar/event_1_arrow_right.gif);
	background-color:#ef9554;
	border-left-color:#ffb178;
	border-right-color:#ffb178;
}
.eventcontainer_1 div.event_text_both div.text {
	background-image:url(../calendar/event_1_arrow_right.gif);
}

.eventcontainer_1 .event div.calendar_text,
.eventcontainer_1 .event div.calendar_text_hover {
	border-right:1px solid #ffb178;
	border-left:1px solid #ffb178;
	background-color:#ef9554;
}
.eventcontainer_1 .vis_check {
	border-left:1px solid #cb7130;
}
div.eventcontainer_1 a:link,
div.eventcontainer_1 a:visited,
div.eventcontainer_1 a {
	color:#fff;
}
.eventcontainer_1 .event_edit .time {
	background-color:#ef9554;
}
.eventcontainer_1#quick_edit .evt_mid_color {
	border-top:1px solid #cb7130;
}
.eventcontainer_1#quick_edit .hover {
	background-color:#cb7130;
}
.eventcontainer_1 .ml_publiclink {
	background:#ef9554 url(../calendar/event_middle_1.gif);
}
.eventcontainer_1 .appointments {
	background:#fff0e5;
}
.eventcontainer_1 .appointment_respond {
	border:1px solid #ffb178;
	color:#ef9554;
}
.eventcontainer_1 #expandAppointmentLinkCont .b {
	background:#FFDABF;
	border-color:#FFDABF;
}
.eventcontainer_1 #expandAppointmentLink {
	border:solid #FFDABF;
	background-color:#FFF0E5;
}
/* end of 1 event style*/

/* 2 event style*/
.eventcontainer_2 div.a {
	background-color:#c94848;
}
.eventcontainer_2 div.b {
	background-color:#ff9797;
	border-left:1px solid #c94848;
	border-right:1px solid #c94848;
}
.eventcontainer_2.stand_event_shadow div.a,
.eventcontainer_2.stand_event_shadow div.b,
.eventcontainer_2.stand_event_shadow div.event_text {
    background:#FFBFBF none;
}
.eventcontainer_2.stand_event_shadow div.b,
.eventcontainer_2.stand_event_shadow div.event_middle,
.eventcontainer_2.stand_event_shadow div.event_text{
    border-left:1px solid #FFBFBF;
	border-right:1px solid #FFBFBF;
}
.eventcontainer_2 .event_selected div.a,
.eventcontainer_2 .event_selected div.b,
.eventcontainer_2 .event_selected div.event_middle {
	background-color:#a42626;
	border-left:2px solid #a42626;
	border-right:2px solid #a42626;
}
.eventcontainer_2 div.event_middle {
	border-left-color:#c94848;
	border-right-color:#c94848;
	background-color:#ff9797;
	color:#fff;
}
.eventcontainer_2 div.event_text {
	background-image:url(../calendar/event_middle_2.gif);
	background-color:#d95858;
	border-right-color:#ff9797;
	border-left-color:#ff9797;
	color:#fff;
}
.eventcontainer_2 textarea{
	background:none;
	color:#fff;
}
.eventcontainer_2 div.event_text_left, 
.eventcontainer_2 div.event_text_both {
	background-image:url(../calendar/event_2_arrow_left.gif);
	background-color:#f58787;
	border-left-color:#ff9797;
	border-right-color:#ff9797;
}
.eventcontainer_2 div.event_text_right {
	background-image:url(../calendar/event_2_arrow_right.gif);
	background-color:#f58787;
	border-left-color:#ff9797;
	border-right-color:#ff9797;
}
.eventcontainer_2 div.event_text_both div.text {
	background-image:url(../calendar/event_2_arrow_right.gif);
}
.eventcontainer_2 div.event_text_both div.text {
	background-image:url(../calendar/event_2_arrow_right.gif);
}
.eventcontainer_2 .event div.calendar_text,
.eventcontainer_2 .event div.calendar_text_hover {
	border-right:1px solid #ff9797;
	border-left:1px solid #ff9797;
	background-color:#f58787;
}
.eventcontainer_2 .vis_check {
	border-left:1px solid #c94848 ;
}
div.eventcontainer_2 a:link,
div.eventcontainer_2 a:visited,
div.eventcontainer_2 a {
	color:#fff;
}
.eventcontainer_2 .event_edit .time {
	background-color:#f58787;
}
.eventcontainer_2#quick_edit .hover {
	background-color:#c94848;
} 
.eventcontainer_2#quick_edit .evt_mid_color {
	border-top:1px solid #c94848;
}
.eventcontainer_2 .ml_publiclink {
	background:#f58787 url(../calendar/event_middle_2.gif);
}
.eventcontainer_2 .appointments {
	background:#FFEFEF;
}
.eventcontainer_2 .appointment_respond {
	border:1px solid #ff9797;
	color:#f58787;
}
.eventcontainer_2 #expandAppointmentLinkCont .b {
	background:#FFBFBF;
	border-color:#FFBFBF;
}
.eventcontainer_2 #expandAppointmentLink {
	border:solid #FFBFBF;
	background-color:#FFEFEF;
}
/* end of 2 event style*/

/* 3 event style */
.eventcontainer_3 div.a {
	background-color:#50b0ae;
}
.eventcontainer_3 div.b {
	background-color:#85e5e5;
	border-left:1px solid #50b0ae;
	border-right:1px solid #50b0ae;
}
.eventcontainer_3.stand_event_shadow div.a,
.eventcontainer_3.stand_event_shadow div.b,
.eventcontainer_3.stand_event_shadow div.event_text {
    background:#B5D8DF none;
}
.eventcontainer_3.stand_event_shadow div.b,
.eventcontainer_3.stand_event_shadow div.event_middle,
.eventcontainer_3.stand_event_shadow div.event_text{
    border-left:1px solid #B5D8DF;
	border-right:1px solid #B5D8DF;
}
.eventcontainer_3 .event_selected div.a,
.eventcontainer_3 .event_selected div.b,
.eventcontainer_3 .event_selected div.event_middle {
	background-color:#408d8d;
	border-left:2px solid #408d8d;
	border-right:2px solid #408d8d;
}
.eventcontainer_3 div.event_middle {
	border-left-color:#50b0ae;
	border-right-color:#50b0ae;
	color:#fff;
}
.eventcontainer_3 div.event_text {
	background-image:url(../calendar/event_middle_3.gif);
	background-color:#27a7a6;
	border-right-color:#85e5e5;
	color:#fff;
}
.eventcontainer_3 textarea{
	background:none;
	color:#fff;
}
.eventcontainer_3 div.event_text_left, 
.eventcontainer_3 div.event_text_both {
	background-image:url(../calendar/event_3_arrow_left.gif);
	background-color:#6fd0ce;
	border-right-color:#85e5e5;
}
.eventcontainer_3 div.event_text_right {
	background-image:url(../calendar/event_3_arrow_right.gif);
	background-color:#6fd0ce;
	border-right-color:#85e5e5;
}
.eventcontainer_3 div.event_text_both div.text {
	background-image:url(../calendar/event_3_arrow_right.gif);
}
.eventcontainer_3 div.event_text,
.eventcontainer_3 div.event_text_left,
.eventcontainer_3 div.event_text_right, 
.eventcontainer_3 div.event_text_both {
	border-left-color:#85e5e5;
	border-right-color:#85e5e5;
}
.eventcontainer_3 .event div.calendar_text,
.eventcontainer_3 .event div.calendar_text_hover {
	border-right:1px solid #85e5e5;
	border-left:1px solid #85e5e5;
	background-color:#6fd0ce;
}
.eventcontainer_3 .vis_check {
	border-left:1px solid #50b0ae;
}
div.eventcontainer_3 a:link,
div.eventcontainer_3 a:visited,
div.eventcontainer_3 a {
	color:#fff;
}
.eventcontainer_3 .event_edit .time {
	background-color:#6fd0ce;
}
.eventcontainer_3#quick_edit .hover {
	background-color:#50b0ae;
}
.eventcontainer_3#quick_edit .evt_mid_color {
	border-top:1px solid #50b0ae;
}
.eventcontainer_3 .ml_publiclink {
	background:#6fd0ce url(../calendar/event_middle_3.gif);
}
.eventcontainer_3 .appointments {
	background:#EFFFFF;
}
.eventcontainer_3 .appointment_respond {
	border:1px solid #85e5e5;
	color:#6fd0ce;
}
.eventcontainer_3 #expandAppointmentLinkCont .b {
	background:#BFFFFF;
	border-color:#BFFFFF;
}
.eventcontainer_3 #expandAppointmentLink {
	border:solid #BFFFFF;
	background-color:#EFFFFF;
}
/*end of 3 evet style*/

/* 4 event style */
.eventcontainer_4 div.a {
	background-color:#719cc1;
}
.eventcontainer_4 div.b {
	background-color:#a6d1f6;
	border-left:1px solid #719cc1;
	border-right:1px solid #719cc1;
}
.eventcontainer_4.stand_event_shadow div.a,
.eventcontainer_4.stand_event_shadow div.b,
.eventcontainer_4.stand_event_shadow div.event_text {
    background:#C2D7EF none;
}
.eventcontainer_4.stand_event_shadow div.b,
.eventcontainer_4.stand_event_shadow div.event_middle,
.eventcontainer_4.stand_event_shadow div.event_text{
    border-left:1px solid #C2D7EF;
	border-right:1px solid #C2D7EF;
}
.eventcontainer_4 .event_selected div.a,
.eventcontainer_4 .event_selected div.b,
.eventcontainer_4 .event_selected div.event_middle {
	background-color:#537ea3;
	border-left:2px solid #537ea3;
	border-right:2px solid #537ea3;
}
.eventcontainer_4 div.event_middle {
	border-left-color:#719cc1;
	border-right-color:#719cc1;
	color:#fff;
}
.eventcontainer_4 div.event_text {
	background-image:url(../calendar/event_middle_4.gif);
	background-color:#528bbc;
	border-left-color:#a6d1f6;
	border-right-color:#a6d1f6;
	color:#fff;
}
.eventcontainer_4 textarea{
	background:none;
	color:#fff;
}
.eventcontainer_4 div.event_text_left, 
.eventcontainer_4 div.event_text_both {
	background-image:url(../calendar/event_4_arrow_left.gif);
	background-color:#90bbe0;
	border-left-color:#a6d1f6;
	border-right-color:#a6d1f6;
}
.eventcontainer_4 div.event_text_right {
	background-image:url(../calendar/event_4_arrow_right.gif);
	background-color:#90bbe0;
	border-left-color:#a6d1f6;
	border-right-color:#a6d1f6;
}
.eventcontainer_4 div.event_text_both div.text {
	background-image:url(../calendar/event_4_arrow_right.gif);
}
.eventcontainer_4 .event div.calendar_text,
.eventcontainer_4 .event div.calendar_text_hover {
	border-right:1px solid #a6d1f6;
	border-left:1px solid #a6d1f6;
	background-color:#90bbe0;
}
.eventcontainer_4 .vis_check {
	border-left:1px solid #719cc1;
}
div.eventcontainer_4 a:link,
div.eventcontainer_4 a:visited,
div.eventcontainer_4 a {
	color:#fff;
}
.eventcontainer_4 .event_edit .time {
	background-color:#90bbe0;
}
.eventcontainer_4#quick_edit .hover {
	background-color:#719cc1;
}
.eventcontainer_4#quick_edit .evt_mid_color {
	border-top:1px solid #719cc1;
}
.eventcontainer_4 .ml_publiclink {
	background:#90bbe0 url(../calendar/event_middle_4.gif);
}
.eventcontainer_4 .appointments {
	background:#EBF6FF;
}
.eventcontainer_4 .appointment_respond {
	border:1px solid #a6d1f6;
	color:#90bbe0;
}
.eventcontainer_4 #expandAppointmentLinkCont .b {
	background:#BFE2FF;
	border-color:#BFE2FF;
}
.eventcontainer_4 #expandAppointmentLink {
	border:solid #BFE2FF;
	background-color:#EBF6FF;
}
/*end of 4 event style*/

/* 5 event style */
.eventcontainer_5 div.a {
	background-color:#9b83d3;
}
.eventcontainer_5 div.b {
	background-color:#cfbbff;
	border-left:1px solid #9b83d3;
	border-right:1px solid #9b83d3;
}
.eventcontainer_5.stand_event_shadow div.a,
.eventcontainer_5.stand_event_shadow div.b,
.eventcontainer_5.stand_event_shadow div.event_text {
    background:#CFC2EF none;
}
.eventcontainer_5.stand_event_shadow div.b,
.eventcontainer_5.stand_event_shadow div.event_middle,
.eventcontainer_5.stand_event_shadow div.event_text{
    border-left:1px solid #CFC2EF;
	border-right:1px solid #CFC2EF;
}
.eventcontainer_5 .event_selected div.a,
.eventcontainer_5 .event_selected div.b,
.eventcontainer_5 .event_selected div.event_middle {
	background-color:#7d65b6;
	border-left:2px solid #7d65b6;
	border-right:2px solid #7d65b6;
}
.eventcontainer_5 div.event_middle {
	border-left-color:#9b83d3;
	border-right-color:#9b83d3;
	color:#fff;
}
.eventcontainer_5 div.event_text {
	background-image:url(../calendar/event_middle_5.gif);
	background-color:#8b6bd6;
	border-left-color:#cfbbff;
	border-right-color:#cfbbff;
	color:#fff;
}
.eventcontainer_5 textarea{
	background:none;
	color:#fff;
}
.eventcontainer_5 div.event_text_left,
.eventcontainer_5 div.event_text_both {
	background-image:url(../calendar/event_5_arrow_left.gif);
	background-color:#baa2f3;
	border-left-color:#cfbbff;
	border-right-color:#cfbbff;
}
.eventcontainer_5 div.event_text_right {
	background-image:url(../calendar/event_5_arrow_right.gif);
	background-color:#baa2f3;
	border-left-color:#cfbbff;
	border-right-color:#cfbbff;
}
.eventcontainer_5 div.event_text_both div.text {
	background-image:url(../calendar/event_5_arrow_right.gif);
}
.eventcontainer_5 .event div.calendar_text,
.eventcontainer_5 .event div.calendar_text_hover {
	border-right:1px solid #cfbbff;
	border-left:1px solid #cfbbff;
	background-color:#baa2f3;
}
.eventcontainer_5 .vis_check {
	border-left:1px solid #9b83d3;
}
div.eventcontainer_5 a:link,
div.eventcontainer_5 a:visited,
div.eventcontainer_5 a {
	color:#fff;
}
.eventcontainer_5 .event_edit .time {
	background-color:#baa2f3;
}
.eventcontainer_5#quick_edit .hover {
	background-color:#9b83d3;
}
.eventcontainer_5#quick_edit .evt_mid_color {
	border-top:1px solid #9b83d3;
}
.eventcontainer_5 .ml_publiclink {
	background:#baa2f3 url(../calendar/event_middle_5.gif);
}
.eventcontainer_5 .appointments {
	background:#F1EBFF;
}
.eventcontainer_5 .appointment_respond {
	border:1px solid #cfbbff;
	color:#baa2f3;
}
.eventcontainer_5 #expandAppointmentLinkCont .b {
	background:#D8C9FF;
	border-color:#D8C9FF;
}
.eventcontainer_5 #expandAppointmentLink {
	border:solid #D8C9FF;
	background-color:#F1EBFF;
}
/*end of 5 event style*/

/*6 event style */
.eventcontainer_6 div.a {
	background-color:#d66bae;
}
.eventcontainer_6 div.b {
	background-color:#ffa9de;
	border-left:1px solid #d66bae;
	border-right:1px solid #d66bae;
}
.eventcontainer_6.stand_event_shadow div.a,
.eventcontainer_6.stand_event_shadow div.b,
.eventcontainer_6.stand_event_shadow div.event_text {
    background:#EFD1E3 none;
}
.eventcontainer_6.stand_event_shadow div.b,
.eventcontainer_6.stand_event_shadow div.event_middle,
.eventcontainer_6.stand_event_shadow div.event_text{
    border-left:1px solid #EFD1E3;
	border-right:1px solid #EFD1E3;
}
.eventcontainer_6 .event_selected div.a,
.eventcontainer_6 .event_selected div.b,
.eventcontainer_6 .event_selected div.event_middle {
	background-color:#b94e90;
	border-left:2px solid #b94e90;
	border-right:2px solid #b94e90;
}
.eventcontainer_6 div.event_middle {
	border-left-color:#d66bae;
	border-right-color:#d66bae;
	color:#fff;
}
.eventcontainer_6 div.event_text {
	background-image:url(../calendar/event_middle_6.gif);
	background-color:#da4ca4;
	border-left-color:#ffa9de;
	border-right-color:#ffa9de;
	color:#fff;
}
.eventcontainer_6 textarea{
	background:none;
	color:#fff;
}
.eventcontainer_6 div.event_text_left, 
.eventcontainer_6 div.event_text_both {
	background-image:url(../calendar/event_6_arrow_left.gif);
	background-color:#f68bcd;
	border-left-color:#ffa9de;
	border-right-color:#ffa9de;
}
.eventcontainer_6 div.event_text_right {
	background-image:url(../calendar/event_6_arrow_right.gif);
	background-color:#f68bcd;
	border-left-color:#ffa9de;
	border-right-color:#ffa9de;
}
.eventcontainer_6 div.event_text_both div.text {
	background-image:url(../calendar/event_6_arrow_right.gif);
}
.eventcontainer_6 .event div.calendar_text,
.eventcontainer_6 .event div.calendar_text_hover {
	border-right:1px solid #ffa9de;
	border-left:1px solid #ffa9de;
	background-color:#f68bcd;
}
.eventcontainer_6 .vis_check {
	border-left:1px solid #d66bae;
}
div.eventcontainer_6 a:link,
div.eventcontainer_6 a:visited,
div.eventcontainer_6 a {
	color:#fff;
}
.eventcontainer_6 .event_edit .time {
	background-color:#f68bcd;
}
.eventcontainer_6#quick_edit .hover {
	background-color:#d66bae;
}
.eventcontainer_6#quick_edit .evt_mid_color {
	border-top:1px solid #d66bae;
}
.eventcontainer_6 .ml_publiclink {
	background:#f68bcd url(../calendar/event_middle_6.gif);
}
.eventcontainer_6 .appointments {
	background:#FFEBF8;
}
.eventcontainer_6 .appointment_respond {
	border:1px solid #ffa9de;
	color:#f68bcd;
}
.eventcontainer_6 #expandAppointmentLinkCont .b {
	background:#FFCFED;
	border-color:#FFCFED;
}
.eventcontainer_6 #expandAppointmentLink {
	border:solid #FFCFED;
	background-color:#FFEBF8;
}
/* end of 6 event style*/
/* 7 event style */
.eventcontainer_7 div.a {
	background-color:#b563b6;
}
.eventcontainer_7 div.b {
	background-color:#f1a0f2;
	border-left:1px solid #b563b6;
	border-right:1px solid #b563b6;
}
.eventcontainer_7.stand_event_shadow div.a,
.eventcontainer_7.stand_event_shadow div.b,
.eventcontainer_7.stand_event_shadow div.event_text {
    background:#EFD1EF none;
}
.eventcontainer_7.stand_event_shadow div.b,
.eventcontainer_7.stand_event_shadow div.event_middle,
.eventcontainer_7.stand_event_shadow div.event_text{
    border-left:1px solid #EFD1EF;
	border-right:1px solid #EFD1EF;
}
.eventcontainer_7 .event_selected div.a,
.eventcontainer_7 .event_selected div.b,
.eventcontainer_7 .event_selected div.event_middle {
	background-color:#944295;
	border-left:2px solid #944295;
	border-right:2px solid #944295;
}
.eventcontainer_7 div.event_middle {
	border-left-color:#b563b6;
	border-right-color:#b563b6;
	color:#fff;
}
.eventcontainer_7 div.event_text {
	background-image:url(../calendar/event_middle_7.gif);
	background-color:#b959ba;
	border-left-color:#f1a0f2;
	border-right-color:#f1a0f2;
	color:#fff;
}
.eventcontainer_7 textarea{
	background:none;
	color:#fff;
}
.eventcontainer_7 div.event_text_left, 
.eventcontainer_7 div.event_text_both {
	background-image:url(../calendar/event_7_arrow_left.gif);
	background-color:#d987da;
	border-left-color:#f1a0f2;
	border-right-color:#f1a0f2;
}
.eventcontainer_7 div.event_text_right {
	background-image:url(../calendar/event_7_arrow_right.gif);
	background-color:#d987da;
	border-left-color:#f1a0f2;
	border-right-color:#f1a0f2;
}
.eventcontainer_7 div.event_text_both div.text {
	background-image:url(../calendar/event_7_arrow_right.gif);
}
.eventcontainer_7 .event div.calendar_text,
.eventcontainer_7 .event div.calendar_text_hover {
	border-right:1px solid #f1a0f2;
	border-left:1px solid #f1a0f2 ;
	background-color:#d987da;
}
.eventcontainer_7 .vis_check {
	border-left:1px solid #b563b6;
}
div.eventcontainer_7 a:link,
div.eventcontainer_7 a:visited,
div.eventcontainer_7 a {
	color:#fff;
}
.eventcontainer_7 .event_edit .time {
	background-color:#d987da;
}
.eventcontainer_7#quick_edit .hover {
	background-color:#b563b6;
}
.eventcontainer_7#quick_edit .evt_mid_color {
	border-top:1px solid #b563b6;
}
.eventcontainer_7 .ml_publiclink {
	background:#d987da url(../calendar/event_middle_7.gif);
}
.eventcontainer_7 .appointments {
	background:#FFEFFF;
}
.eventcontainer_7 .appointment_respond {
	border:1px solid #f1a0f2;
	color:#d987da;
}
.eventcontainer_7 #expandAppointmentLinkCont .b {
	background:#FDBFFF;
	border-color:#FDBFFF;
}
.eventcontainer_7 #expandAppointmentLink {
	border:solid #FDBFFF;
	background-color:#FFEFFF;
}
/*end of 7 event style*/

/* 8 event style */
.eventcontainer_8 div.a {
	background-color:#27b57f;
}
.eventcontainer_8 div.b {
	background-color:#4affb8;
	border-left:1px solid #27b57f;
	border-right:1px solid #27b57f;
}
.eventcontainer_8.stand_event_shadow div.a,
.eventcontainer_8.stand_event_shadow div.b,
.eventcontainer_8.stand_event_shadow div.event_text {
    background:#C6EFE9 none;
}
.eventcontainer_8.stand_event_shadow div.b,
.eventcontainer_8.stand_event_shadow div.event_middle,
.eventcontainer_8.stand_event_shadow div.event_text{
    border-left:1px solid #C6EFE9;
	border-right:1px solid #C6EFE9;
}
.eventcontainer_8 .event_selected div.a,
.eventcontainer_8 .event_selected div.b,
.eventcontainer_8 .event_selected div.event_middle {
	background-color:#278360;
	border-left:2px solid #278360;
	border-right:2px solid #278360;
}
.eventcontainer_8 div.event_middle {
	border-left-color:#27b57f;
	border-right-color:#27b57f;
	color:#fff;
}
.eventcontainer_8 div.event_text {
	background-image:url(../calendar/event_middle_8.gif);
	background-color:#01c177;
	border-left-color:#4affb8;
	border-right-color:#4affb8;
	color:#fff;
}
.eventcontainer_8 textarea{
	background:none;
	color:#fff;
}
.eventcontainer_8 div.event_text_left, 
.eventcontainer_8 div.event_text_both {
	background-image:url(../calendar/event_8_arrow_left.gif);
	background-color:#27eb9f;
	border-left-color:#4affb8;
	border-right-color:#4affb8;
}
.eventcontainer_8 div.event_text_right {
	background-image:url(../calendar/event_8_arrow_right.gif);
	background-color:#27eb9f;
	border-left-color:#4affb8;
	border-right-color:#4affb8;
}
.eventcontainer_8 div.event_text_both div.text {
	background-image:url(../calendar/event_8_arrow_right.gif);
}
.eventcontainer_8 .event div.calendar_text,
.eventcontainer_8 .event div.calendar_text_hover {
	border-right:1px solid #4affb8;
	border-left:1px solid #4affb8;
	background-color:#27eb9f;
}
.eventcontainer_8 .vis_check {
	border-left:1px solid #27b57f;
}
div.eventcontainer_8 a:link,
div.eventcontainer_8 a:visited,
div.eventcontainer_8 a {
	color:#fff;
}
.eventcontainer_8 .event_edit .time {
	background-color:#4affb8;
}
.eventcontainer_8#quick_edit .hover {
	background-color:#27b57f;
}
.eventcontainer_8#quick_edit .evt_mid_color {
	border-top:1px solid #27b57f;
}
.eventcontainer_8 .ml_publiclink {
	background:#27eb9f url(../calendar/event_middle_8.gif);
}
.eventcontainer_8 .appointments {
	background:#EBFFF8;
}
.eventcontainer_8 .appointment_respond {
	border:1px solid #4affb8;
	color:#27eb9f;
}
.eventcontainer_8 #expandAppointmentLinkCont .b {
	background:#BFFFE6;
	border-color:#BFFFE6;
}
.eventcontainer_8 #expandAppointmentLink {
	border:solid #BFFFE6;
	background-color:#EBFFF8;
}
/*end of 8 event style*/

/* 9 event style */
.eventcontainer_9 div.a {
	background-color:#7979e6;
}
.eventcontainer_9 div.b {
	background-color:#babaff;
	border-left:1px solid #7979e6;
	border-right:1px solid #7979e6;
}
.eventcontainer_9.stand_event_shadow div.a,
.eventcontainer_9.stand_event_shadow div.b,
.eventcontainer_9.stand_event_shadow div.event_text {
    background:#D1D1EF none;
}
.eventcontainer_9.stand_event_shadow div.b,
.eventcontainer_9.stand_event_shadow div.event_middle,
.eventcontainer_9.stand_event_shadow div.event_text{
    border-left:1px solid #D1D1EF;
	border-right:1px solid #D1D1EF;
}
.eventcontainer_9 .event_selected div.a,
.eventcontainer_9 .event_selected div.b,
.eventcontainer_9 .event_selected div.event_middle {
	background-color:#5757c5;
	border-left:2px solid #5757c5;
	border-right:2px solid #5757c5;
}
.eventcontainer_9 div.event_middle {
	border-left-color:#7979e6;
	border-right-color:#7979e6;
	color:#fff;
}
.eventcontainer_9 div.event_text {
	background-image:url(../calendar/event_middle_9.gif);
	background-color:#7171f2;
	border-left-color:#babaff;
	border-right-color:#babaff;
	color:#fff;
}
.eventcontainer_9 textarea{
	background:none;
	color:#fff;
}
.eventcontainer_9 div.event_text_left, 
.eventcontainer_9 div.event_text_both {
	background-image:url(../calendar/event_1_arrow_left.gif);
	background-color:#9f9fff;
	border-left-color:#babaff;
	border-right-color:#babaff;
}
.eventcontainer_9 div.event_text_right {
	background-image:url(../calendar/event_1_arrow_right.gif);
	background-color:#9f9fff;
	border-left-color:#babaff;
	border-right-color:#babaff;
}
.eventcontainer_9 div.event_text_both div.text {
	background-image:url(../calendar/event_1_arrow_right.gif);
}
.eventcontainer_9 .event div.calendar_text,
.eventcontainer_9 .event div.calendar_text_hover {
	border-right:1px solid #babaff;
	border-left:1px solid #babaff;
	background-color:#9f9fff;
}
.eventcontainer_9 .vis_check {
	border-left:1px solid #7979e6;
}
div.eventcontainer_9 a:link,
div.eventcontainer_9 a:visited,
div.eventcontainer_9 a {
	color:#fff;
}
.eventcontainer_9 .event_edit .time {
	background-color:#9f9fff;
}
.eventcontainer_9#quick_edit .hover {
	background-color:#7979e6;
}
.eventcontainer_9#quick_edit .evt_mid_color {
	border-top:1px solid #7979e6;
}
.eventcontainer_9 .ml_publiclink {
	background:#9f9fff url(../calendar/event_middle_9.gif);
}
.eventcontainer_9 .appointments {
	background:#EFEFFF;
}
.eventcontainer_9 .appointment_respond {
	border:1px solid #babaff;
	color:#9f9fff;
}
.eventcontainer_9 #expandAppointmentLinkCont .b {
	background:#CFD0FF;
	border-color:#CFD0FF;
}
.eventcontainer_9 #expandAppointmentLink {
	border:solid #CFD0FF;
	background-color:#EFEFFF;
}
/*end of 9 event style*/

/* 10 event style */
.eventcontainer_10 div.a {
	background-color:#39a6a5;
}
.eventcontainer_10 div.b {
	background-color:#75e2e1;
	border-left:1px solid #39a6a5;
	border-right:1px solid #39a6a5;
}
.eventcontainer_10.stand_event_shadow div.a,
.eventcontainer_10.stand_event_shadow div.b,
.eventcontainer_10.stand_event_shadow div.event_text {
    background:#C2E7EF none;
}
.eventcontainer_10.stand_event_shadow div.b,
.eventcontainer_10.stand_event_shadow div.event_middle,
.eventcontainer_10.stand_event_shadow div.event_text{
    border-left:1px solid #C2E7EF;
	border-right:1px solid #C2E7EF;
}
.eventcontainer_10 .event_selected div.a,
.eventcontainer_10 .event_selected div.b,
.eventcontainer_10 .event_selected div.event_middle {
	background-color:#277f7e;
	border-left:2px solid #277f7e;
	border-right:2px solid #277f7e;
}
.eventcontainer_10 div.event_middle {
	border-left-color:#39a6a5;
	border-right-color:#39a6a5;
	color:#fff;
}
.eventcontainer_10 div.event_text {
	background-image:url(../calendar/event_middle_10.gif);
	background-color:#27a7a6;
	border-left-color:#75e2e1;
	border-right-color:#75e2e1;
	color:#fff;
}
.eventcontainer_10 textarea{
	background:none;
	color:#fff;
}
.eventcontainer_10 div.event_text_left, 
.eventcontainer_10 div.event_text_both {
	background-image:url(../calendar/event_10_arrow_left.gif);
	background-color:#5cc9c9;
	border-left-color:#75e2e1;
	border-right-color:#75e2e1;
}
.eventcontainer_10 div.event_text_right {
	background-image:url(../calendar/event_10_arrow_right.gif);
	background-color:#5cc9c9;
	border-left-color:#75e2e1;
	border-right-color:#75e2e1;
}
.eventcontainer_10 div.event_text_both div.text {
	background-image:url(../calendar/event_10_arrow_right.gif);
}
.eventcontainer_10 .event div.calendar_text,
.eventcontainer_10 .event div.calendar_text_hover {
	border-right:1px solid #75e2e1;
	border-left:1px solid #75e2e1;
	background-color:#5cc9c9;
}
.eventcontainer_10 .vis_check {
	border-left:1px solid #39a6a5;
}
div.eventcontainer_10 a:link,
div.eventcontainer_10 a:visited,
div.eventcontainer_10 a {
	color:#fff;
}
.eventcontainer_10 .event_edit .time {
	background-color:#5cc9c9;
}
.eventcontainer_10#quick_edit .hover {
	background-color:#39a6a5;
}
.eventcontainer_10#quick_edit .evt_mid_color {
	border-top:1px solid #39a6a5;
}
.eventcontainer_10 .ml_publiclink {
	background:#5cc9c9 url(../calendar/event_middle_10.gif);
}
.eventcontainer_10 .appointments {
	background:#EBFFFF;
}
.eventcontainer_10 .appointment_respond {
	border:1px solid #75e2e1;
	color:#5cc9c9;
}
.eventcontainer_10 #expandAppointmentLinkCont .b {
	background:#BFFFFE;
	border-color:#BFFFFE;
}
.eventcontainer_10 #expandAppointmentLink {
	border:solid #BFFFFE;
	background-color:#EBFFFF;
}
/*end of 10 event style*/

/*11 event style */
.eventcontainer_11 div.a {
	background-color:#52a752;
}
.eventcontainer_11 div.b {
	background-color:#8fe48f;
	border-left:1px solid #52a752;
	border-right:1px solid #52a752;
}
.eventcontainer_11.stand_event_shadow div.a,
.eventcontainer_11.stand_event_shadow div.b,
.eventcontainer_11.stand_event_shadow div.event_text {
    background:#D1EFD1 none;

}
.eventcontainer_11.stand_event_shadow div.b,
.eventcontainer_11.stand_event_shadow div.event_middle,
.eventcontainer_11.stand_event_shadow div.event_text{
    border-left:1px solid #D1EFD1;
	border-right:1px solid #D1EFD1;
}
.eventcontainer_11 .event_selected div.a,
.eventcontainer_11 .event_selected div.b,
.eventcontainer_11 .event_selected div.event_middle {
	background-color:#318631;
	border-left:2px solid #318631;
	border-right:2px solid #318631;
}
.eventcontainer_11 div.event_middle {
	border-left-color:#52a752;
	border-right-color:#52a752;
	color:#fff;
}
.eventcontainer_11 div.event_text {
	background-image:url(../calendar/event_middle_11.gif);
	background-color:#44a844;
	border-left-color:#8fe48f;
	border-right-color:#8fe48f;
	color:#fff;
}
.eventcontainer_11 textarea{
	background:none;
	color:#fff;
}
.eventcontainer_11 div.event_text_left, 
.eventcontainer_11 div.event_text_both {
	background-image:url(../calendar/event_11_arrow_left.gif);
	background-color:#76cb76;
	border-left-color:#8fe48f;
	border-right-color:#8fe48f;
}
.eventcontainer_11 div.event_text_right {
	background-image:url(../calendar/event_11_arrow_right.gif);
	background-color:#76cb76;
	border-left-color:#8fe48f;
	border-right-color:#8fe48f;
}
.eventcontainer_11 div.event_text_both div.text {
	background-image:url(../calendar/event_11_arrow_right.gif);
}
.eventcontainer_11 .event div.calendar_text,
.eventcontainer_11 .event div.calendar_text_hover {
	border-right:1px solid #8fe48f;
	border-left:1px solid #8fe48f;
	background-color:#76cb76;
}
.eventcontainer_11 .vis_check {
	border-left:1px solid #52a752;
}
div.eventcontainer_11 a:link,
div.eventcontainer_11 a:visited,
div.eventcontainer_11 a {
	color:#fff;
}
.eventcontainer_11 .event_edit .time {
	background-color:#76cb76;
}
.eventcontainer_11#quick_edit .hover {
	background-color:#52a752;
}
.eventcontainer_11#quick_edit .evt_mid_color {
	border-top:1px solid #52a752;
}
.eventcontainer_11 .ml_publiclink {
	background:#76cb76 url(../calendar/event_middle_11.gif);
}
.eventcontainer_11 .appointments {
	background:#EBFFEB;
}
.eventcontainer_11 .appointment_respond {
	border:1px solid #8fe48f;
	color:#76cb76;
}
.eventcontainer_11 #expandAppointmentLinkCont .b {
	background:#BFFFBF;
	border-color:#BFFFBF;
}
.eventcontainer_11 #expandAppointmentLink {
	border:solid #BFFFBF;
	background-color:#EBFFEB;
}
/*end of 11 event style*/

/* 12 event style */
.eventcontainer_12 div.a {
	background-color:#728c8d;
}
.eventcontainer_12 div.b {
	background-color:#aec9c9;
	border-left:1px solid #728c8d;
	border-right:1px solid #728c8d;
}
.eventcontainer_12.stand_event_shadow div.a,
.eventcontainer_12.stand_event_shadow div.b,
.eventcontainer_12.stand_event_shadow div.event_text {
    background:#D1DFDF none;
}
.eventcontainer_12.stand_event_shadow div.b,
.eventcontainer_12.stand_event_shadow div.event_middle,
.eventcontainer_12.stand_event_shadow div.event_text{
    border-left:1px solid #D1DFDF;
	border-right:1px solid #D1DFDF;
}
.eventcontainer_12 .event_selected div.a,
.eventcontainer_12 .event_selected div.b,
.eventcontainer_12 .event_selected div.event_middle {
	background-color:#516b6c;
	border-left:2px solid #516b6c;
	border-right:2px solid #516b6c;
}
.eventcontainer_12 div.event_middle {
	border-left-color:#728c8d;
	border-right-color:#728c8d;
	color:#fff;
}
.eventcontainer_12 div.event_text {
	background-image:url(../calendar/event_middle_12.gif);
	background-color:#698889;
	border-left-color:#aec9c9;
	border-right-color:#aec9c9;
	color:#fff;
}
.eventcontainer_12 textarea{
	background:none;
	color:#fff;
}
.eventcontainer_12 div.event_text_left, 
.eventcontainer_12 div.event_text_both {
	background-image:url(../calendar/event_12_arrow_left.gif);
	background-color:#95b0b1;
	border-left-color:#aec9c9;
	border-right-color:#aec9c9;
}
.eventcontainer_12 div.event_text_right {
	background-image:url(../calendar/event_12_arrow_right.gif);
	background-color:#95b0b1;
	border-left-color:#aec9c9;
	border-right-color:#aec9c9;
}
.eventcontainer_12 div.event_text_both div.text {
	background-image:url(../calendar/event_12_arrow_right.gif);
}
.eventcontainer_12 .event div.calendar_text,
.eventcontainer_12 .event div.calendar_text_hover {
	border-right:1px solid #aec9c9;
	border-left:1px solid #aec9c9;
	background-color:#aec9c9;
}
.eventcontainer_12 .vis_check {
	border-left:1px solid #728c8d;
}
div.eventcontainer_12 a:link,
div.eventcontainer_12 a:visited,
div.eventcontainer_12 a {
	color:#fff;
}
.eventcontainer_12 .event_edit .time {
	background-color:#aec9c9;
}
.eventcontainer_12#quick_edit .hover {
	background-color:#728c8d;
}
.eventcontainer_12#quick_edit .evt_mid_color {
	border-top:1px solid #728c8d;
}
.eventcontainer_12 .ml_publiclink {
	background:#aec9c9;/* url(../calendar/event_middle_12.gif);*/
}
.eventcontainer_12 .appointments {
	background:#E6F5F5;
}
.eventcontainer_12 .appointment_respond {
	border:1px solid #aec9c9;
	color:#aec9c9;
}
.eventcontainer_12 #expandAppointmentLinkCont .b {
	background:#BFFFFF;
	border-color:#BFFFFF;
}
.eventcontainer_12 #expandAppointmentLink {
	border:solid #BFFFFF;
	background-color:#E6F5F5;
}
/*end of 12 event style*/

/* 13 event style */
.eventcontainer_13 div.a {
	background-color:#919027;
}
.eventcontainer_13 div.b {
	background-color:#cecd60;
	border-left:1px solid #919027;
	border-right:1px solid #919027;
}
.eventcontainer_13.stand_event_shadow div.a,
.eventcontainer_13.stand_event_shadow div.b,
.eventcontainer_13.stand_event_shadow div.event_text {
    background:#F2F2E1 none;
}
.eventcontainer_13.stand_event_shadow div.b,
.eventcontainer_13.stand_event_shadow div.event_middle,
.eventcontainer_13.stand_event_shadow div.event_text{
    border-left:1px solid #F2F2E1;
	border-right:1px solid #F2F2E1;
}
.eventcontainer_13 .event_selected div.a,
.eventcontainer_13 .event_selected div.b,
.eventcontainer_13 .event_selected div.event_middle {
	background-color:#6b6b27;
	border-left:2px solid #6b6b27;
	border-right:2px solid #6b6b27;
}
.eventcontainer_13 div.event_middle {
	border-left-color:#919027;
	border-right-color:#919027;
	color:#fff;
}
.eventcontainer_13 div.event_text {
	background-image:url(../calendar/event_middle_13.gif);
	background-color:#8f8e0e;
	border-left-color:#cecd60;
	border-right-color:#cecd60;
	color:#fff;
}
.eventcontainer_13 textarea{
	background:none;
	color:#fff;
}
.eventcontainer_13 div.event_text_left, 
.eventcontainer_13 div.event_text_both {
	background-image:url(../calendar/event_13_arrow_left.gif);
	background-color:#b5b447;
	border-left-color:#cecd60;
	border-right-color:#cecd60;
}
.eventcontainer_13 div.event_text_right {
	background-image:url(../calendar/event_13_arrow_right.gif);
	background-color:#b5b447;
	border-left-color:#cecd60;
	border-right-color:#cecd60;
}
.eventcontainer_13 div.event_text_both div.text {
	background-image:url(../calendar/event_13_arrow_right.gif);
}
.eventcontainer_13 .event div.calendar_text,
.eventcontainer_13 .event div.calendar_text_hover {
	border-right:1px solid #cecd60;
	border-left:1px solid #cecd60;
	background-color:#b5b447;
}
.eventcontainer_13 .vis_check {
	border-left:1px solid #919027;
}
div.eventcontainer_13 a:link,
div.eventcontainer_13 a:visited,
div.eventcontainer_13 a {
	color:#fff;
}
.eventcontainer_13 .event_edit .time {
	background-color:#b5b447;
}
.eventcontainer_13#quick_edit .hover {
	background-color:#919027;
}
.eventcontainer_13#quick_edit .evt_mid_color {
	border-top:1px solid #919027;
}
.eventcontainer_13 .ml_publiclink {
	background:#b5b447 url(../calendar/event_middle_13.gif);
}
.eventcontainer_13 .appointments {
	background:#F6FFCF;
}
.eventcontainer_13 .appointment_respond {
	border:1px solid #cecd60;
	color:#b5b447;
}
.eventcontainer_13 #expandAppointmentLinkCont .b {
	background:#FFFEBF;
	border-color:#FFFEBF;
}
.eventcontainer_13 #expandAppointmentLink {
	border:solid #FFFEBF;
	background-color:#F6FFCF;
}
/*end of 13 event style*/

/* 14 event style */
.eventcontainer_14 div.a {
	background-color:#9e7979;
}
.eventcontainer_14 div.b {
	background-color:#dab6b5;
	border-left:1px solid #9e7979;
	border-right:1px solid #9e7979;
}
.eventcontainer_14.stand_event_shadow div.a,
.eventcontainer_14.stand_event_shadow div.b,
.eventcontainer_14.stand_event_shadow div.event_text {
    background:#F4EEEE none;
}
.eventcontainer_14.stand_event_shadow div.b,
.eventcontainer_14.stand_event_shadow div.event_middle,
.eventcontainer_14.stand_event_shadow div.event_text{
    border-left:1px solid #F4EEEE;
	border-right:1px solid #F4EEEE;
}
.eventcontainer_14 .event_selected div.a,
.eventcontainer_14 .event_selected div.b,
.eventcontainer_14 .event_selected div.event_middle {
	background-color:#7d5857;
	border-left:2px solid #7d5857;
	border-right:2px solid #7d5857;
}
.eventcontainer_14 div.event_middle {
	border-left-color:#9e7979;
	border-right-color:#9e7979;
	color:#fff;
}
.eventcontainer_14 div.event_text {
	background-image:url(../calendar/event_middle_14.gif);
	background-color:#9e7372;
	border-left-color:#dab6b5;
	border-right-color:#dab6b5;
	color:#fff;
}
.eventcontainer_14 textarea{
	background:none;
	color:#fff;
}
.eventcontainer_14 div.event_text_left, 
.eventcontainer_14 div.event_text_both {
	background-image:url(../calendar/event_14_arrow_left.gif);
	background-color:#c29d9c;
	border-left-color:#dab6b5;
	border-right-color:#dab6b5;
}
.eventcontainer_14 div.event_text_right {
	background-image:url(../calendar/event_14_arrow_right.gif);
	background-color:#c29d9c;
	border-left-color:#dab6b5;
	border-right-color:#dab6b5;
}
.eventcontainer_14 div.event_text_both div.text {
	background-image:url(../calendar/event_14_arrow_right.gif);
}
.eventcontainer_14 .event div.calendar_text,
.eventcontainer_14 .event div.calendar_text_hover {
	border-right:1px solid #dab6b5;
	border-left:1px solid #dab6b5;
	background-color:#c29d9c;
}
.eventcontainer_14 .vis_check {
	border-left:1px solid #9e7979;
}
div.eventcontainer_14 a:link,
div.eventcontainer_14 a:visited,
div.eventcontainer_14 a {
	color:#fff;
}
.eventcontainer_14 .event_edit .time {
	background-color:#c29d9c;
}
.eventcontainer_14#quick_edit .hover {
	background-color:#9e7979;
}
.eventcontainer_14#quick_edit .evt_mid_color {
	border-top:1px solid #9e7979;
}
.eventcontainer_14 .ml_publiclink {
	background:#c29d9c url(../calendar/event_middle_14.gif);
}
.eventcontainer_14 .appointments {
	background:#EFE2E0;
}
.eventcontainer_14 .appointment_respond {
	border:1px solid #dab6b5;
	color:#c29d9c;
}
.eventcontainer_14 #expandAppointmentLinkCont .b {
	background:#FFC1BF;
	border-color:#FFC1BF;
}
.eventcontainer_14 #expandAppointmentLink {
	border:solid #FFC1BF;
	background-color:#EFE2E0;
}
/* end of 14 event style*/
/* gray event style (15)*/
.eventcontainer_15 div.a {
	background-color:#999999;
}
.eventcontainer_15 div.b {
	background-color:#dddddd;
	border-left:1px solid #999999;
	border-right:1px solid #999999;
}
.eventcontainer_15 .event_selected div.a,
.eventcontainer_15 .event_selected div.b,
.eventcontainer_15 .event_selected div.event_middle {
	background-color:#888888;
	border-left:2px solid #888888;
	border-right:2px solid #888888;
}
.eventcontainer_15 div.event_middle {
	border-left-color:#999999;
	border-right-color:#999999;
	color:#fff;
}
.eventcontainer_15 div.event_text {
	background-color:#cccccc;
	border-left-color:#dddddd;
	border-right-color:#dddddd;
	color:#fff;
}
.eventcontainer_15 textarea{
	background:none;
	color:#fff;
}
.eventcontainer_15 div.event_text_left, 
.eventcontainer_15 div.event_text_both {
	background-image:url(../calendar/event_15_arrow_left.gif);
	background-color:#bbbbbb;
	border-left-color:#dddddd;
	border-right-color:#dddddd;
}
.eventcontainer_15 div.event_text_right {
	background-image:url(../calendar/event_15_arrow_right.gif);
	background-color:#bbbbbb;
	border-left-color:#dddddd;
	border-right-color:#dddddd;
}
.eventcontainer_15 div.event_text_both div.text {
	background-image:url(../calendar/event_15_arrow_right.gif);
}
.eventcontainer_15 .event div.calendar_text,
.eventcontainer_15 .event div.calendar_text_hover {
	border-right:1px solid #dddddd;
	border-left:1px solid #dddddd;
	background-color:#bbbbbb;
}
.eventcontainer_15 .vis_check {
	border-left:1px solid #999999;
}
div.eventcontainer_15 a:link,
div.eventcontainer_15 a:visited,
div.eventcontainer_15 a {
	color:#fff;
}
.eventcontainer_15 .event_edit .time {
	background-color:#bbbbbb;
}
.eventcontainer_15#quick_edit .hover {
	background-color:#999999;
}
.eventcontainer_15#quick_edit .evt_mid_color {
	border-top:1px solid #cccccc;
}
.eventcontainer_15 .ml_publiclink {
	background:#bbbbbb;
}
.eventcontainer_15 .appointments {
	background:#EFEFEF;
}
.eventcontainer_15 .appointment_respond {
	border:1px solid #dddddd;
	color:#bbbbbb;
}
.eventcontainer_15 #expandAppointmentLinkCont .b {
	background:#EFEFEF;
	border-color:#EFEFEF;
}
.eventcontainer_15 #expandAppointmentLink {
	border:solid #EFEFEF;
	background-color:#EFEFEF;
}
/* end of gray event style*/
/* begin of gray event style*/
.edit_gray div.a {
	background-color:#B9BABA;
}
.edit_gray div.b {
	background-color:#f7f7f7;
	border-left:1px solid #B9BABA;
	border-right:1px solid #B9BABA;
}
.edit_gray .event_selected div.a,
.edit_gray .event_selected div.b,
.edit_gray .event_selected div.c,
.edit_gray .event_selected div.event_middle {
	background-color:#909090;
	border-left:2px solid #909090;
	border-right:2px solid #909090;
}
.edit_gray div.c {
	background-color:#E1E1E1 !important;
	border-left:1px solid #B9BABA !important;
	border-right:1px solid #B9BABA !important;
}
.edit_gray div.event_middle {
	border-left-color:#B9BABA;
	border-right-color:#B9BABA;
	background-color:#FFFFFF;
	color:#696969;
}
.edit_gray div.event_text {
	background-color:#D8D8D8;
	border-right-color:#E1E1E1;
} 
.edit_gray div.event_text_left {
	background-color:#EBEBEB !important;
	border-right-color:#E1E1E1;
}
.edit_gray div.event_text_right, .edit_gray div.event_text_both {
	background-color:#EBEBEB !important;
	border-right-color:#E1E1E1;
}
.edit_gray div.calendar_text {
	border-right:0 !important;
	border-left:0 !important;
	background-color:#F7F7F7 !important;
}
.calendar_manager .edit_gray {
	position:absolute;
	width:124px;
	right:42px;
	display:none;
}
.edit_gray .vis_check {
	border-left:1px solid #B9BABA;
}
div.edit_gray  a:link, div.edit_gray  a:visited, div.edit_gray  a {
	color:#696969;
}
div.edit_gray  span a:link, div.edit_gray span a:visited, div.edit_gray span a {
	border:1px solid #F7F7F7;
}
div.edit_gray span a:hover {
	text-decoration:none; 
	background-color:#DDDDDD;
}
.edit_gray .calendar_text .text {
	font-size:11px;
	padding-top:0;
	top:0;
}
.edit_gray .text a {
	display:block;
	padding-top:3px;
	height:100% !important;
}
/* end of gray style*/
/* black event style*/
.event_black {
	position:absolute;
	left:5px;
	top:5px;
	z-index:9;
	filter:Alpha(Opacity=30);
	opacity:0.3;
}
.event_black div {
	overflow:hidden;
}
.event_black div.a,.event_black div.aa,.event_black div.b, .event_black div.event_middle {
	background-color:#000;
}
/* end of black event style*/
/* begin of lightgray event style*/
.edit_lightgray div.a {
	background-color:#ddd;
}
.edit_lightgray div.b {
	background-color:#f7f7f7;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
}
.edit_lightgray div.event_middle {
	border-left-color:#ddd;
	border-right-color:#ddd;
	background-color:#FFFFFF;
	color:#696969;
}
/* end of lightgray event style*/


/* event edit form style*/
 #edit_window, #manager_window, #confirm_window, #share_window, #repeat_choose {
	width:100%;
	position:fixed;
	top:0;
	left:0;
	height:100%;
	z-index:20;
	&position:absolute;
	display:none;
}
#edit_window .mask, #manager_window .mask, #confirm_window .mask, #share_window .mask, #repeat_choose .mask {
	left:0;
	top:0;
	position:absolute;
	width:100%;
	height:100%;
	background-color:#333333;
	opacity:0.3;
	filter:Alpha(Opacity=30);
}
#share_form .event_black, #share_form .event_edit {
    width:490px;
}
#share_form .event_edit div.text {
    width:480px;
}
#edit_form .event_black .event_middle {
	height:expression(document.getElementById('eventcontainer').offsetHeight - 4 + 'px');
}
#manager_form .event_black .event_middle{
	height:expression(document.getElementById('calendarcontainer').offsetHeight - 4 + 'px');
}
#share_form .event_black .event_middle{
	height:expression(document.getElementById('sharecontainer').offsetHeight - 4 + 'px');
}
#repeat_choose .event_black .event_middle{
	height:expression(document.getElementById('choosecontainer').offsetHeight - 4 + 'px');
}
.edit_form {
	position:relative;
	left:50%;
	top:50%;
	z-index:19;
	color:#696969;
}
.edit_form .text, .edit_form .event_text, .edit_form .event_middle, .edit_form .select_box, .edit_form .arrow, .edit_form textarea {
	height:auto;
    &height:100%;
}
.edit_form a, .edit_form a:link, .edit_form a:active, .edit_form a:hover {
	color:#696969 !important;
}
.edit_form input[type="button"] {
	display:inline;
	height:auto;
	margin:0.6em 10px 0 0;
}
* html .edit_form input {
	display:expression( this.type=="button" ? 'inline' : 'inherit');
	margin:expression( this.type=="button" ? '0.6em 10px 0 0' : 'inherit' );
}
.wm_button.normal {
	font-weight:normal !important;
}
.edit_form .row_title {
	width:6em;
	padding:2px 0 0 5px;
	text-align:left;
	float:left;
	color:#696969;
    font-size:11px;
}
/*---publication link style ---*/
.edit_form .inline_string input{
	margin:1px 0 0 0;
	$margin:0;
	float:left;
}
.edit_form .inline_string label{
	text-align:left;
	color:#696969;
	&line-height:20px;
}
* html .inline_string label {
	display:inline !important;
	margin-left:0 !important;
}
textarea.link_container {
	font-size:10px;
    width:365px;
}
/*---//publication link style ---*/
/*---shares list style ---*/
.edit_form .share{
	padding:0 0 5px 5px;
}
.edit_form .share .col1{
	float:left;
	width:150px;
	padding:0 10px 0 0;
	font-size:13px;
}
.edit_form .share .col2{
	float:left;
	margin:0 10px 0 0;
	$padding-top:1px;
}
.edit_form .share .col3{
	float:left;
	padding:1px 0 0 0;
}
.edit_form  .imgbtn {
	cursor:pointer;
	width:17px;
	height:17px;
}

#sharedEmail {
	width:100%;
	padding-left:0;
	text-indent:3px;
	$text-indent:0;
	$padding-left:3px;
}
/*---shares list style ---*/

.edit_form .event_middle {
	font-size:11px;
}
.edit_form .calendar_block .title {
	padding:4px 2px;
	text-align:center;
}
.event_edit {
	z-index:20;
	width:435px;
	text-indent:3px;
}
.edit_form .event_black  {
	position:absolute;
	display:block;
	height:auto;
	width:435px;
	$height:100%;/*need for ie 7*/
}
.edit_form .input {
	border:1px solid #bbb;
	color:#696969;
	padding-left:3px;
}
.edit_form select {
	padding-left:0 !important;
	font-size:11px;
	height:20px;
}
.event_edit .time {
	width:100%;
	height:1.6em;
	background-color:#59ace2;
	margin:0;
	font:bold 15px Tahoma, Arial, Helvetica, sans-serif;
	color:#ffffff;
	text-indent:68px;
	line-height:21px;
	top:0 !important;
 }
.event_edit div {
	overflow:hidden;
}
.event_edit div.event_middle {
	background-color:#FFFFFF;
	overflow:visible;
}
.event_edit div.event_text {
	background-color:#FFFFFF;
	background-image:none;
	overflow:visible;
	color:#696969;
}
.event_edit div.text {
	overflow:visible;
	position:static;
	white-space:normal;
}
.event_edit div.buttons {
	text-align: center;
	padding-bottom: 1.5em;
}
.em_spacer {
	height:0.6em;
	overflow:hidden;
	clear:both;
}
.event_edit textarea {
	position:relative;
	left:0;
	top:0;
}
/* end edit form style*/
/* calendars style*/

/*calendar_manager_styles*/
#calendarcontainer .b, #eventcontainer .b {
	height:2px;
}
#edit_select_box .b {
	height:1px;
}
#calendarcontainer .event_text, #eventcontainer .event_text{
	border-left-width:2px;
	border-right-width:2px;
}
#edit_select_box .event_text{
	border-left-width:1px;
	border-right-width:1px;
}
.edit_form  .event_edit {
	text-indent:0;
}
.edit_form  .color_pick, .edit_form  .color_pick_hover {
	position:static !important;
	display:inline;
}
/*calendar_manager_styles*/

.calendar_manager .event_middle {
	height:3.9ex;
}

.vis_check {
	position:absolute;
	top:0 !important;
	right:4px;
	width:24px;
	height:100%;
	padding:2px 0 0 0;
	background:transparent url(../calendar/arrow_bottom_light.gif) no-repeat scroll center;
}
.calendar_text_hover .vis_check {
	background:transparent url(../calendar/arrow_bottom.gif) no-repeat scroll center;
}
.event_edit .vis_check {
	background:transparent url(../calendar/editwindow_arrow_bottom.gif) no-repeat scroll center;
}
.calendar_text .text, .calendar_text_hover .text {
	width:105px;
	top:0;
	font-size:11px;
	padding-top:4px;
}
.calendar_manager span.text {
	width:auto;
}
.event div.calendar_text, .event div.calendar_text_hover {
	height:100%;
	overflow:hidden;
	position:relative;
	padding:0 5px;
}
.event_selected div.calendar_text, .event_selected div.calendar_text_hover {
	height:100%;
	overflow:hidden;
	position:relative;
}
div.calendar_text, div.calendar_text_hover {
	background-repeat:repeat-x;
	margin:0;
	font:normal 11px Tahoma, Arial, Helvetica, sans-serif;
}
.clear {
	clear:both;
	padding:0; margin:0;
	overflow:hidden;
	height:0px;
}
.word_wrap {
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}
/*-----quick_menu_styles -------------*/
.calendar_manager #quick_edit .event_middle {
	height:auto;
	overflow:hidden;
}
.calendar_manager #quick_edit .calendar_text {
	padding:0;
}
.calendar_manager #quick_edit span.text {
	display:block;
	margin:0;
	padding:3px 5px;
}
* html #quick_edit {
	$margin-top:1px !important;
}
.manager_list {
	height:20px;
	overflow:auto;
	position:relative;
	$position:relative;
	overflow-x:hidden;
	overflow-y:auto;
	width:200px;
}
.quick_menu {
	position:absolute;
	margin:0;
	left:35px;
	right:0;
	display:none;
}
.quick_menu .event_black {
	height:100%;
	left:2px;
	top:2px;
}
.quick_menu .event_black  .event_middle {
	height:98%;
	height:expression(document.getElementById('quick_menu').clientHeight - 4);
}

#quick_edit {
	margin:0;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	width:auto !important;
}
#quick_edit .event {
	margin:0;
	width:auto;
	width:125px;
}
.evt_mid_color {
	height:7ex !important;
	padding:1ex 0 0 3px;
	margin:1ex 0 0 0;
}
.color_pick {
	float:left;
	width:12px;
	height:12px;
	border:1px solid #fff;
	margin:2px 0 0 3px;
	cursor:pointer;
	display:inline;
}
.color_pick_hover {
	float:left;
	width:12px;
	height:12px;
	border:1px solid #000;
	margin:2px 0 0 3px;
	cursor:pointer;
	display:inline;
}
.color_pick.checked, .color_pick_hover.checked {
	background:transparent url(../calendar/check.png) no-repeat center center;
}
.quick_menu  a:hover {
	text-decoration:none !important;
}

.qmenu1 { margin:0 !important; width:1px; }
.qmenu2 { margin:0 !important; width:2px; }
/*-----//quick_menu_styles -------------*/

* {
	outline:none;
}

.vrule {
	width:1px;
	height:216ex;
	z-index:4;
	background-color:#E5E5f5;/*skin changed*/
	position:absolute;
	top:0;
}
.hrule, .hrule_odd {
	font-size:12px;
	overflow:hidden;
	position:absolute;
	width:100%;       
	height:1px;
	z-index:3;
	border-top:1px solid #E5E5E5;
}
.hrule_odd{
	border-top:1px dashed #EFEFEF !important;
}
.wrule {
	position:absolute;
	width:14.2857%;
	height:4.5ex;
	z-index:1;
	border-left:1px solid #E5E5E5;
	border-bottom:1px solid #E5E5E5;
}
.rhead, .rhead_odd, .rhead_notworkday, .rhead_odd_workday {
	position:absolute;
	left:0;
	width:40px;
	border-top:1px solid #E5E5E5;
	font-size:12px;
	line-height:4ex;
	color:#666666;
}
.rhead, .rhead_odd {
	height:4ex;
	background:#FFFFFF;
}
.rhead_odd, .rhead_odd_workday {
	border-top:1px none !important;
}
.rhead div, .rhead_odd div, .rhead_notworkday div, .rhead_odd_workday div {
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
}
.rheaders {
	font-size:12px;
	height:216ex;
	top:0;
	left:0;
	width:100%;
	cursor:default;
	text-align:center;
}
.grid_2, .grid_2_month, .grid_1 {
	font-size:12px;
	background:#FFFFFF none repeat scroll 0%;
	position:relative;
}
.grid_2 {
	height:216ex;
}
.grid_2_month {
	height:225ex;
}
.grid_1 .current_day {
	height:100%;
}
.current_day, .current_day_nocolor {
	width:14.2857%;
	position:absolute;
	top:0;
	z-index:2;
}
.current_day { background-color:#ffffd6; }
.current_day_nocolor { background-color:transparent; }
html:first-child .weekend_day, html:first-child .current_day {
	padding:0 0 0 3px;
}
.select_area, .dragit_area  {
	z-index:1;
	filter:Alpha(Opacity=40);
	opacity:0.4;
	position:absolute;
}
.select_area {
	background-color:#CCCCCC;
}
.dragit_area {
	background-color:#CDD6DF;
}
.calowner {
	position:relative;
	display:block;
	width:auto;
	height:100%;
}
.calowner table{
	table-layout:fixed;
	width:100%;
	border:0;
	margin:0;
	padding:0;
}
.calowner table td {
	width:auto;
	position:relative;
}
.arrow_layer {
	position:absolute;
	width:0;
	bottom:0; 
	height:500px;
}
.arrow_layer div.arrow_container {
	width:auto;
	height:100%;
	margin:0 16px 0 40px;
}
.arrow_col {
	position:absolute;
	width:14.2857%;
	top:0;
}
.arrow_up, .arrow_down {
	position:absolute;
	right:6px;
	width:20px;
	height:17px;
	background-repeat:no-repeat;
	cursor:pointer;
}
.arrow_up {
	top:9px;
	background-position:top center;
	background-image:url(../calendar/event_arrow_up6.gif);
}
.arrow_down {
	bottom:11px;
	background-position:bottom center;
	background-image:url(../calendar/event_arrow_down6.gif);
}
.arrow_up_hover, .arrow_down_hover {
	position:absolute;
	right:5px;
	width:20px;
	height:17px;
	border:1px solid #cff;
	background-repeat:no-repeat;
	cursor:pointer;
}
.arrow_up_hover {
	top:8px;
	background-position:top center;
	background-image:url(../calendar/event_arrow_up6.gif);
}
.arrow_down_hover {
	bottom:10px;
	background-position:bottom center;
	background-image:url(../calendar/event_arrow_down6.gif);
}

/*calendar table style*/
.box {
	background-color:#fff;
}
.calendar_block {
	/*background:#929Daa;*/
	background:#fff;
	font:normal 11px Tahoma, Arial, Helvetica, sans-serif;
	border:1px solid #B0BCBC;
	border-collapse:separate;
	width:180px;
}
.title {
	text-align:center;
	padding:4px 2px;
	color:#696969;        
}
.calendar_block .title {
	border-bottom:1px solid #696969;
	cursor:default;
}
.edit_form .calendar_block {
	border:1px solid #bbb;
	vertical-align:middle;
}
.edit_form .calendar_block .title {
	border-bottom:1px solid #bbb;
	cursor:default;
}
a.CalLinkInactive:link, a.CalLinkInactive:visited, a.CalLinkInactive:active, a.CalLinkInactive:hover
{
	color:#cDd6e5 !important;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
}
a.CalLinkInactiveWeekend:link, a.CalLinkInactiveWeekend:visited, a.CalLinkInactiveWeekend:active, a.CalLinkInactiveWeekend:hover {
	color:#cDd6e5  !important;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
}
.CalLink:link, .CalLink:visited, .CalLink:active,
.CalLinkInactive:link, .CalLinkInactive:visited, .CalLinkInactive:active,
.CalLinkInactiveWeekend:link, .CalLinkInactiveWeekend:visited, .CalLinkInactiveWeekend:active 
{
	text-decoration:none;
}
.CalLink:hover,
.CalLinkInactive:hover,
.CalLinkInactiveWeekend:hover
{
	text-decoration:underline;
}
.middleTdSelector_ {
	border:0;
	margin:0;
	padding:0;
	text-align:center;
	width:120px;
    &width:100%;
	position:relative;
    &position:absolute;
	top:0;
	left:0;
}
.middleTdSelector, .middleTdSelector_over {
	padding:2px 0;
	margin:0;
	cursor:pointer;
	color:#363C41;/*skin changed*/
}
.imgSelector {
	border:0;
	padding:0 0 0 4px;
	width:11px;
	height:7px;
}
.monthsList {
	position:absolute;
	top:19px;
	left:0;
	padding:0;
	margin:0;
	border:0;
	text-align:right;
	display:none;
	width:100% !important;
}
.monthsList .event {
	padding:0;
	width:100%;
}
.monthsList .event_middle {
	height:20px;
}
.monthsList .calendar_text {
	padding:0 5px;
}
.monthsList span.text {
	width:100%;
}
.monthsList .text a {
	padding-right:12px;
}
.time_selector {
	background-color:#fff;
	font:normal 12px Tahoma, Arial, Helvetica, sans-serif;
	color:#696969;
	border:solid 1px #bbb;
	overflow:auto !important;
	width:82px;
	height:150px;
	text-align:center;
	cursor:pointer;
	$margin-left:-1px;
	margin-top:-1px;
}
.ts_text {
	margin:2px;
}
.ts_text_hover {
	margin:2px;
	background-color:#99D8FF;
}
.small_calendars 
{
	font:normal 12px Tahoma, Arial, Helvetica, sans-serif;
	color:#10659e;
	display:block;
	padding-left:12px;
	padding-bottom:14px;
	background:#D4D8DF none repeat 0px 0px;/*skin changed*/
	border-right:4px solid #7E8C9E;/*skin changed*/
}
.calendar_switcher {
	border:0;
	width:11px;
	height:11px;
	cursor:pointer;
}
td.spacer {
	width:8px;
	display:none !important;/*skin changed*/
}
/*toolbar panel*/
.wm_toolbar
{
	width:100%;
	height:26px;
	font:normal 11px Tahoma, Arial, Helvetica, sans-serif;
}
.cal_toolbar 
{
	border:0 !important;/*skin changed*/
	position:relative;
}
.cal_toolbar img
{
	vertical-align:middle;
}
.cal_toolbar div div 
{
	margin:0 !important;
}
.cal_toolbar div
{
	display:block;
	cursor:pointer;
	cursor:hand;
	vertical-align:middle;
}
.ml_publiclink {
	display:block;
	position:absolute;
	top:3px;
	right:24px;
	padding:0 7px 0 3px;
}
.ml_publiclink img{
	border:0;
	height:12px;
	width:16px !important;
	margin:2px 0 0 2px;
}
#color_calendar_now.color_pick {
	border:1px solid #fff;
	margin:1px 0 0 2px;
	background-color:#FFFFFF;
	position:absolute !important;
	left:0;
}
#calen_sal.text {
	position:relative;
	margin:0 0 0 16px;
}
.calendar_arrow {
	background-color:#FFFFFF !important;
	right:0;
	border-left:1px solid #696969;
	position:absolute !important;
}
.col2 select {
	width:220px;
}
#publicationLevel {
	width:270px;
}
.close_more_list {
	position:absolute;
	top:0;
	right:0;
	width:10px;
	height:10px;
	cursor:pointer;
	border:0;
	background-color:#ffffff;
	padding:0 0 4px 4px;
}
.more_link {
	position:absolute;
	font-family:Tahoma,Arial,Helvetica,sans-serif;
	font-size:11px;
	color:#797979;
	cursor:pointer;
	z-index:15;/*23000*/
}
.stand_event_shadow {
    position:absolute;
    z-index:3;
}

/*******************************************************/
ul.nolist {
	list-style:none;
	margin:0;
}
/*uses for application selectbox */
.eventcontainer_bw div.a {
	background-color:#bbb;
}
.eventcontainer_bw div.b {
	background-color:#fff;
	border-left:1px solid #bbb;
	border-right:1px solid #bbb;
}
.eventcontainer_bw div.event_middle {
	border-left-color:#bbb;
	border-right-color:#bbb;
	color:#000000;
}
.eventcontainer_bw .vis_check {
	border-left:1px solid #bbb;
}
div.eventcontainer_bw a:link,
div.eventcontainer_bw a:visited
div.eventcontainer_bw a {
	color:#fff;
}
#edit_select_box .event_middle {
	height:1.4em;
}
#edit_select_box div.text {
	overflow:hidden;
	color:#000000;
	padding-top:0;
	text-indent:3px;
}
#edit_select_box {
	width:148px;
	top:4em;
	left:68px;
	z-index:3001;
}
.calendar_list {
	position:absolute;
	left:6.7em;
	border:1px solid #bbb;
	background-color:#FFFFFF;
	padding:4px;
	color:#000000;
	z-index:9;
	line-height:16px;
	cursor:pointer;
	display:none;
	margin-top:-1px;
}
* html .calendar_list {
	left:7em !important;
}
/* end of bw event style*/

.eventcontainer_gray div.a {
	background-color:#ddd;
}
.eventcontainer_gray div.b {
	background-color:#fff;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
}
.eventcontainer_gray div.event_middle {
	border-left-color:#ddd;
	border-right-color:#ddd;
	color:#696969;
}
.eventcontainer_gray div.event_text {
	background-color:#fff !important;
	border-left-color:#fff;
	border-right-color:#fff;
}

/*-----------------select_box control--------------------*/
.select_box {
	color:#000000;
	overflow:visible !important;/*to prevent .event_edit div style*/
	margin-left:6.5em;
	&float:left;
	&margin-left:0;
}
.select_box select {
	height:auto;
}
.select_box .a_round_left {
	margin:0 0 0 2px;
	height:1px;
	overflow:hidden;
}
.select_box .b_round_left {
	height:1px !important;
	margin:0 0 0 1px;
	overflow:hidden;
}
.select_box .a_round_right {
	margin:0 2px 0 0;
	height:1px;
	overflow:hidden;
}
.select_box .b_round_right {
	height:1px !important;
	margin:0 1px 0 0;
	overflow:hidden;
}
.select_box div.event_text {
	color:#000;
}
.select_box .advanced_repeat {
	float:left;
}
.select_box .arrow {
	float:left;
	padding:0 0 0 2px;
	width:24px;
	height:100%;
	&float:none;
}
.select_box .arrow .event_text {
	height:1.9em;
	cursor:pointer;
	background:url(../calendar/arrow_bottom_light.gif) no-repeat scroll center;
}

.select_box_list {
	clear:both;
	display:none;
	position:absolute;
	cursor:pointer;
	color:#000000;
	line-height:16px;
	z-index:1;
	overflow:visible !important;
	left:6.5em;
	border-top:0;
	margin-top:-2px;
	padding:0;
}

.select_box_opt, .select_box_opt_active {
	padding:5px 3px;
	overflow:visible !important;
	border-bottom:1px solid #C2C9CF;
}
.select_box_opt_active {
	background-color:#A8BDCF;
}
.select_box div.a, .a_round_left, .a_round_right {
	background-color:#B5C2CF;
}
.select_box div.b, .b_round_left, .b_round_right {
	height:1px !important;
	background-color:#E0E8EF;
	border-left:1px solid #B5C2CF;
	border-right:1px solid #B5C2CF;
}
.select_box div.event_middle {
	border-left:1px solid #B5C2CF;
	border-right:1px solid #B5C2CF;
}
.select_box div.event_text {
	background-color:#D1D8DF !important;
	border-left:1px solid #E0E8EF !important;
	border-right:1px solid #E0E8EF !important;
}
/*.select_box_list, */


/*----------------form styles----------------*/
.form_string {
	clear:both;
	padding:0;
}
.form_string li {
	clear:both;
	padding-bottom:0.6em;
}
.row_offset {
	margin-left:6.5em !important;
}/****------------form styles----------------*/


/*-------repeat form styles----------------*/
.repeatCont {
	margin:5px;
	overflow:visible !important;
}
.repeatCont span {
	display:inline !important;
	visibility:visible !important;
	float:none !important;
}
.advanced_repeat {
	position:relative;
	cursor:pointer;
}
.advanced_repeat .event_text {
	height:1.9em;
	line-height:1.9em;
	padding:0 3px;
}

.closeRepeatForm {
	width:10px;
	height:10px;
	border:0;
	position:absolute;
	top:0;
	right:0;
	cursor:pointer;
	padding:4px;
}
.repeatResult {
	float:left;
	padding:0.4em;
	margin:0.2em 1em 1em 0;
	color:#000;
	border:1px solid #ccc;
	overflow:visible !important;
	background-color:#FFFCDF;
}
.edit_form a.link1 {
	display:inline;/*to prevent .text a  95 */
	color:#10659E !important;
}
.weekdaysRepeatChbk, .repeatOnDay, .repeatWeekDays, .repeatsEvery {
	padding:0.4em 0;
	$padding:0.2em 0;
}
/****----repeat form styles----------------*/


* html .repeatWeekDays {
	padding:0 0 0 2px;
}
.repeatWeekDays label{
	margin-right:4px;
	$margin-right:2px;
}
#calendarRepeatUntil {
	position:absolute;
	margin-top:-1px;
	overflow:hidden;
}

#calendarRepeatUntil td {
	padding:0;
}
#calendarRepeatUntil .calendar_block .title , #calendarRepeatUntil .Calendar_Title td{
	padding:4px 0;
}

#repeat_choose .event_edit, #repeat_choose .event_black {
	width:610px;
}
#repeat_choose .event_edit div.text {
	width:600px;
}
.Calendar_Title td {
	padding:4px 0;
	z-index:100;
}
.Calendar_Title td.arrow_left {
	width:32px;
	text-align:right;
}
.Calendar_Title td.middle {
	width:120px;
	text-align:center;
	z-index:15;
	display:block;
	position:relative;
}
.Calendar_Title td.arrow_right {
	width:32px;
	text-align:left;
}
/**** reminders *****/
#remindCont, #remindCont div {
    overflow:visible;
}
.remind_line {
    padding:2px 0;
}
a.deleter {
    margin-left:10px;
}
div.modal_div {
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color: #FFF;
    opacity: 0.0;
    filter: alpha(opacity=0);
    _position:absolute;
    _width:2000px;
    _height:1000px;
    _top:-500px;
    _left:-500px;
}
div.dropdown {
    padding:3px 5px;
    border:2px solid #006699;
    background-color:#fcfcfc;
    position:absolute;
    width:80px;
}
div.dropdown div {
    height:14px;
}
.dropdown a.row{
    color:#FFF !important;
    border:none;
    display:inline;
}
div.dropdown .active{
    cursor:pointer;
    font:bold 11px Tahoma, Arial, Helvetica, sans-serif;
	text-decoration:none;
	display:inline;
	color:#000000 !important;
}
a.dropdown_link, a.dropdown_link:hover, a.dropdown_link:visited {
    text-decoration:none;
    border-bottom:1px dashed;
}
/**************************************/

/*
**** main styles ****
*/
.new_calendar {
	margin:10px 0 0 30px;
	padding:0 0 0 5px;
}
.new_calendar a {
	font:bold 11px Tahoma, Arial, Helvetica, sans-serif;
	color:#9FD4FF;/*skin changed*/
	text-decoration:none;
}
.new_calendar a:hover {
	text-decoration:underline;
	color:#fff;/*skin changed*/
}

.mainbody {
	width:auto;
	vertical-align:top;/*skin changed*/
	background:#D4D8DF;/*skin changed*/
}
#mainbody {
	border-right:0px solid #ccc;/*skin changed*/
	background:#D4D8DF none repeat 0px 0px;
}
#toolbar_interval_switch {
	line-height:normal;
	overflow:hidden;
	position:absolute;
	right:630px;
	margin-top:4px;/*skin changed*/
	top:0px;
	white-space:nowrap;
}
/*#toolbar_interval_switch .wm_toolbar_item, #toolbar_interval_switch .wm_toolbar_item_over {
	border:0px;
}*/
#toolbar_interval_switch .wm_toolbar_item, #toolbar_interval_switch .wm_toolbar_item_over {
	border:none !important ;
	background:none;
	margin:0px
}
.calendar_arrow_left, .calendar_arrow_right {
	float:left;
	height:26px;/*skin changed*/
	width:14px;/*skin changed*/
}
.calendar_arrow_left {
	background:url(menu/calendar_arrow_left.gif) no-repeat center center !important;
}
.calendar_arrow_right {
	background:url(menu/calendar_arrow_right.gif) no-repeat center !important;
}
#time_title_1,
#time_title_2,
#time_title_3 {
	padding:6px;
	text-align:center;
	color:#fff;/*skin changed*/
	cursor:default;
	display:none;
	display:-moz-inline-box;
	display:inline-block;
}
/* monthly classes*/
.cell, .cell_weekend {
	position:absolute;
	width:14.2857%;
	height:16.6667%;
	z-index:1;
	font:normal 11px Tahoma, Arial, Helvetica, sans-serif;
	color:#778D9F;/*skin changed*/
}
.cell_weekend {
	background-color:#F7F9FD;/*skin changed*/
}
.cell.today, .cell_weekend.today {
	background:#FFFFE5 !important;
}
.cell div.header_inactiv {
	color:#aaa;
}
.cell_weekend div.header_inactiv {
	color:#bbb;/*skin changed*/
}
.cell div.header, .cell_weekend div.header {
	height:20px;
	line-height:18px;
	text-align:right;
	padding:0 4px;
	z-index:30;
}
.cell div.header {
	background-color:#f0F3F5;/*skin changed*/
	border:solid #E3ECF9;/*skin changed*/
	border-width:1px 0 0 1px;
}
.cell_weekend div.header {
	background-color:#E6EbF3;/*skin changed*/
	border-width:1px 0px 0px 0px;
	border-style:solid;
	border-color:#d7e0ed;/*skin changed*/
}
.cell.today div.header {
	background:#F9F5D7 !important;
}
.cell_weekend.today div.header {
	background:#F7F5D3 !important;
	border-bottom:0px !important;
}
/* end monthly classes*/
/* form classes*/
.notworkday{
	overflow:hidden;
	position:absolute;
	width:100%;       
	height:9ex;
	z-index:1;
	background-color:#F7F8F9;/*skin changed*/
}
.rhead_notworkday, .rhead_odd_workday {
	position:absolute;
	left:0;
	width:40px;
	height:9ex;
	border-top:1px solid #E5E5E5;
	font-size:12px;
	line-height:4ex;
	color:#666666;
	background-color: #F7F8F9;/*skin changed*/
}
.day_headers_inner, .day_headers_inner_today {
	font:normal 11px Tahoma, Arial, Helvetica, sans-serif;
	color:#57616E;
	overflow:hidden;
	line-height:22px;
	text-align:center;
}
.day_headers_inner{
	height:24px;/*skin changed*/
}
.day_headers_inner_today{
	height:25px;
	font-weight:bold;
	color:none !important;/*skin changed*/
	background:#c8cfdb;/*skin changed*/
}
.day_headers_inner_today div {
	height:1px;
	border-right:1px solid #D4D8DF;/*skin changed*/
	border-left:1px solid #D4D8DF;/*skin changed*/
	background-color:transparent;
	overflow:hidden;
}
.day_headers_outer {
	position:absolute;
	width:14.2857%;
	top:0;
	height:24px;
	z-index:1;
	margin-top:8px;/*skin changed*/
}
.day_headers_day, .day_headers_week, .day_headers_month {
	width:auto;
	margin-left:40px;
	margin-right:16px;
	height:33px;/*skin changed*/
	position:relative;
	cursor:default;
}
.cal_time_tabs {
	position:relative;
}
.time_tabs {
	position:absolute;
	right:0px;
	margin:0px;
}
.time_tabs_outer, .time_tabs_outer_activ {
	position:absolute;
	top:4px;/*skin changed*/
	width:135px;
	z-index:1;
	background:#5b6572 url() no-repeat;
	
}
.time_tabs_outer {
	/*border:0px solid #9b9b9b;/*skin changed*/
	border-left:0px solid #4e5761;/*skin changed*/
}

#tab_1 {
	right:472px;
}

#tab_2 {
	right:336px;
}
#tab_3.time_tabs_outer div {
	border-right:0px solid #4e5761;/*skin changed*/
	right:200px;
}
.time_tabs_outer_activ {
	border-left:0;/*skin changed*/
	background:#D4D8DF url(active_tab_left.png) no-repeat 0px 0px;
	opacity:1;
}
.time_tabs_outer div, .time_tabs_outer_activ div {
	cursor:pointer;
	height:34px;/*skin changed*/
	font:normal 12px Tahoma, Arial, Helvetica, sans-serif;/*skin changed*/
	text-decoration:none;
	line-height:34px;
	text-align:center;
}
.time_tabs_outer div {
	background:url(tab.png) no-repeat left top;/*skin changed*/
	border-left:0px solid #7c8a9c;/*skin changed*/
	color:#dde0e3;
}
.time_tabs_outer_activ div {
	color:;/*skin changed*/
	background:url(active_tab_right.png) no-repeat right top;/*skin changed*/
	/*border-right:1px solid ccc;/*skin changed*/
	border-left:0px solid #7C8A9C;/*skin changed*/
	font-weight:bold;/*skin changed*/
	height:42px
}
.weekend_day {
	height:100%;
	width:14.2857%;
	position:absolute;
	top:0;
	background-color:#F7F8F9;/*skin changed*/
}
.upper_indent {
	height:4px;/*skin changed*/
	overflow:hidden;
	background:#7E8C9E;/*skin changed*/
}
.lower_indent {
	height:16px;
	overflow:hidden;
	background:none repeat scroll center top;/*skin changed*/
	margin-right:200px;
	border-top:4px solid #7E8C9E;
	
}
#area_1_day, #area_1_week, #area_2_day, #area_2_week {
	overflow:auto;
	overflow-y:scroll;
	overflow-x:hidden;
	position:relative;
	border-right:1px solid #cbcbcb;/*skin changed*/
	background-color:#fff;
}
#area_1_day, #area_1_week {
	border-bottom:#D6D6D6 2px solid;
	border-top:1px solid #cbcbcb;/*skin changed*/
}
#area_2_day, #area_2_week {
	height:600px;
	border-bottom:1px solid #cbcbcb;/*skin changed*/
}

#area_2_month {
	height:600px;
	overflow:hidden;
	position:relative;
	border-right:1px solid #CBCBCB;/*skin changed*/
	border-top:1px solid #CBCBCB;/*skin changed*/
}
#work_area_day, #work_area_week, #work_area_month {
	position:relative;
	top:0;
	left:0;
	display:none;
}
.right {
	width:200px;
	border:0;/*skin changed*/
	vertical-align:top;
	/*background-color:#f0f0f3;/*skin changed*/
	padding-top:0;
}
.calendar_header {
	height:28px;
	background:#3F464C none repeat top;/*skin changed*/
	color:#ccc;/*skin changed*/
	border-right:4px solid #424a52;/*skin changed*/
	font:bold 11px Tahoma, Arial, Helvetica, sans-serif;
	border-top:none;
	border-bottom:none;
	float:none;
	clear:both;
	display:none;
}
#calhead2 {
	background:url() repeat 0px 0px;/*skin changed*/
	border-bottom:1px solid #555;
	border-right:0px solid #333;
}
#calhead2 .calendar_header_text {
	display:block;
}
.calendar_header1 {
	padding:10px 0 0 0;
	margin:0 0 0 35px;
	font-size:11px;
	font-weight:bold;
	color:#ccc;
	font-family:Tahoma,Arial,Helvetica,sans-serif;
}
.calendar_header_text {
	float:left;
	padding-top:7px;/*skin changed*/
	text-align:center;
	cursor:default;
	width:100%;
	display:none;
}
.calendar_manager {
	border-top:4px solid #7E8C9E;/*skin changed*/
	border-left:4px solid #7E8C9E;/*skin changed*/
	margin-top:0;
	position:relative;
}
/*calendar table style*/
.today {
	background-color:#FFF7c5;/*skin changed*/
	text-align:center;
}
.today a, .today a:hover {
	color:#555 !important;/*skin changed*/
}
.select, .weekend, .basic {
	text-align:center;
	width:24px;
	height:18px;
}
.select {
	background-color:#bDc6cD;/*skin changed*/
	border:1px solid #bDc6cD;/*skin changed*/
}
.weekend {
	background-color:#F0F3F5;/*skin changed*/
	border:1px solid #F0F3F5;/*skin changed*/
}
.basic {
	/*border:1px solid #929Daa;*/
	border:1px solid #fff;
}
.mini_calendar .Calendar_Title {
	border:0;
	padding:4px 0 4px 0;
	/*color:#363C41;skin changed*/
}
.mini_calendar .calendar_block  .title{
	color:#383E44;
	border-bottom:1px solid #D4D8DF;
}
.mini_calendar .CalLink:link, .mini_calendar .CalLink:visited, .mini_calendar .CalLink:active, .mini_calendar .CalLink:hover
{
	color:#717E8D;/*skin changed*/
}
.mini_calendar .weekend .CalLink:link, .mini_calendar .weekend .CalLink:visited, .mini_calendar .weekend .CalLink:active, .mini_calendar .weekend .CalLink:hover
{
	color:;/*skin changed*/
}
.Calendar_Title {
	/*background-color: #fff;*/
	font:normal 11px Tahoma, Arial, Helvetica, sans-serif;
	border-collapse:separate;
	width:180px;
	border:1px solid #000;/*skin changed*/
	border-bottom:0;
	color:#000;/*skin changed*/
	margin:0 0 3px;
}
.Calendar_Title td {
	padding:4px 0;
	z-index:100;
}
.Calendar_Title td.middle {
	display:block;
	position:relative;
	text-align:center;
	width:120px;
	z-index:15;
}

.Calendar_Title td.arrow_left {
	text-align:right;
	width:32px;
}
 .Calendar_Title td.arrow_right {
	width:32px;
}
.edit_form .Calendar_Title {
	margin:0;
	border:1px solid #bbb;/*skin changed*/
	border-bottom:0;
	color: #696969;/*skin changed*/
	background-color:#fff;
}
.right .Calendar_Title {
	border:0;
}
.middleTdSelector {
	border:0px solid #F0F0F3;/*skin changed*/
	background-color:transparent;/*skin changed*/
	margin:1px;
	color:#57616E;
}
.middleTdSelector_over {
	border:1px solid #B9BABA;/*skin changed*/
	background-color:#FFFFFF;/*skin changed*/
}

.main_block
{
	background:;/*skin changed*/
	border-top:0 !important;/*skin changed*/
	overflow:hidden;
	
}

.wm_accountslist {
	border-bottom:0 !important;/*skin changed*/
}
/*toolbar panel*/
.cal_toolbar img
{
	vertical-align:middle;
	display:none;/*skin changed*/
}
.cal_toolbar div
{
	display:block;
	margin:;/*skin changed*/
	cursor:pointer;
	cursor:hand;
	vertical-align:middle;
}
/*accounts panel*/
.wm_accountslist_calendar
{
	display:block;
	float:left;
	font-weight:bold;
	font-size:14px;
	border-left:0px solid #BBBBBB;/*skin changed*/
	background:url(bullet.png) no-repeat scroll left center;/*skin changed*/
	margin-top:12px;
	padding:0 8px;
	height:15px;
}
.check_shared_calendar {
	padding:7px 0 0;/*skin changed*/
	width:100%;
	text-align:center;
	background:url() repeat scroll center top;/*skin changed*/
	border-top:0px solid #424A50;/*skin changed*/
	border-bottom:0px solid #424A50;/*skin changed*/
}

.check_shared_calendar a, .check_shared_calendar a:hover {
	color:#ccc;/*skin changed*/
	font-family:Tahoma;
	font-weight:normal;
	text-decoration:none;
	font-size:9px;
}
.manager_list {
}
.box {
	background-color:!important;/*skin changed*/
}
/* body {
    background-color:#F0F0F3 !important;
} */

/**** appointments *****/
.appointments .subtitle {
    color:#000000;
    font-size:115%;
    padding:0px;
    padding-right:5px;
	cursor:pointer;
	display:inline;
}
.appointments .count {
    font-size:90%;
    font-weight:normal;
}
.appointments .guest_line {
    font-weight:normal;
    padding:2px 15px 2px 5px;
	overflow:hidden;
}
.appointments .guest_name {
	width:210px;
	display:inline-block;
	overflow:hidden;
	white-space:nowrap;
}
.appointments .deleter {
    float:right;
}
.appointments .lines_open_mode {
	background:transparent url(../calendar/minicalendar_arrow_bottom.gif) no-repeat scroll center center;
	height:7px;
}
.appointments .lines_close_mode {
	background:transparent url(../calendar/minicalendar_arrow_left_activ.gif) no-repeat scroll center center;
	height:11px;
}
.appointments .lines_open_mode,
.appointments .lines_close_mode {
	float:right;
	display:inline;
	width:11px;
	height:15px;
	margin-top:0px;
	margin-right:10px;
}
.appointments .lines {
	display:none;
}

.appointments textarea {
	width:97%;
	height:70px;
	padding: 3px;
	background:#FFFFFF;
}
.appointments a {
	text-decoration:none;
}
.appointments a:hover {
	text-decoration:underline;
}

.appointments .a {
	text-decoration:none;
}

#appointmentRespondCont {
	font:bold 15px Tahoma, Arial, Helvetica, sans-serif;
	padding:7px 0;
	margin:0 3px;
}
.appointment_respond_change {
	color:#696969;
	font-size:11px;
	font-weight:normal;
	margin:0 5px;
}
.appointment_respond .disable {
	color:#696969;
}

#expandAppointmentLinkCont {
	float:right;
	padding-top: 2px;
	position:relative;
	display:inline;
	margin-right:12px;
}
#expandAppointmentLinkCont .b {
	height:1px;
	position:absolute;
	padding:0px 19px 0px 7px;
}
#expandAppointmentLinkCont .b.bottom {
	bottom:0px; left:0px;
}
#expandAppointmentLink {
	background:url(../calendar/cross_blue.png) no-repeat 7px 5px;
	border-width:0px 1px !important;
	display:inline-block;
	padding:2px 8px 0px 20px;
	height:1.5em;
	margin:1px 0px;
}
/**** end appointments *****/