<form name="editQuestions" id="editQuestions" method="post" action="">
<input type="hidden" name="contactId" value="{{contactId}}"/>
<input type="hidden" name="page" value="{{profileId}}"/>
<input type="hidden" name="pageId" value="{{pageId}}"/>
<input type="hidden" name="newCode" value="{{newCode}}"/>
<input type="hidden" name="loadFirst" value="{{loadFirst}}"/>
<input type="hidden" name="isEdited" value="{{isEdited}}"/>

<div class="top_content" style="width:855px;">
    {{#if isGuestProfile}}

    <a href="../task/new_task.php?contact_id={{contactId}}"><input type="button" style="margin-left:10px;" id="new_task"
                                                                   value=""/></a>
    <a href="../appiontment/new_appiontment.php?contact_id={{contactId}}"><input type="button" style="margin-left:10px;"
                                                                                 id="new_appointment" value=""/></a>
    <a href="../webmail/messages.php?start=1&to={{basicInfo.email}}"><input type="button" style="margin-left:10px;"
                                                                            id="newemail" value=""/></a>
    <input type="button" style="margin-left:5px;" id="archive" value="" id="archive_contact"
           onclick="archiveContact('{{contactId}}')"/>
    <input type="button" style="margin-left:5px;" value="" id="edit_contact1" name="edit_contact" class="save"
           onclick="submitProfile('{{profileId}}','{{contactId}}','{{userId}}','{{newCode}}','{{loadFirst}}')"/>
    {{/if}}
</div>

	{{#if isGuestProfile}}
	<div class="firstContent">
		<table cellspacing="0" cellpadding="0">
			<tr>
				<td class="label">Title</td>
				<td><input type="text" name="title" class="textfieldmedium" value="{{basicInfo.title}}"/></td>
			</tr>
			<tr>
				<td class="label">First Name</td>
				<td><input type="text" name="firstName" class="textfieldmedium" value="{{basicInfo.firstName}}"/></td>
			</tr>
			<tr>
				<td class="label">Last Name</td>
				<td><input type="text" name="lastName" class="textfieldmedium" value="{{basicInfo.lastName}}"/></td>
			</tr>
			<tr>
				<td class="label">Email <span style="float:right;">{{#if basicInfo.Subscribed}}
    <a href="javascript:"><img src="../../images/green.png" style="vertical-align:middle;" title="Subscribed"/>
    </a>{{/if}}{{#if basicInfo.Unprocessed}}<a href="javascript:"><img src="../../images/orange.png"
                                                                       onclick="sendPermission('{{contactId}}')"
                                                                       style="vertical-align:middle;"
                                                                       title="Unprocessed"/></a>{{/if}} {{#if basicInfo.Pending}}<a
                href="javascript:"><img src="../../images/yellow.png" onclick="sendPermission('{{contactId}}')"
                                        style="vertical-align:middle;" title="Pending"/></a>{{/if}} {{#if basicInfo.Unsubscribed}}<a
                href="javascript:"><img src="../../images/red.png" onclick="sendPermission('{{contactId}}')"
                                        style="vertical-align:middle;" title="Unsubscribed"/></a>{{/if}}</span>
    </td>
    <td><input type="text" name="email" class="textfieldmedium" id="email" value="{{basicInfo.email}}"/></td>
</tr>
<tr>
    <td class="label">Phone</td>
    <td><input type="text" name="phone" class="textfieldmedium" value="{{basicInfo.phoneNumber}}"/></td>
</tr>
<tr>
    <td class="label">Company Name</td>
    <td><input type="text" name="companyName" class="textfieldmedium" value="{{basicInfo.companyTitle}}"/></td>
</tr>
<tr>
    <td class="label">Job Title</td>
    <td><input type="text" name="jobTitle" class="textfieldmedium" value="{{basicInfo.jobTitle}}"/></td>
</tr>
<tr>
    <td class="label">Birthday</td>
    <td><input class="textfieldmedium" name="birthdate" type="text" id="birthdate" value="{{basicInfo.dateOfBirth}}"/>
    </td>
</tr>
<tr>
    <td class="label">Street Address</td>
    <td><input class="textfieldmedium" name="street" type="text" value="{{basicInfo.street}}"/></td>
</tr>
<tr>
    <td class="label">City</td>
    <td><input class="textfieldmedium" name="city" type="text" value="{{basicInfo.city}}"/></td>
</tr>
<tr>
    <td class="label">State/Prov</td>
    <td><input class="textfieldmedium" name="state" type="text" value="{{basicInfo.state}}"/></td>
</tr>
<tr>
    <td class="label">Zip/Postal</td>
    <td><input class="textfieldmedium" name="zipCode" type="text" value="{{basicInfo.zipcode}}"/></td>
</tr>
<tr>
    <td class="label">Country</td>
    <td><input class="textfieldmedium" name="country" type="text" value="{{basicInfo.country}}"></td>
</tr>
<tr>
    <td class="label">Referred By</td>
    <td colspan="2"><input class="textfieldmedium" name="referredBy" type="text" value="{{basicInfo.referredBy}}"></td>
</tr>
<tr>
    <td class="label" style="padding-bottom:68px;">Best Times To Call</td>
    <td style="padding-left:5px;">
        <div style="clear:both; margin-bottom:5px; ">
            <input name="bestTimeToCall[]" value="Weekdays" type="checkbox" {{#if basicInfo.weekdays}} checked="checked"
            {{/if}}><label class="label" style="height: 12px;margin-bottom: 10px;">Weekdays</label>
        </div>
        <div style="clear:both; margin-bottom:5px;">
            <input name="bestTimeToCall[]" value="Weekday Evenings" type="checkbox" {{#if basicInfo.weekdayEvening}}
            checked="checked" {{/if}}><label class="label" style="height: 12px;margin-bottom: 10px;">Weekday
            Evenings</label>
        </div>
        <div style="clear:both; margin-bottom:5px;">
            <input name="bestTimeToCall[]" value="Weekend Days" type="checkbox" {{#if basicInfo.weekenddays}}
            checked="checked" {{/if}}><label class="label" style="height: 12px;margin-bottom: 10px;">Weekend
            Days</label>
        </div>
        <div style="clear:both; margin-bottom:5px;">
            <input name="bestTimeToCall[]" value="Weekend Evenings" type="checkbox" {{#if basicInfo.weekenddayEvening}}
            checked="checked" {{/if}}><label class="label" style="height: 12px;margin-bottom: 10px;">Weekend
            Evenings</label>
        </div>
    </td>
</tr>
{{else}}
<div class="zeroContent">
    <table cellspacing="0" cellpadding="0">
        <tr>
            <td class="contact_label">Name</td>
            <td colspan="2">
                <input class="contact_textfield" name="firstName" type="text" value="{{basicInfo.firstName}}" / ><input
                    class="contact_textfield" name="lastName" type="text" value="{{basicInfo.lastName}}"/>
            </td>
        </tr>
        <tr>
            <td class="contact_label">Email</td>
            <td colspan="2"><input class="textfield2" name="email" type="text" value="{{basicInfo.email}}"></td>
        </tr>
        {{#if basicInfo.isPhoneNumber}}
        <tr>
            <td class="label">Phone</td>
            <td><input type="text" name="phone" class="textfieldmedium" value="{{basicInfo.phoneNumber}}"/></td>
        </tr>
        {{/if}}
        {{#if basicInfo.isDateOfBirth}}
        <tr>
            <td class="label">Birthday</td>
            <td><input class="textfieldmedium" name="birthdate" type="text" id="birthdate"
                       value="{{basicInfo.dateOfBirth}}"/></td>
        </tr>
        {{/if}}
        {{#if basicInfo.address}}
        <tr>
            <td class="label">Street Address</td>
            <td><input class="textfieldmedium" name="street" type="text" value="{{basicInfo.street}}"/></td>
        </tr>
        <tr>
            <td class="label">City</td>
            <td><input class="textfieldmedium" name="city" type="text" value="{{basicInfo.city}}"/></td>
        </tr>
        <tr>
            <td class="label">State/Prov</td>
            <td><input class="textfieldmedium" name="state" type="text" value="{{basicInfo.state}}"/></td>
        </tr>
        <tr>
            <td class="label">Zip/Postal</td>
            <td><input class="textfieldmedium" name="zipCode" type="text" value="{{basicInfo.zipcode}}"/></td>
        </tr>
        <tr>
            <td class="label">Country</td>
            <td><input class="textfieldmedium" name="country" type="text" value="{{basicInfo.country}}"></td>
        </tr>
        {{/if}}
        {{#if basicInfo.isReferredBy}}
        <tr>
            <td class="label">Referred By</td>
            <td colspan="2"><input class="textfieldmedium" name="referredBy" type="text"
                                   value="{{basicInfo.referredBy}}"></td>
        </tr>
        {{/if}}
        {{#if basicInfo.bestTimes}}
        <tr>
            <td class="label" style="padding-bottom:68px;">Best Times To Call</td>
            <td style="padding-left:5px;">
                <div style="clear:both; margin-bottom:5px; ">
                    <input name="bestTimeToCall[]" value="Weekdays" type="checkbox" {{#if basicInfo.weekdays}}
                    checked="checked" {{/if}}><label class="label"
                                                     style="height: 12px;margin-bottom: 10px;">Weekdays</label>
                </div>
                <div style="clear:both; margin-bottom:5px;">
                    <input name="bestTimeToCall[]" value="Weekday Evenings" type="checkbox" {{#if
                    basicInfo.weekdayEvening}} checked="checked" {{/if}}><label class="label"
                                                                                style="height: 12px;margin-bottom: 10px;">Weekday
                    Evenings</label>
                </div>
                <div style="clear:both; margin-bottom:5px;">
                    <input name="bestTimeToCall[]" value="Weekend Days" type="checkbox" {{#if basicInfo.weekenddays}}
                    checked="checked" {{/if}}><label class="label" style="height: 12px;margin-bottom: 10px;">Weekend
                    Days</label>
                </div>
                <div style="clear:both; margin-bottom:5px;">
                    <input name="bestTimeToCall[]" value="Weekend Evenings" type="checkbox" {{#if
                    basicInfo.weekenddayEvening}} checked="checked" {{/if}}><label class="label"
                                                                                   style="height: 12px;margin-bottom: 10px;">Weekend
                    Evenings</label>
                </div>
            </td>
        </tr>
        {{/if}}
        <!--<tr>-->
        <!--<td class="contact_label">Phone</td>-->
        <!--<td colspan="2"><input class="textfield2" name="phone" type="text" value="{{basicInfo.phoneNumber}}"></td>-->
        <!--</tr>-->
        {{/if}}
    </table>
</div>
{{#if isCompaigns}}
<div class="secondContent">
    <div class="t_heading gray">Campaigns</div>
    <table class="contact_table" style="width:278px;" cellspacing="0" cellpadding="0" id="campaigns_table">
        {{#each compaign}}
        <tr>
            <td class="plan_label1"><input type="checkbox" name="plan[]" {{#if isChecked}} checked="checked" {{/if}}
                id="step{{planId}}" value="{{planId}}" />
            </td>
            <td class="plan_label2">{{title}}</td>


            <td class="plan_label3">
                <span style="padding-left: 10px; color: red;"> {{isEdited}}</span>
                {{#if step}}
                <select id="step_list{{planId}}" name="planStepDropDown{{planId}}" onchange="checkforTheDate('{{planId}}')"   class="SelectField">
                    <option value=''>Select Plan Step</option>
                    {{#each this.step}}
                    <option id="{{daysAfter}}" name="{{isTask}}" value="{{this.stepId}}"
                    {{#if selected}} selected="selected" {{/if}}>{{this.summary}}</option>
                    {{/each}}
                    <option value="Completed"
                    {{#if Completed}} selected="selected" {{/if}}>Completed</option>
                </select>
                {{else}}
                <label id="step_list{{planId}}">No Step Avaliable</label>
                {{/if}}
            </td>
        </tr>

        <tr id="showExecutionDate{{planId}}" style=" {{#if stepEndDate}} {{else}}display:none;  {{/if}} {{#if isTask}} {{else}}display:none;  {{/if}}">
           <td class="executionDatecheckBox" colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="checkbox"  onclick="filDate('{{planId}}')"   type="checkbox" name="isCheckedPlan[]"  value="{{planId}}" checked />Execute on</td>
            <td><input  class="loadDatePicker" type="text" name="executionDate{{planId}}" id="executionDate{{planId}}" value="{{{stepEndDate}}}" /></td>

            </tr>

        {{/each}}
    </table>
</div>
{{/if}}
{{#if isNotes}}
<div class="sticky_notes">
    <span class="gray"
          style="color: #9B9B9B;font-weight: bold;text-decoration: none; background-image:url(../../images/note-center.png);background-repeat:no-repeat; display:inline-block; padding-left:180px; margin-bottom:-1px; width:238px; height:22px; cursor:pointer; "
          onclick="saveNotes();">Save</span><textarea class="stickynotes" onblur="" id="stickyNotes">{{stickyNotes.notes}}</textarea>
    <input type="hidden" value="{{stickyNotes.noteId}}" id="stickyNoteId" name="stickyNoteId"/><span class="gray"
                                                                                                     style="color: #9B9B9B;font-weight: bold;text-decoration: none; background-image:url(../../images/note-center.png); background-repeat:no-repeat; display:inline-block; padding-left:64px; width:238px; height:22px; cursor:pointer; "
                                                                                                     onclick="moveToHistory();">Move To History</span>
</div>
{{/if}}
{{#if isGrouped}}
<div class="secondContent" style="float:right; margin-right:30%">
    <div class="t_heading gray">Groups</div>
    <div id="groupslist">
        <ul>{{#each groups}}
            <li style="background-color:{{color}};"><input type="checkbox" {{#if isChecked}} checked="checked" {{/if}}
                name="groups[]" id="groups" value="{{groupId}}"/><label>{{name}}</label><label style="float:right;">
                    {{#if groupflag}}
                    <img src="../../images/link.gif" style="cursor:pointer;" width="17" height="17" title="{{linked}}"/>
                    {{/if}}</label></li>
            {{/each}}
        </ul>
    </div>
</div>
{{/if}}
<div class="thirdContent">
    <table border="0" cellpadding="0" width="100%" cellspacing="0">
        {{#each questionAnswers}}
        <table border="0" cellpadding="0" width="100%" cellspacing="0">
            <tr>
                <td colspan=3 class="question_label">{{this.question}}</td>
            </tr>
            <input type="hidden" name="typeId[]" value="{{typeId}}"/><input type="hidden" name="replyId[]"
                                                                            value="{{../replyId}}"/><input type="hidden"
                                                                                                           name="questionId[]"
                                                                                                           value="{{questionId}}"/>
            <tr>
                {{#if_eq this.typeId compare=5}}
            <tr>
                <td class="answer_label" colspan="2">
                    <table width="100%" cellspacing="0" cellpadding="0" id="contact_table" style="width:800px;">
                        <tbody>
                        <tr class="header"><input type="hidden" name="typeId[]" value="{{typeId}}"/>
                            <input type="hidden" name="replyId[]" value="{{replyId}}"/>
                            <input type="hidden" name="questionId[]" value="{{questionId}}"/>
                            <th width="30%" class="center_col_plan"></th>
                            {{#each this.choicelabel}}
                            <th class="center_col_plans">{{this}}
                                {{/each}}
                        </tr>
                        {{#each this.answer}}
                        <tr>
                            <td class="tab_ques">{{{this.choiceText}}}</td>
                            {{#each ../choicelabel}}
                            <td class="answer_label">
                                <input type="radio" {{#if_eq this compare=../answerLabel}} checked="checked"{{/if_eq}}
                                value="{{this}}" name="answer{{../choiceId}}" {{#if $first}} class="requied"{{/if}} />
                            </td>
                            {{/each}}
                        </tr>
                        {{/each}}
                        {{/if_eq}}
                        {{#if_eq this.typeId compare=4}}

                        {{#each this.answer}}
                        {{#if this.isNewRow}}
                        </tr>
                        <tr>
                            <td class="answer_label">
                                <input {{#if $first}} class="requied"{{/if}} {{#if isChecked}} checked="checked" {{/if}}
                                name="question{{this.questionId}}" type="radio" value="{{this.choiceId}}" />
                                <label class="contact_label" style="height: 12px;margin-bottom: 10px;">{{{this.choiceText}}}</label>
                            </td>

                            {{else}}
                            <td class="answer_label">
                                <input {{#if $first}} class="requied"{{/if}} {{#if isChecked}} checked="checked" {{/if}}
                                name="question{{questionId}}" type="radio" value="{{choiceId}}" />
                                <label class="contact_label"
                                       style="height: 12px;margin-bottom: 10px;">{{{choiceText}}}</label></td>
                            {{/if}}
                            {{/each}}
                            {{/if_eq}}

										{{#if_eq this.typeId compare=3}}

                            {{#each this.answer}}
                            {{#if this.isNewRow}}
                        </tr>
                        <tr>
                            <td class="answer_label">
                                <input {{#if $first}} class="requied"{{/if}} {{#if isChecked}} checked="checked" {{/if}}
                                name="question{{questionId}}[]" type="checkbox" value="{{choiceId}}" />
                                <label class="contact_label"
                                       style="height: 12px;margin-bottom: 10px;">{{{choiceText}}}</label></td>
                            {{else}}
                            <td class="answer_label">
                                <input {{#if $first}} class="requied"{{/if}} {{#if isChecked}} checked="checked" {{/if}}
                                name="question{{questionId}}[]" type="checkbox" value="{{choiceId}}" />
                                <label class="contact_label"
                                       style="height: 12px;margin-bottom: 10px;">{{{choiceText}}}</label></td>
                            {{/if}}
                            {{/each}}
                            {{/if_eq}}
                            {{#if_eq this.typeId compare=1}}
                        <tr>
                            <td class="answer_label">
                                <input type="hidden" name="typeId[]" value="{{typeId}}"/><input type="hidden"
                                                                                                name="replyId[]"
                                                                                                value="{{replyId}}"/><input
                                    type="hidden" name="questionId[]" value="{{questionId}}"/>
                                <textarea name="question{{questionId}}" class="textarea2">{{{answer}}}</textarea></td>
                        </tr>
                        {{/if_eq}}
                        {{#if_eq this.typeId compare=2}}
                        <tr>
                            <td class="answer_label">
                                <input type="hidden" name="typeId[]" value="{{typeId}}"/><input type="hidden"
                                                                                                name="replyId[]"
                                                                                                value="{{replyId}}"/><input
                                    type="hidden" name="questionId[]" value="{{questionId}}"/>
                                <textarea name="question{{questionId}}" class="textarea2">{{{answer}}}</textarea></td>
                        </tr>
                        {{/if_eq}}
                    </table>
                    {{/each}}
        </table>

</div>
{{#if isCurrentActivities}}
<div class="thirdContent" style="padding-left:15px; padding-bottom:40px;">
    <div class="table_heading">Current & Upcoming Activities</div>
    <div class="table_col" id="tasksToShow">
        <table width="100%" cellpadding="0" cellspacing="0" id="contact_table">
            <tr class="header">
                <th class="first"></th>
                <th class="center big">Summary</th>
                <th class="center">Due Date</th>
                <th class="center">Time</th>
                <th class="center">Who</th>
                <th class="center">Actions</th>
                <th class="last"></th>
            </tr>
            {{#each currentActivities}}
            {{#if isActivity}}
            <tr class="odd_gradeX" id='task{{taskId}}'>
                <td><input type='checkbox' name='task[]' class='ads_Checkbox' id='{{taskId}}' value="{{taskId}}"
                           onChange="markTaskCompleted('{{taskId}}')"></td>
                <td>{{title}}</td>
                <td>{{dates}} {{#if reoccur}}<img src="../../images/recurrence.png" title="recurs"/>{{/if}}</td>
                <td>{{times}}</td>
                <td>{{#each this.contact}}<a href="../contact/contact_detail.php?contactId={{this.contactId}}">{{this.firstName}}
                    {{this.lastName}}</a><br>{{/each}}
                </td>
                <td>{{#if reoccur}}<img src="../../images/edit.png" title="Edit" alt="Edit"
                                        onclick="editRecur('{{taskId}}')"/><img
                        onclick="delupcomingActivities('{{taskId}}')" src="../../images/Archive-icon.png" alt="Archive"
                        title="Archive"/>{{else}}<a
                        href="../task/edit_task.php?task_id={{taskId}}&contactId={{contactId}}"><img
                        src="../../images/edit.png" title="Edit" alt="Edit"/></a><img onclick="skipTask('{{taskId}}')"
                                                                                      src="../../images/skip.png"
                                                                                      alt="Skip" title="Skip"/>{{/if}}
                </td>
                <td></td>
            </tr>
            {{/if}}
            {{#if isAppiontment}}
            <tr id="recordAppiontment{{appiontmentId}}">
                <td></td>
                <td>{{title}}</td>
                <td>{{dueDate}}{{#if reoccur}}<img src="../../images/recurrence.png" title="recurs"/>{{/if}}</td>
                <td>{{dueTime}}</td>
                <td>{{#each this.contact}}<a href="../contact/contact_detail.php?contactId={{this.contactId}}">{{this.firstName}}
                    {{this.lastName}}</a><br>{{/each}}
                </td>
                <td>{{#if reoccur}}<img src="../../images/edit.png" title="Edit" alt="Edit" onclick="editRecur()"/><img
                        onclick="delupcomingAppiontments('{{appiontmentId}}')" src="../../images/Archive-icon.png"
                        alt="Archive" title="Archive"/>{{else}}<a
                        href="../appiontment/edit_appiontment.php?appId={{appiontmentId}}"><img
                        src="../../images/edit.png" title="Edit" alt="Edit"/></a><img
                        onclick="delupcomingAppiontments('{{appiontmentId}}')" src="../../images/Archive-icon.png"
                        alt="Archive" title="Archive"/>{{/if}}
                </td>
                <td></td>
            </tr>
            {{/if}}
            {{/each}}

					</table>
				</div>
			</div>
			{{/if}}

{{#if isHistory}}
<div class="thirdContent" style="padding-left:15px; padding-bottom:40px;">
    <div class="table_heading">History</div>
    <div class="table_col" id="taskHistory">
        <table width="100%" cellpadding="0" cellspacing="0" id="contact_table" class="appendnotes">
            <tr class="header">
                <th class="first"></th>
                <th class="center big">Summary</th>
                <th class="center">Completed Date</th>
                <th class="center">Time</th>
                <th class="center">Who</th>
                <th class="center">Actions</th>
                <th class="last"></th>
            </tr>
            {{#each history}}
            {{#if isNotes}}
            <tr id="recordNotes{{noteId}}">
                <td><img src="../../images/sticky_notes.jpg" style="cursor:pointer; width:15px; height:15px;"
                         id="img{{noteId}}"></td>
                <td>{{notes}}</td>
                <td>{{addedDate}}</td>
                <td>{{addedTime}}</td>
                <td><a href="../contact/contact_detail.php?contactId={{contactId}}">{{name}}</a></td>
                <td><img src="../../images/delete.png" alt="delete" title="delete" class="linkButton"
                         onclick="delnotes('{{noteId}}');"/></td>
                <td>&nbsp;</td>
            </tr>
            {{/if}}
            {{#if isActivity}}
            <tr id="task{{taskId}}">
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td class='cross'>{{title}}</td>

                <td class='cross'>{{dates}}</td>
                <td class='cross'>{{times}}</td>
                <td>{{#each this.contact}}<a href="../contact/contact_detail.php?contactId={{this.contactId}}">{{this.firstName}}
                    {{this.lastName}}</a><br>{{/each}}
                </td>
                <td>
                    {{#if_equal isTransferred taskId contactId}}{{/if_equal}}
                	<img src="../../images/delete.png" alt="delete" title="delete" class="linkButton" onclick="delupcomingActivities('{{taskId}}');"/>
                </td>
                <td>&nbsp;</td>
            </tr>
            {{/if}}
            {{#if isEmail}}
            <tr id="record{{id}}">
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td>{{subject}}</td>
                <td>{{dates}}</td>
                <td>{{times}}</td>
                <td>
                    {{#each this.contact}}<a href="../contact/contact_detail.php?contactId={{this.contactId}}">{{this.firstName}}
                    {{this.lastName}}</a><br>{{/each}}
                <td>
                    <a href="view_email_history.php?id={{id}}&contactId={{contactId}}"><img
                            src="../../images/view contact.png" title="view email" alt="view email"/></a>
                </td>
                <td>&nbsp;</td>
            </tr>
            {{/if}}
            {{/each}}
        </table>
    </div>
</div>
{{/if}}
{{#if isGuestProfile}}
<div class="secondContent">
    <input type="button" value="" id="edit_contact" name="edit_contact" class="savefile"
           onclick="submitProfile('{{profileId}}','{{contactId}}','{{userId}}','{{newCode}}','{{loadFirst}}')"/>
</div>
{{else}}
{{#if replyId}}
<div class="secondContent">
    <input type="button" value="" id="edit_contact" name="edit_contact" class="savefile"
           onclick="submitProfile('{{profileId}}','{{contactId}}','{{userId}}','{{newCode}}','{{loadFirst}}')"/>
</div>

			{{/if}}
			{{/if}}
</form> 