<div class="top_content" style="width:855px;">
    {{#if isGuestProfile}}
    <a href="../task/new_task.php?contact_id={{contactId}}"><input type="button" style="margin-left:10px;" id="new_task"
                                                                   value=""/></a>
    <a href="../appiontment/new_appiontment.php?contact_id={{contactId}}"><input type="button" style="margin-left:10px;"
                                                                                 id="new_appointment" value=""/></a>
    <a href="../webmail/messages.php?start=1&to={{basicInfo.email}}&Name={{basicInfo.firstName}} {{basicInfo.lastName}}"><input type="button" style="margin-left:10px;"
                                                                            id="newemail" value=""/></a>
    <input type="button" style="margin-left:5px;" id="archive" value="" onclick="archiveContact('{{contactId}}')"/>
    <a href="javascript:void(0);"
       onclick="javascript:getEditUrl('{{profileId}}','{{contactId}}', '{{userId}}','{{generatedVia}}','{{newCode}}','{{loadFirst}}');"
       id="editTab" class="editContact">Edit Contact</a>
    {{else}}
    {{#if isLoadFirst}}
    <a href="../task/new_task.php?contact_id={{contactId}}"><input type="button" style="margin-left:10px;" id="new_task"
                                                                   value=""/></a>
    <a href="../appiontment/new_appiontment.php?contact_id={{contactId}}"><input type="button" style="margin-left:10px;"
                                                                                 id="new_appointment" value=""/></a>
    <a href="../webmail/messages.php?start=1&to={{basicInfo.email}}&Name={{basicInfo.firstName}} {{basicInfo.lastName}}"><input type="button" style="margin-left:10px;"
                                                                            id="newemail" value=""/></a>
    <input type="button" style="margin-left:5px;" id="archive" value="" onclick="archiveContact('{{contactId}}')"/>

    {{/if}}

    {{#if replyId}}
    <a href="javascript:void(0);"
       onclick="javascript:getEditUrl('{{profileId}}','{{contactId}}','{{userId}}','{{generatedVia}}','{{newCode}}','{{loadFirst}}');"
       id="editTab" class="editContact">Edit Contact</a>
    {{/if}}
    {{/if}}

</div>

{{#if isGuestProfile}}
<div class="firstContent">
<table cellspacing="0" cellpadding="0">
<tr>
    <td class="label">Name</td>
    <td class="label">{{basicInfo.title}} {{basicInfo.firstName}} {{basicInfo.lastName}}</td>
</tr>
<tr>
    <td class="label">Address</td>
    <td class="label">{{basicInfo.street}} {{basicInfo.city}} {{basicInfo.state}} {{basicInfo.zipcode}}
        {{basicInfo.country}}
    </td>
</tr>
<tr>
    <td class="label">Email
		<span style="float:right;">
	{{#if basicInfo.Subscribed}}
        <a href="javascript:"><img src="../../images/green.png" style="vertical-align:middle;" title="Subscribed"/> </a>
	{{/if}}
	{{#if basicInfo.Unprocessed}}<a href="javascript:"><img src="../../images/orange.png"
                                                            onclick="sendPermission('{{contactId}}')"
                                                            style="vertical-align:middle;" title="Unprocessed"/></a>{{/if}}
	{{#if basicInfo.Pending}}<a href="javascript:"><img src="../../images/yellow.png"
                                                        onclick="sendPermission('{{contactId}}')"
                                                        style="vertical-align:middle;" title="Pending"/></a>{{/if}}
		{{#if basicInfo.Unsubscribed}}<a href="javascript:"><img src="../../images/red.png"
                                                                 onclick="sendPermission('{{contactId}}')"
                                                                 style="vertical-align:middle;"
                                                                 title="Unsubscribed"/></a>{{/if}}
	</span>
    </td>
    <td class="label">{{basicInfo.email}}</td>
</tr>
<tr>
    <td class="label">Phone</td>
    <td class="label">{{basicInfo.phoneNumber}}</td>
</tr>
<tr>
    <td class="label">Best Times To Call</td>
    <td class="label">{{basicInfo.weekdays}}<br/>{{basicInfo.weekdayEvening}}<br/>{{basicInfo.weekenddays}}<br/>{{basicInfo.weekenddayEvening}}
    </td>
</tr>
<tr>
    <td class="label">Referred By</td>
    <td class="label">{{basicInfo.referredBy}}</td>
</tr>
<tr>
    <td class="label">Birthday</td>
    <td class="label">{{basicInfo.dateOfBirth}}</td>
</tr>
<tr>
    <td class="label">Age</td>
    <td class="label">{{basicInfo.age}}</td>
</tr>
<tr>
    <td class="label">Company /Title</td>
    <td class="label">{{basicInfo.companyTitle}} {{basicInfo.jobTitle}}</td>
</tr>
<tr>
    <td class="label">Profile Filled</td>
    <td class="label">{{basicInfo.profiles}}</td>
</tr>
{{#if replyId}}
<tr>
    <td class="label">Profile Filled Time</td>
    <td class="label">{{replyTime}}</td>
</tr>
{{/if}}
{{else}}
{{#if replyId}}
<div class="zeroContent">
    <table cellspacing="0" cellpadding="0">
        <tr>
            <td class="labelSmall">Name</td>
            <td class="labelSmall">{{basicInfo.title}} {{basicInfo.firstName}}&nbsp;{{basicInfo.lastName}}</td>
        </tr>
        {{#if basicInfo.address}}
        <tr>
            <td class="label">Address</td>
            <td class="label">{{basicInfo.street}} {{basicInfo.city}} {{basicInfo.state}} {{basicInfo.zipcode}}
                {{basicInfo.country}}
            </td>
        </tr>
        {{/if}}
        <tr>
            <td class="labelSmall">Email<span style="float:right;">
	{{#if basicInfo.Subscribed}}
        <a href="javascript:"><img src="../../images/green.png" style="vertical-align:middle;" title="Subscribed"/> </a>
	{{/if}}
	{{#if basicInfo.Unprocessed}}<a href="javascript:"><img src="../../images/orange.png"
                                                            onclick="sendPermission('{{contactId}}')"
                                                            style="vertical-align:middle;" title="Unprocessed"/></a>{{/if}}
	{{#if basicInfo.Pending}}<a href="javascript:"><img src="../../images/yellow.png"
                                                        onclick="sendPermission('{{contactId}}')"
                                                        style="vertical-align:middle;" title="Pending"/></a>{{/if}}
		{{#if basicInfo.Unsubscribed}}<a href="javascript:"><img src="../../images/red.png"
                                                                 onclick="sendPermission('{{contactId}}')"
                                                                 style="vertical-align:middle;"
                                                                 title="Unsubscribed"/></a>{{/if}}
	</span></td>
            <td class="labelSmall">{{basicInfo.email}}</td>
        </tr>
        {{#if basicInfo.isPhoneNumber}}
        <tr>
            <td class="labelSmall">Phone</td>
            <td class="labelSmall">{{basicInfo.phoneNumber}}</td>
        </tr>
        {{/if}}
        {{#if basicInfo.bestTimes}}
        <tr>
            <td class="label">Best Times To Call</td>
            <td class="label">{{basicInfo.weekdays}}<br/>{{basicInfo.weekdayEvening}}<br/>{{basicInfo.weekenddays}}<br/>{{basicInfo.weekenddayEvening}}
            </td>
        </tr>
        {{/if}}

        {{#if basicInfo.isReferredBy}}
        <tr>
            <td class="label">Referred By</td>
            <td class="label">{{basicInfo.referredBy}}</td>
        </tr>
        {{/if}}
        {{#if basicInfo.isDateOfBirth}}
        <tr>
            <td class="label">Birthday</td>
            <td class="label">{{basicInfo.dateOfBirth}}</td>
        </tr>
        <tr>
            <td class="label">Age</td>
            <td class="label">{{basicInfo.age}}</td>
        </tr>
        {{/if}}
        <tr>
            <td class="labelSmall">Profile Filled</td>
            <td class="labelSmall">{{basicInfo.profiles}}</td>
        </tr>
        <tr>
            <td class="labelSmall">Profile Filled Time</td>
            <td class="labelSmall">{{replyTime}}</td>
        </tr>
        {{/if}}
        {{/if}}

    </table>
</div>

{{#if isCompaigns}}
<div class="secondContent">
    <div class="t_heading gray">Campaigns</div>
    <table class="contact_table" style="width:278px;" cellspacing="0" cellpadding="0" id="campaigns_table">
        {{#each compaign}}
        <tr>
            <td colspan='2'><span class='label' style='padding-left:16px;font-weight:bold;'>{{{title}}}</span></td>
        </tr>
        {{#if Completed}}
        <tr>
            <td class="plan_label" style="padding-left:18px; font-size:12px  !important;"><span
                    style="height:25px; width:200px; padding:2px 20px 2px 5px">Completed</span>
            </td>
        </tr>
        {{else}}
        {{#each this.step}}
        <tr>
            <td class="plany_label"
                style=" color:#555;padding-left:18px; padding-bottom:5px; font-size:12px  !important; {{#if this.isBlocked}}background-color:#FF0000;{{/if}}"
            {{#if this.isBlocked}} onclick="blockAlert();" {{/if}}><span
                style="height:25px; width:200px; padding:2px 20px 2px 5px;">{{#if this.isSkipped}}<b>Skipped:</b>{{/if}}{{{this.summary}}} {{#if this.stepEndDate}}<span style="color: #5e5e5e; padding-left: 5px;font-size:11px !important; cursor: pointer; " title="Execution Date">{{{stepEndDate}}}</span>{{/if}}</span></td>
        </tr>
        {{/each}}
        {{/if}}
        {{else}}
        <tr>
            <td>&nbsp;</td>
            <td><span class='label'>No Step Assign</span></td>
        </tr>
        {{/each}}
    </table>
</div>
{{/if}}
{{#if isNotes}}
<div class="sticky_notes">
    <span class="gray"
          style="color: #9B9B9B;font-weight: bold;text-decoration: none; background-image:url(../../images/note-center.png);background-repeat:no-repeat; display:inline-block; padding-left:180px; margin-bottom:-1px; width:238px; height:22px; cursor:pointer; "
          onclick="saveNotes();">Save</span><textarea class="stickynotes" onblur="" id="stickyNotes">{{stickyNotes.notes}}</textarea>
    <input type="hidden" value="{{stickyNotes.noteId}}" id="stickyNoteId" name="stickyNoteId"/><span class="gray"
                                                                                                     style="color: #9B9B9B;font-weight: bold;text-decoration: none; background-image:url(../../images/note-center.png); background-repeat:no-repeat; display:inline-block; padding-left:64px; width:238px; height:22px; cursor:pointer; "
                                                                                                     onclick="moveToHistory();">Move To History</span>
</div>
{{/if}}
{{#if isGrouped}}
<div class="secondContent" style="float:right; margin-right:30%">
    <div class="t_heading gray">Groups</div>
    <div id="groupslist">
        <ul>{{#each groups}}
            <li style="background-color:{{color}};">
                <input disabled="disabled" checked="checked" type="checkbox" id="groupcheckbox[]" name="groupcheckbox[]"
                       value="{{groupId}}"/><label class="plan_label">{{name}}</label><label style="float:right;">
                {{#if groupflag}}
                <img src="../../images/link.gif" style="cursor:pointer;" width="17" height="17" title="{{linked}}"/>
                {{/if}}</label></li>
            {{else}}
            <span class='label'>No Group Assign</span>
            {{/each}}
        </ul>
    </div>
</div>
{{/if}}


<div class="thirdContent">
    <table border="0" cellpadding="0" width="100%" cellspacing="0">
        {{#each questionAnswers}}
        <tr>
            <td class="question_label bullet">{{this.question}}</td>
        </tr>
        {{#if this.isChoice}}
        {{#each this.answer}}
        <tr>
            <td class="answer_label">{{{this.completeAnswer}}}</td>
        </tr>
        {{/each}}
        {{else}}
        <tr>
            <td class="answer_label">{{this.answer}}</td>
        </tr>
        {{/if}}
        {{/each}}
    </table>

</div>


{{#if isCurrentActivities}}
<div class="thirdContent" style="padding-left:15px; padding-bottom:40px;">
    <div class="table_heading">Current & Upcoming Activities</div>
    <div class="table_col" id="tasksToShow">
        <table width="100%" cellpadding="0" cellspacing="0" id="contact_table">
            <tr class="header">
                <th class="first"></th>
                <th class="center big">Summary</th>
                <th class="center">Due Date</th>
                <th class="center">Time</th>
                <th class="center">Who</th>
                <th class="center">Actions</th>
                <th class="last"></th>
            </tr>
            {{#each currentActivities}}
            {{#if isActivity}}
            <tr class="odd_gradeX" id='task{{taskId}}'>
                <td><input type='checkbox' name='task[]' class='ads_Checkbox' id='{{taskId}}' value="{{taskId}}"
                           onChange="markTaskCompleted('{{taskId}}')"/></td>
                <td>{{title}}</td>
                <td>{{dates}} {{#if reoccur}}<img src="../../images/recurrence.png" title="recurs"/>{{/if}}</td>
                <td>{{times}}</td>
                <td>{{#each this.contact}}<a href="../contact/contact_detail.php?contactId={{this.contactId}}">{{this.firstName}}
                    {{this.lastName}}</a><br/>{{/each}}
                </td>
                <td>{{#if reoccur}}<img src="../../images/edit.png" title="Edit" alt="Edit"
                                        onclick="editRecur('{{taskId}}')"/><img
                        onclick="delupcomingActivities('{{taskId}}')" src="../../images/Archive-icon.png" alt="Archive"
                        title="Archive"/>{{else}}<a
                        href="../task/edit_task.php?task_id={{taskId}}&contactId={{contactId}}"><img
                        src="../../images/edit.png" title="Edit" alt="Edit"/></a><img onclick="skipTask('{{taskId}}')"
                                                                                      src="../../images/skip.png"
                                                                                      alt="Skip" title="Skip"/>{{/if}}
                </td>
                <td></td>
            </tr>
            {{/if}}
            {{#if isAppiontment}}
            <tr id="recordAppiontment{{appiontmentId}}">
                <td></td>
                <td>{{title}}</td>
                <td>{{dueDate}}{{#if reoccur}}<img src="../../images/recurrence.png" title="recurs"/>{{/if}}</td>
                <td>{{dueTime}}</td>
                <td>{{#each this.contact}}<a href="../contact/contact_detail.php?contactId={{this.contactId}}">{{this.firstName}}
                    {{this.lastName}}</a><br/>{{/each}}
                </td>
                <td>{{#if reoccur}}<img src="../../images/edit.png" title="Edit" alt="Edit" onclick="editRecur()"/><img
                        onclick="delupcomingAppiontments('{{appiontmentId}}')" src="../../images/Archive-icon.png"
                        alt="Archive" title="Archive"/>{{else}}<a
                        href="../appiontment/edit_appiontment.php?appId={{appiontmentId}}"><img
                        src="../../images/edit.png" title="Edit" alt="Edit"/></a><img
                        onclick="delupcomingAppiontments('{{appiontmentId}}')" src="../../images/Archive-icon.png"
                        alt="Archive" title="Archive"/>{{/if}}
                </td>
                <td></td>
            </tr>
            {{/if}}
            {{/each}}

        </table>
    </div>
</div>
{{/if}}

{{#if isHistory}}
<div class="thirdContent" style="padding-left:15px; padding-bottom:40px;">
    <div class="table_heading">History</div>
    <div class="table_col" id="taskHistory">
        <table width="100%" cellpadding="0" cellspacing="0" id="contact_table" class="appendnotes">
            <tr class="header">
                <th class="first"></th>
                <th class="center big">Summary</th>
                <th class="center">Completed Date</th>
                <th class="center">Time</th>
                <th class="center">Who</th>
                <th class="center">Actions</th>
                <th class="last"></th>
            </tr>
            {{#each history}}
            {{#if isNotes}}
            <tr id="recordNotes{{noteId}}">
                <td><img src="../../images/sticky_notes.jpg" style="cursor:pointer; width:15px; height:15px;"
                         id="img{{noteId}}"/></td>
                <td>{{notes}}</td>
                <td>{{addedDate}}</td>
                <td>{{addedTime}}</td>
                <td><a href="../contact/contact_detail.php?contactId={{contactId}}">{{name}}</a></td>
                <td><img src="../../images/delete.png" alt="delete" title="delete" class="linkButton"
                         onclick="delnotes('{{noteId}}');"/></td>
                <td>&nbsp;</td>
            </tr>
            {{/if}}
            {{#if isActivity}}
            <tr id="task{{taskId}}">
                <td>&nbsp;&nbsp;</td>
                <td class='cross'>{{title}}</td>
                <td class='cross'>{{dates}}</td>
                <td class='cross'>{{times}}</td>
                <td>{{#each this.contact}}<a href="../contact/contact_detail.php?contactId={{this.contactId}}">{{this.firstName}}
                    {{this.lastName}}</a><br/>{{/each}}
                </td>
                <td>
                   
                    {{#if_equal isTransferred taskId contactId}}{{/if_equal}}
                    <img src="../../images/delete.png" alt="delete" title="delete" class="linkButton" onclick="delupcomingActivities('{{taskId}}');"/>
                </td>
                <td>&nbsp;</td>
            </tr>
            {{/if}}
            {{#if isEmail}}
            <tr id="record{{id}}">
                <td>&nbsp;&nbsp;</td>
                <td>{{subject}}</td>
                <td>{{dates}}</td>
                <td>{{times}}</td>
                <td>
                    {{#each this.contact}}<a href="../contact/contact_detail.php?contactId={{this.contactId}}">{{this.firstName}}
                    {{this.lastName}}</a><br/>{{/each}}
                </td>
                <td><a href="view_email_history.php?id={{id}}&contactId={{contactId}}"><img
                        src="../../images/view contact.png" title="view email" alt="view email"/></a>
                </td>
                <td>&nbsp;</td>
            </tr>
            {{/if}}
            {{/each}}
        </table>
    </div>
</div>
{{/if}}
</table>
</div>