/*Template Name:BucketAdmin Dashboard build with Bootstrap v3.0.3Template Version:1.0Author:ThemeBucket*/
/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);
@import url(bucket-ico-fonts.css);

@charset "utf-8";
/* CSS Document */

div.pagination1 {
    padding: 3px;
    margin: 3px;
    margin-top: -15px;
    padding-bottom: 5px;
	
}

div.pagination1 a {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #333333;

    text-decoration: none; /* no underline */
    color: #000000;
}

div.pagination1 a:hover, div.pagination a:active {
    border: 1px solid #333333;
    background: #000000;
    color: #FFFFFF;
}

div.pagination1 span.current {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #000099;

    font-weight: bold;
    background-color: #000000;
    color: #FFFFFF;
}

div.pagination1 span.disabled {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #EEEEEE;

    color: #DDDDDD;
}

.textfields {
    border: 1px solid;
    border-radius: 8px;
    border-color: cadetblue;
}

.textfieldsbuttons {
    border: 1px solid;
    border-radius: 15px;
    border-color: cadetblue;
    background-color: #333333;
    padding: 5px 15px 5px 15px;
    color: #FFFFFF;
    text-align: center;
}

.textfieldsbuttons a:hover {
    border: 1px solid;
    border-radius: 15px;
    border-color: cadetblue;
    background-color: #333333;
    padding: 5px 15px 5px 15px;
    color: #000000 !important;
    text-align: center;
}

.title-row {
    width: 92%;
    height: 25px;
    background: #000;
    color: #FFFFFF;
    font-size: 15px;
    display: table;
    margin-bottom: 9px;
}

.title-row-li {
    /*float: left;*/
    width: 28%;
    list-style: none;
    text-align: left;
    vertical-align: middle;
    display: table-cell;
}

.subtitle-row {
    width: 100%;
    height: 21px;
    border-bottom: 4px solid #3c3c3c;

    color: #000000;
    font-size: 16px;
}

.subtitle-row-li {
    float: left;
    height: 25px;
    width: 25%;
    list-style: none;
    font-size: 14px;
    text-align: left;
}

.redmessage {
    color: red;
}

.user-detail {
    width: 80%;
    padding-left: 100px;
    list-style: none;
    line-height: 30px;
    text-decoration: inherit;
    font-size: 13px;
}

.user-detail-li {
    width:400px;
}
.leader-detail {
    width: 80%;
    padding-left: 35px;
    list-style: none;
    line-height: 30px;
    text-decoration: inherit;
    font-size: 13px;
}

.leader-detail-li {
    width:250px;
}


.title-li {
    text-align: center;
    margin-top: 0px;
    list-style: none;
}

/* pagination */
.pagination1 {
    margin: 0;
    padding: 0;
    float: left;
}

.pagination1 ul {
    width: 525px;
    float: right;
    list-style: none;
    margin: 20px 0 0;
    padding: 0;
}

.pagination1 li span {
    line-height: 45px;
    font-weight: bold;
}

.pagination1 li {
    margin: 0 0 0 0;
    float: left;
    font-size: 11px;
    text-transform: uppercase;
}

.pagination1 li a {
    color: #7f8588;
    padding: 5px 0 0 0;
    width: 30px;
    height: 21px;
    text-decoration: none;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    display: block;
}

.pagination1 li:last-child a:hover {
    background: none;
    color: #7f8588;
}

.pagination1 li:first-child a:hover {
    background: none;
    color: #7f8588;
}

.pagination1 li a:hover {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 5px 0 0 0;
    width: 30px;
    height: 21px;
}

.pagination1 li.activepage a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 0 0 0;
}

.active {
    background-color: #000000;
}

#tblUser {
    margin-top: 25px;
    color: #555 !important;
    font-size:15px;
}
#logTable {
    margin-top: 25px;
    color: #555 !important;
    font-size:15px;
}
#tblPayment{
    color: #555 !important;
    font-size:15px;

}
#tblUserDetail{
    margin-top: 25px;
    font-size:15px;
}
.sales-record{
    width: 400px;
    height: 145px;
    border: 1px solid #000000;
    border-radius: 10px;
    color: #000000;
    font-size: 14px;
    padding-left: 25px;
	margin-top:6px;
	
}

.container-admin {
    height: auto;
    margin: 0 auto;
    width: 1100px;
}